@{
    Layout = null;
}

<div style="width:400px;">
    @* <div class="window-tab preload-overlay" style="display:none;">
    <div class="preloader"><img src="/Images/preloader.GIF" width="32" height="32" alt="Loading" /></div>
    </div>
    <span class="tooltipArrow"></span> *@
    <div class="gridItemPopupInner">
        <div class="AcademicYear gridItemContent" data-attr="AcademicYear">

            <div class="controls">
                <label>@Eduegate.ERP.Admin.Globalization.ResourceHelper.GetValue("School")</label>
                <select class="form-control validate" required="" aria-required="true" name="School" id="School"
                        ng-options="item as item.Value for item in School track by item.Key" ng-change="FillAcademicYearBySchool()"
                        ng-model="SelectedSchool" autofocus=autofocus tabindex="0">
                </select>
                <i class="dropdownarrow fa fa-caret-down"></i>
            </div>
            <div class="controls">
                <label>@Eduegate.ERP.Admin.Globalization.ResourceHelper.GetValue("Academic Year")</label>
                <select class="form-control validate" required="" aria-required="true" name="AcademicYear" id="AcademicYear"
                        ng-options="item as item.Value for item in AcademicYear track by item.Key"
                        ng-model="SelectedAcademicYear" autofocus=autofocus tabindex="0">
                </select>
                <i class="dropdownarrow fa fa-caret-down"></i>
            </div>

            <div class="modal-footer">
                <input type="button" value="@Eduegate.ERP.Admin.Globalization.ResourceHelper.GetValue("Apply")" class="button-orange me-2" ng-click="SaveSchool();" />
                @* <input type="button" value="@Eduegate.ERP.Admin.Globalization.ResourceHelper.GetValue("Close")" class="button-orange" ng-click="CloseSchoolPopup();" /> *@
            </div>
        </div>

    </div>
</div>