@using Eduegate.Web.Library.ViewModels
@using Eduegate.Services.Contracts.Enums

@{
    if (Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest")
    {
        Layout = null;
    }

    var viewIID =Eduegate.Services.Contracts.Enums.SearchView.ProductSKUTag;
    var windowName = "window_" + Guid.NewGuid();
}
<div id="@windowName" class="summary-wrap" ng-controller="SummaryViewController" ng-init="SummaryViewInit('@windowName', '@viewIID',@ViewBag.IID,'@DynamicViews.ProductSKUTag');">
    <div class="preload-overlay" style="display:block;">
        <div class="preloader">
            <img src="/Images/preloader.GIF" width="32" height="32" alt="Loading" />
            <div class="loadertextwrap">
                <div id="Loadertext">
                    <div id="fadetext_1" class="loadingtext">L</div>
                    <div id="fadetext_2" class="loadingtext">o</div>
                    <div id="fadetext_3" class="loadingtext">a</div>
                    <div id="fadetext_4" class="loadingtext">d</div>
                    <div id="fadetext_5" class="loadingtext">i</div>
                    <div id="fadetext_6" class="loadingtext">n</div>
                    <div id="fadetext_7" class="loadingtext">g</div>
                    <div id="fadetext_8" class="loadingtext">.</div>
                    <div id="fadetext_9" class="loadingtext">.</div>
                    <div id="fadetext_10" class="loadingtext">.</div>
                </div>
                <span class="canceloperation" ng-click="CloseSummaryPanel($event);">Cancel</span>
            </div>
        </div>
    </div>

    <div class="summary-header">
        <div class="summary-controls">
            <ul class="summary-tab">
                <li class="summary-tab-list active" title="Sku Tag Detail" content-tab="skuTagdetail"><i class="fa fa-file-text"></i></li>
            </ul>
            <div class="alignright panelcontrols">
                <span class="remove" ng-click="CloseSummaryPanel($event);">x</span>
                <span class="minmax"></span>
            </div>
        </div>
    </div>
    <div class="quickviewwrap">
        <div id="skuTagdetail" class="summarytab-content first">
            <h4>SKU Tag Details</h4>
            <div class="summary-tab-inner">
                <div class="summary-content">
                    @await Html.PartialAsync("~/Views/Shared/_InfoMessage.cshtml")
                    <div class="label-value-box">
                        <div class="label-value-box-inner">
                            <span class="label-style">SKU  Tag ID</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.ProductSKUTag).ProductSKUTagIID"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Tag Name</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.ProductSKUTag).TagName"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Created</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.ProductSKUTag).CreatedDate"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Updated</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.ProductSKUTag).UpdatedDate"></span>
                        </div>
                    </div>
                </div>
                <div class="summary-toggle">
                    <div class="sum_toggleheader" ng-click="GetDynamicViewGrid('@DynamicViews.ProductSKUTagMaps', ViewModels.@(DynamicViews.ProductSKUTag).ProductSKUTagIID, false, $event)">Associated SKU's</div>
                    <div class="sum_togglecontent">
                        <table class="data-grid">
                            <thead>
                                <tr>
                                    <th>SKU ID</th>
                                    <th>SKU Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="grid in ViewModels.@(DynamicViews.ProductSKUTagMaps)">
                                    <td><span ng-bind="grid.ProductSKUMapID"></span></td>
                                    <td><span ng-bind="grid.SKUName"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>
    </div>
 </div>
<script>
    $(document).ready(function () {
        $('#@windowName .summary-panel .remove').on('click', function () {
            $('.pagecontent', '#@windowName').removeClass('summaryview');
        });

        $('#@windowName .summary-toggle .sum_toggleheader').on('click', function () {
            $(this).parent().toggleClass('show');

            if ($(this).parent().hasClass('show')) {
                $(this).parent().addClass('show');
                $(this).parent().find('.sum_togglecontent').slideDown('fast');
            }
            else {
                $(this).parent().removeClass('show');
                $(this).parent().find('.sum_togglecontent').slideUp('fast');
            }
        });

        $('#@windowName .summarytab-content.first').show();

        $('#@windowName .summary-tab .summary-tab-list').on('click', function () {
            $('.summary-tab-list', '#@windowName').removeClass('active');
            $('.summarytab-content', '#@windowName').hide();
            $(this).addClass('active');
            $('#' + $(this).attr('content-tab'), '#@windowName').fadeIn('medium');
        });
    });
</script>