<div class="main-page row g-0 g-xl-2 mb-5 mb-xl-10">
    <div class="scheduleWrapper innertab subject" id="Timesheet_Pending_Tab" style="display:block">
        <div class="window-tab preload-overlay" style="display:none;">
            <div class="preloader"><img src="~/Images/preloader.gif" width="32" height="32" alt="Loading" /></div>
        </div>
        <div class="col-md-12">
            <div class="app-content  flex-column-fluid p-0">
                <div class="app-container  container-fluid ">
                    <div class="row gy-0 g-xl-2">
                        <div class="col-lg-4">
                            <span class="form-group">
                                <span class="controls w-75">
                                    <label>Employee<span class="cufon" style="color:red;font-weight:700">&nbsp;*</span></label>
                                    <ui-select style="width: 100%;" ng-model="PendingMaster.SelectedEmployee"
                                               theme="select2" class="pos-txt" sortable="true" name="PendingSelectedEmployee" id="PendingSelectedEmployee">
                                        <ui-select-match placeholder="Search">{{$select.selected.Value}}</ui-select-match>
                                        <ui-select-choices repeat="data in Employees | filter:$select.search">{{data.Value}}</ui-select-choices>
                                    </ui-select>
                                </span>
                            </span>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-lg-4">
                            <span class="form-group">
                                <span class="controls w-75">
                                    <label>Date From<span class="cufon" style="color:red;font-weight:700">&nbsp;*</span></label>
                                    <span class="controls brand">
                                        <input type="text" autocomplete="off" ng-model="PendingMaster.SelectedFromDate" wb-datepicker=wb-datepicker ng-change="ChangePendingFromDate()" />
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="col-lg-4">
                            <span class="form-group">
                                <span class="controls w-75">
                                    <label>Date To</label>
                                    <span class="controls brand">
                                        <input type="text" autocomplete="off" ng-model="PendingMaster.SelectedToDate" wb-datepicker=wb-datepicker ng-change="CheckPendingDateRanges()" />
                                    </span>
                                </span>
                            </span>

                            <span class="controls">

                            </span>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-lg-4">

                            <div class="my-1 me-5">

                            </div>

                            <input type="button" value="Load" class="btn btn-sm btn-bg-dark btn-color-gray-100 btn-success" ng-click="GetEmployeePendingTimesheetsData()" />

                        </div>
                        <div class="w-100"></div>
                        <div class="row gy-0 g-xl-2">
                            <div class="col-lg-4">
                                <span class="form-group">
                                    <span class="controls w-75">
                                        <label>Status</label>
                                        <span class="controls brand">
                                            <select class="form-control validate" name="SelectedStatus" id="SelectedStatus"
                                                    ng-options="item as item.Value for item in ApprovalStatuses track by item.Key"
                                                    ng-model="PendingMaster.SelectedStatus" ng-change="UpdatePendingTimeSheetsStatus()">
                                            </select>
                                            <i class="dropdownarrow fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </span>

                                <span>
                                    <input type="button" value="Approve" class="btn btn-sm btn-color-gray-100 btn-dark btn-secondary" ng-click="PublishPendingTimesheets()" />
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row gy-5 g-xl-10">
                        <div class="col-md-12">
                            <div class="app-content  flex-column-fluid">

                                <div class="card card-flush mb-5 mb-xl-10">
                                    <div class="card-body p-0">
                                        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                            <div class="table-responsive">
                                                <table class="table align-middle fs-6 gy-3  no-footer mb-0">
                                                    <thead style=" background: #f5f5f5; border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1;">
                                                        <tr class="text-start align-middle text-gray-600 fw-normal fs-7  gs-0 text-truncate">
                                                            <th class="min-w-20px sorting ps-3 align-middle"><input type="checkbox" name="IsSelectedToPublish" id="IsSelectedToPublish" ng-click="SelectedPendingSheetHeaderCheckBox()" /></th>
                                                            <th class="text-start align-middle pe-3 min-w-30px sorting_disabled">SL. No.</th>
                                                            <th class="text-start align-middle pe-3 min-w-150px sorting">Employee name</th>
                                                            <th class="text-end align-middle pe-3 min-w-30px sorting">Date</th>
                                                            <th class="text-end align-middle pe-3 min-w-0px sorting">Normal hours</th>
                                                            <th class="text-end align-middle  min-w-30px sorting">OT hours</th>
                                                            <th class="text-end align-middle  min-w-75px sorting">Type</th>
                                                            <th class="text-end align-middle  min-w-30px sorting">Approved normal hours</th>
                                                            <th class="text-end align-middle  min-w-30px sorting">Approved OT hours</th>
                                                            <th class="text-end align-middle  min-w-75px sorting">Status</th>
                                                            <th class="text-end align-middle  min-w-75px sorting">Remarks</th>
                                                            <th class="text-end align-middle  min-w-30px sorting"></th>
                                                            <th class="text-end align-middle  min-w-30px sorting"></th>
                                                            <th class="text-end align-middle  min-w-30px pe-3 sorting"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="fw-normal text-gray-800 text-truncate">

                                                        <tr ng-if="PendingTimeSheetsDatas.length == 0" colspan="100%">
                                                            <td class="ex-large-col-width">
                                                                <div class="py-10 text-center">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-database-fill-exclamation w-50px h-50px" viewBox="0 0 16 16">
                                                                        <path d="M8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1Z" />
                                                                        <path d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12.31 12.31 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7Zm6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.552 4.552 0 0 1 .23-2.002Zm-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.507 4.507 0 0 1-1.3-1.905Z" />
                                                                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5Zm0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z" />
                                                                    </svg>
                                                                </div>
                                                                <div class="mt-2">
                                                                    <h2 class="fw-semibold text-gray-800 text-center lh-lg">
                                                                        No data found
                                                                    </h2>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat-start="timesheet in PendingTimeSheetsDatas track by $index" class="ng-scope" ng-init="current = $parent.start; $parent.start=$parent.start+1;">
                                                            <!--begin::Item-->
                                                            <td class="ps-3 align-middle">
                                                                <input type="checkbox" name="IsSelected" id="IsSelected" ng-model="timesheet.IsSelected" />
                                                            </td>
                                                            <td class="text-start align-middle">
                                                                {{$index +1}}
                                                            </td>
                                                            <td class="text-start align-middle">
                                                                {{timesheet.Employee.Value}}
                                                            </td>
                                                            <td class="text-end align-middle">
                                                                {{timesheet.TimesheetDateString}}
                                                            </td>
                                                            <td class="text-end align-middle">
                                                                {{timesheet.TotalNormalHours}}
                                                            </td>

                                                            <td class="text-end align-middle">
                                                                {{timesheet.TotalOverTimeHours}}
                                                            </td>
                                                            <td class="text-end align-middle">
                                                                <span class="controls brand min-w-150px">
                                                                    <select class="form-control" name="TimesheetTimeType" id="TimesheetTimeType"
                                                                            ng-options="item as item.Value for item in TimeTypes track by item.Key"
                                                                            ng-model="timesheet.TimesheetTimeType" ng-change="PendingTimesheetTypeChanges(timesheet)">
                                                                        <option value=""></option>
                                                                    </select>
                                                                    <i class="dropdownarrow fa fa-caret-down"></i>
                                                                </span>
                                                            </td>
                                                            <td class="text-end align-middle">
                                                                <input type="text" ng-model="timesheet.ApprovedNormalHours" />
                                                            </td>
                                                            <td class="text-end align-middle">
                                                                <input type="text" ng-model="timesheet.ApprovedOTHours" />
                                                            </td>
                                                            <td class="text-end align-middle">
                                                                <span class="controls brand min-w-150px">
                                                                    <select class="form-control" name="TimesheetApprovalStatus" id="TimesheetApprovalStatus"
                                                                            ng-options="item as item.Value for item in ApprovalStatuses track by item.Key"
                                                                            ng-model="timesheet.TimesheetApprovalStatus">
                                                                    </select>
                                                                    <i class="dropdownarrow fa fa-caret-down"></i>
                                                                </span>
                                                            </td>
                                                            <td class="text-end align-middle">
                                                                <input type="text" ng-model="timesheet.Remarks" />
                                                            </td>
                                                            <td class="text-end align-middle" data-order="58">
                                                                <div class="symbol symbol-30px" ng-click="SavePendingTimesheetApprovalData(timesheet)">
                                                                    <span class="symbol-label">

                                                                        <?xml version="1.0" ?>
                                                                        <svg class="bi bi-check fs-3 text-gray-600" id="Layer_1" style="enable-background:new 0 0 30 30;" version="1.1" viewBox="0 0 30 30" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M22,4h-2v6c0,0.552-0.448,1-1,1h-9c-0.552,0-1-0.448-1-1V4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18  c1.105,0,2-0.895,2-2V8L22,4z M22,24H8v-6c0-1.105,0.895-2,2-2h10c1.105,0,2,0.895,2,2V24z" /><rect height="5" width="2" x="16" y="4" /></svg>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td class="text-end">
                                                                <div class="controls text-center">
                                                                    <button type="button" data-toggle="collapse" ng-if="timesheet.TimeSheetTimeDetails.length > 0" data-target="#collapseExample{{current.toString()}}" aria-expanded="false" aria-controls="collapseExample{{current.toString()}}"
                                                                            class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px">
                                                                        <span class="svg-icon svg-icon-3 m-0" ng-if="timesheet.IsExpand">
                                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"></rect>
                                                                            </svg>
                                                                        </span>
                                                                        <span class="svg-icon svg-icon-3 m-0" ng-if="!timesheet.IsExpand">
                                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="currentColor"></rect>
                                                                                <rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"></rect>
                                                                            </svg>

                                                                        </span>
                                                                        <!--end::Svg Icon-->
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="collapse" id="collapseExample{{current.toString()}}"
                                                            ng-repeat-start="detail in timesheet.TimeSheetTimeDetails track by $index">

                                                            <td class="text-end">
                                                            </td>
                                                            <td class="text-end">
                                                            </td>
                                                            <td class="text-start">
                                                                <div class="text-gray-800 fs-7">From time</div>
                                                                <span ng-bind="detail.FromTimeString" class="text-muted fs-7 fw-bold"></span><span class="redcolor"></span>
                                                            </td>
                                                            <td class="text-end">
                                                                <div class="text-gray-800 fs-7">To time</div>
                                                                <span ng-bind="detail.ToTimeString" class="text-muted fs-7 fw-bold"></span><span class="redcolor"></span>
                                                            </td>
                                                            <td class="text-end">
                                                                <div class="text-gray-800 fs-7">Type</div>
                                                                <span ng-bind="detail.TimesheetTimeTypeName" class="text-muted fs-7 fw-bold"></span><span class="redcolor"></span>
                                                            </td>
                                                            <td class="text-end">
                                                                <div class="text-gray-800 fs-7">Normal hours</div>
                                                                <span ng-bind="detail.NormalHours" class="text-muted fs-7 fw-bold"></span><span class="redcolor"></span>
                                                            </td>
                                                            <td class="text-end">
                                                                <div class="text-gray-800 fs-7">OT hours</div>
                                                                <span ng-bind="detail.OTHours" class="text-muted fs-7 fw-bold"></span><span class="redcolor"></span>
                                                            </td>
                                                            <td class="text-end">
                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat-end="" class="ng-scope"></tr>
                                                        <tr ng-repeat-end="" class="ng-scope"></tr>
                                                    </tbody>
                                                    <!--end::Table body-->
                                                </table>
                                            </div><div class="row"><div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"></div><div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end"></div></div>
                                        </div>
                                        <!--end::Table-->
                                    </div>
                                    <!--end::Card body-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
            </div>
            <!--end::Content container-->
        </div>
    </div>

</div>