@model Eduegate.Web.Library.ViewModels.SearchListViewModel
@{
    Layout = null;
    var viewIID = Eduegate.Services.Contracts.Enums.SearchView.BrandPriceSetting;
}

<div id="BrandPriceSettingLists" class="windowcontainer">
    <div ng-controller="ViewController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model), '@viewIID');InitializeWayPoint();">
        @*<div class="pagenav"><a class="pagenav-leftmargin">Dashboard </a><a class="pagenav-leftmargin">  </a> /<span> Lists</span></div>*@
        <div class="pageheadername"><div>View Brand Settings</div><div class="alignright menugroup"></div></div>

        @Html.Partial("_SummaryHeader", Model)
        @Html.Partial("_List", Model)
    </div>
</div>