@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout_Exam.cshtml";
    var ExamQuestions = ViewBag.ExamQuestions;
    var CandidateExamMapData = ViewBag.ExamMapData;
}

@*<head runat="server">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script type="text/javascript">

        //To get current time start
        $(document).ready(function () {
            ShowTime();
        });
        function ShowTime() {
            var dt = new Date();
            document.getElementById("currentTime").innerHTML = dt.toLocaleTimeString();
            window.setTimeout("ShowTime()", 1000); // Here 1000(milliseconds) means one 1 Sec
        }
            //To get current time end

    </script>
</head>*@

<div id="OnlineExamQuestions" ng-controller="ExamQuestionController" ng-init="Init(@Newtonsoft.Json.JsonConvert.SerializeObject(ExamQuestions), @Newtonsoft.Json.JsonConvert.SerializeObject(CandidateExamMapData))">
    <header class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-top bg-white">
        <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
            <div class="bd-navbar-toggle">
                <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar" aria-controls="bdSidebar" aria-label="Toggle docs navigation">

                    <span class="d-none fs-6 pe-1">Browse</span>
                </button>
            </div>
            <a class="navbar-brand p-0 me-0 me-lg-2">

                <img alt="Logo" src="~/img/PODARLOGO-01.png" class="h-35px">

            </a>
        </nav>
    </header>
    <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
        <aside class="bd-sidebar">

            <div class="menu menu-column menu-active-bg menu-hover-bg menu-title-gray-700 fs-6 menu-rounded w-100">
                <div class="menu-item">
                    <div class="menu-content pb-2">
                        <span class="menu-section text-muted text-uppercase fs-7 fw-bold">Time</span>
                    </div>
                </div>

                <div class="menu-item" id="currenttime" runat="server">
                    <div class="menu-link row">
                        <span class="menu-title">Current time</span>
                        <label class="fs-3" id="currentTime" ng-bind="CurrentTime"></label>
                    </div>
                </div>
            </div>
        </aside>
        <main class="bd-main order-1">
            <div class="bd-toc mt-3 mb-5 my-lg-0 ps-xl-3 mb-lg-5 text-muted w-300px">
                <button class="btn btn-link link-dark p-md-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false" aria-controls="tocContents">
                    Attempt summary
                    <svg class="bi d-md-none ms-2" aria-hidden="true"><use xlink:href="#chevron-expand"></use></svg>
                </button>

                <div class="collapse bd-toc-collapse" id="tocContents">
                    <div class="mb-12"></div>

                    <div class="menu-item">
                        <div class="menu-link row">
                            <span class="menu-title">Exam ends in </span>
                            <label class="fs-3" id="endTime"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd-content ps-lg-2  fw-bold fs-6 text-gray-700">
                <h2 id="quick-start">{{ExamQuestionDatas[0].ExamName}}<a class="anchor-link" href="#quick-start" aria-label="Link to this section: Quick start"></a></h2>
                <input type="hidden" id="curentindex" name="curentindex" value="1" />
                <input type="hidden" id="totalquestion" name="totalquestion" value="{{TotalQuestions}}" />
                <br>
                <ol>
                    <li class="mb-16" ng-repeat="question in ExamQuestionDatas">
                        <span ng-bind="FillIndex($index)"></span>
                        <div class="mb-8">
                            <div class="ant-row">
                                <span class="ant-typography question-count">Question </span>
                                <span>{{$index + 1}}</span>
                                <span>of {{TotalQuestions}}</span>
                            </div><div class="ant-row" style="margin-top: 20px;">
                                <div class="fs-2 fw-bold text-gray-900 text-hover-primary me-1">
                                    {{question.Question}}
                                </div>
                            </div>
                        </div>
                        <div ng-if="question.QuestionOptionCount > 0" class="queston-counter">

                            <span ng-if="question.AnswerType == 'Multi Select'"> Select all the correct answers</span>
                            <div ng-repeat="option in question.QuestionOptions" class="queston-counter-target">

                                <div ng-if="question.AnswerType == 'Multiple Choice'">

                                    <div class="mb-10">
                                        <label style="color: black;">Option {{$index + 1}}</label>
                                        <div class="position-relative">
                                            <input class="form-check-input btn-check" type="radio" id="{{QuestionIndexNo.toString() + $index.toString()}}_SelectedChoice" name="{{QuestionIndexNo}}_SelectedChoice_Group" @*value="{{option.IsSelected}}" ng-model="option.IsSelected"*@ ng-click="OptionalChanges(option, question, 'MultipleChoice')" />
                                            <label class="ant-btn option-card ant-btn-button form-check-label mb-0" for="{{QuestionIndexNo.toString() + $index.toString()}}_SelectedChoice">
                                                <span class="option-text">{{option.OptionText}}</span>
                                            </label>
                                            @*OPTION <h3 class="ant-typography option-selected options-letter"></h3>*@
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="question.AnswerType == 'Multi Select'">
                                    <label style="color: black;">Option {{$index + 1}}</label>
                                    <div class="mb-10">
                                        <div class="form-check form-check-custom form-check-solid position-relative">
                                            <input class="form-check-input  btn-check" type="checkbox" name="IsSelectedOption" id="{{QuestionIndexNo.toString() + $index.toString()}}_IsSelectedOption" value="{{option.IsSelected}}" ng-model="option.IsSelected" ng-click="OptionalChanges(option, question, 'MultiSelect')" />
                                            <label class="ant-btn option-card ant-btn-button form-check-label mb-0" for="{{QuestionIndexNo.toString() + $index.toString()}}_IsSelectedOption">
                                                <span class="option-text">{{option.OptionText}}</span>
                                            </label>
                                            @*<h1 class="ant-typography option-selected options-letter"></h1>*@
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div ng-if="question.QuestionOptionCount == 0">

                            <div ng-if="question.AnswerType == 'Text Answer'">
                                <div class="answer">
                                    <textarea class="form-control h-100px" data-kt-autosize="true" type="text" autocomplete="off" spellcheck="false" name="questionanswer" placeholder="Enter your answer" id="questionanswer" ng-model="question.QuestionAnswer"> </textarea>
                                    <input type="button" value="Save answer" style="float: left; background-color: #04AA6D; border: none; color: white; padding: 5px 5px; text-decoration: none; margin: 4px 2px; cursor: pointer; " ng-click="SaveCandidateQuestionAnswer(null, question, 'textAnswer')" />
                                </div>
                            </div>

                        </div>

                        <div ng-if="TotalQuestions == $index + 1">
                            <div class="w-100"></div>
                            <input type="submit" value="Finish exam" class="btn btn-primary" style="float:right;" ng-click="UpdateExamStatus()" />
                        </div>

                    </li>
                </ol>
            </div>
        </main>
    </div>

    @*Popup for time alert start*@
    <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 111111">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header" style="text-align: center; align-items: center;">
                <strong class="me-auto">Time Alert</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body" style="text-align: center; align-items: center;">
                <b>Exam ends in {{ExamEndBalanceTime}}</b>
            </div>
        </div>
    </div>
    @*Popup for time alert end*@

    @*Popup for exam time over start*@
    <div class="modal fade" id="examTimeEndAlert" tabindex="-1" aria-labelledby="examTimeEndAlertLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align: center; align-items: center;">
                <div class="modal-header">
                    <h1>ATTENTION!</h1>
                </div>
                <div class="modal-body">
                    <b>The maximum time allotted for your exam has been exceeded.</b><br />
                    <b>But don't worry, your answers will be automatically saved.</b>
                </div>
                <div class="modal-footer">
                    <a href="~/home/exam" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
    </div>
    @*Popup for exam time over end*@

    @*Popup for exam time over start*@
    <div class="modal fade" id="examTimeChangeAlert" tabindex="-1" aria-labelledby="examTimeChangeAlertLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align: center; align-items: center;">
                <div class="modal-header">
                    <h1>ATTENTION!</h1>
                </div>
                <div class="modal-body">
                    <b>Time-changing malfunction occurred during the exam.</b><br />
                    <b>Therefore, the exam has been terminated.</b><br />
                    <b>Please contact the administration or exam coordinator for assistance.</b><br />
                </div>
                <div class="modal-footer">
                    <a href="~/home/exam" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
    </div>
    @*Popup for exam time over end*@

    <div class="position-fixed"><input type="text" tabindex="-1"></div>
</div>