<div ng-controller="EmployeeLeaveApplicationController">
    <div class="headerBar displayFlex alignItemCenter innerHeader">
        <div class="nav-sidebar align-left">
            <div class="backtopage" ng-click="$root.goBack()">
                <img src="./images/back-arrow.png" />
            </div>
        </div>
        <!--nav-sidebar-->
        <div class="header-text"><span translate>Employee Leave Request</span></div>
        <div class="headerRight alignright">
            <div class="notifyIcon"><i class="fa fa-bell-o"></i></div>
        </div>
    </div>

    <div class="excludeHeader">


        <div class="containerWrap">


            <form class="displayFlex setBorder flexColumn pad10 boxShadow marginBtm10 whiteBg ng-scope"
                id="staffLeaveApplication">
                <input type="hidden" id="LeaveApplicationIID" name="StaffLeaveApplicationIID"
                    data_ng_model="StaffLeaveApplication.LeaveApplicationIID">
                <input type="hidden" id="StaffID" name="StaffID" data_ng_model="StaffLeaveApplication.StaffID">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Leave Type</label>
                    <label style="color: red;">*</label>
                    <select class="form-select" aria-label="Select example" id="LeaveTypeID" name="LeaveTypeID"
                        data_ng_model="StaffLeaveApplication.LeaveTypeID"
                        ng-options="LeaveType as LeaveType.Value for LeaveType in LeaveTypes" required>
                    </select>
                </div>
                <div class="fieldWrapper" style="text-align: left;">
                    <span>
                        <label>From Date</label>
                        <label style="color: red;">*</label>
                    </span>
                    <input type="date" placeholder="Subsciption Start date" id="FromDateString" name="FromDateString"
                        class="form-control bg-white border-1" data_ng_model="StaffLeaveApplication.FromDateString"
                        ng-change="DateChange()" required />
                </div>
                <div class="fieldWrapper" style="text-align: left;">
                    <span>
                        <label>To Date</label>
                        <label style="color: red;">*</label>
                    </span>
                    <input type="date" placeholder="Subsciption Start date" id="ToDateString" name="ToDateString"
                        class="form-control bg-white" data_ng_model="StaffLeaveApplication.ToDateString" required
                        ng-change="DataChange()" />
                </div>
                <div class="mt-10">
                    <label for="floatingTextarea2">Reason</label>
                    <label style="color: red;">*</label>

                    <textarea name="notes" id="Reason" name="Reason" required="" class="form-control form-control-solid"
                        rows="3" placeholder="Reason" data_ng_model="StaffLeaveApplication.Reason"
                        ng-change="DataChange()"></textarea>
                </div>

                <button type="button" class="btn btn-primary mt-3" type="submit"
                    ng-click="SubmitStaffLeaveApplication()" value="Submit">Submit</button>
            </form>
        </div>
    </div>
</div>