<div ng-controller="EnrollController">
    <div class="headerBar displayFlex alignItemCenter innerHeader">
        <div class="nav-sidebar align-left">
            <div class="backtopage" ng-click="$root.goBack()">
                <img src="./images/back-arrow.png" />
            </div>
        </div><!--nav-sidebar-->
        <div class="header-text"><span translate>HR</span></div>
        <div class="headerRight alignright">
            <div class="notifyIcon"><i class="fa fa-bell-o"></i></div>
        </div>
    </div>

    <div class="excludeHeader">
        <div class="excludeHeaderInner fullheight noPadding displayFlex flexColumn">
            <div class="bg-header mb-5">
                <div class="bg-header-bg" jsname="P3Vluc">
                    <div class="bg-header-img" role="presentation"
                        style="--travel-primitives-themeable-image-default: url(../images/trips_4.svg);">
                    </div>
                </div>
                <div class="bg-header-title" role="heading" aria-level="1">HR</div>
            </div>
            
            <div class="content d-flex flex-column flex-column-fluid" ng-init="setMultiColor();">
                <div class="container-xxl">
                    <div class="row g-5 g-xl-8">
                        <div class="col-xl-4 px-0">
                            <div class="row mb-5 mb-xl-8 g-5 g-xl-8">
                                <div class="col-6 px-1 mt-2">
                                    <div class="card2 card-stretch">
                                        <a ui-sref="staffattendance"
                                            class="Vehicle-accordion-item rounded d-flex  bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-4">

                                            <span class="svg-icon svg-icon-3x mb-3">
                                                <img src="./images/Attandence.svg" />

                                            </span>

                                            <span class="fs-6 fw-normal">My Attendance</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 px-1 mt-2">
                                    <div class="card2 card-stretch">
                                        <a ui-sref="staffleavelist"
                                            class="Vehicle-accordion-item rounded d-flex  bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-4">

                                            <span class="svg-icon svg-icon-3x mb-3">
                                                <img src="./images/leave.svg" />

                                            </span>

                                            <span class="fs-6 fw-normal">My Leaves</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 px-1 mt-2" ng-if="!Driver">
                                    <div class="card2 card-stretch">
                                        <a ui-sref="stafftimetable"
                                            class="Vehicle-accordion-item rounded d-flex  bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-4">

                                            <span class="svg-icon svg-icon-3x mb-3">
                                                <img src="./images/timetable.svg" />

                                            </span>

                                            <span class="fs-6 fw-normal">Time Table</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 px-1 mt-2">
                                    <div class="card2 card-stretch">
                                        <a  ui-sref="employeeleaveapplication"
                                            class="Vehicle-accordion-item rounded d-flex  bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-4">

                                            <span class="svg-icon svg-icon-2x mb-3">
                                                <img src="./images/arrow-right-from-bracket.svg" class="" style="height: 20px;">


                                            </span>

                                            <span class="fs-6 fw-normal">Employee Leave Request</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--tabScrollItemList-->
        </div>
    </div>
</div>

<script>
    var chart = c3.generate({
        bindto: '#attendanceSpline',
        size: {
            height: 50
        },
        data: {
            columns: [
                ['data1', 10, 9.9, 9.8, 10, 9.9]
            ],
            type: 'spline'
        },
        axis: {
            x: { show: false },
            y: { show: false }
        },
        legend: {
            show: false
        }
    });
</script>