
<style>

    .id-card {
    
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 0 1.5px 0px #b9b9b9;
    }
    .id-card img {
        margin: 0 auto;
    }
.barcode {
    font-family: 'Libre Barcode 39';
}
</style>
<div ng-controller="IDCardController" ng-init="LoadProfileInfo()">
    <div class="headerBar displayFlex alignItemCenter innerHeader bg-transparent shadow-none px-4" >
    <div class="nav-sidebar align-left">
        <div class="backtopage bg-transparent" ng-click="$root.goBack()">
            <img src="./images/back-arrow.png" />
        </div>
    </div>
    <!--nav-sidebar-->
    <div class="header-text"><span translate>ID Card</span></div>
</div>
		<div class="excludeHeader id-card p-3">
            <div class="row">
                <div class="col mb-3 mb-sm-0 p-0">
					<div class="card shadow  pb-0 m-0">
						<div class="card-header flex-column pt-4">
							<a class="h-40px d-flex justify-content-center" >
								<img class="h-40px mb-3"  style="height:40px" alt="Logo" src="./images/pearl_logo.png">
							</a>
							<div class="rounded-3 overflow-hidden position-relative d-flex justify-content-center">
								<!-- Image -->
								<img ng-src="{{ParentUrlService}}/Content/ReadImageContentsByID?contentID={{Profile.EmployeePhoto}}" on-error-src="./images/profile_img.png"
								 class="img-thumbnail" width="200px" height="200px" alt="">
								<!-- Overlay -->
								<!-- <div class="bg-overlay bg-dark opacity-4"></div> -->
								
								<!-- Hover element -->
								<!-- <div class="card-img-overlay d-flex justify-content-center">
									<span class=" badge bg-dark mt-auto ms-0">

								</span> -->
								<!-- </div> -->
							</div>
						</div>
							<!-- Card body -->
							<div class="card-body px-2 text-center">
								<span class=" fw-semibold  mb-0 text-dark" >
									{{Profile.DesignationName}}</span>
								<!-- Badge and Rating -->
								<div class="d-flex justify-content-center align-items-center">
									<div class="barcode" style="font-weight:normal;font-size: 20vw; ; font-weight:400; height:80px;">
										*{{Profile.EmployeeCode}}*
									</div>
								</div>
	
								<!-- Title -->
								<h6 class="card-title fw-bold">{{Profile.EmployeeName}} </h6>
								
								<!-- Other Details -->
								<div class="justify-content-between align-items-center mb-0">
									<!-- Code -->
									<!-- <h6 class="text-success mb-0">Emp.Code </span></h6> -->
									<span class=" mb-0 text-reset">{{Profile.EmployeeCode}}</span>
									<br>
									<!-- Code -->
									<!-- <h6 class="text-success mb-0">Designation </span></h6>
									<span class=" mb-0 text-reset">{{Profile.DesignationName}}</span>
									<br> -->
									<!-- Code -->
									<h6 class="text-success mb-0">Mobile No. </span></h6>
									<span class=" mb-0 text-reset">{{Profile.WorkMobileNo}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
             
              </div>

		</div>
	</div>