<div ng-controller="MailBoxController">
    <div class="headerBar displayFlex alignItemCenter innerHeader">
        <div class="nav-sidebar align-left">
            <div class="backtopage" ng-click="$root.goBack()">
                <img src="./images/back-arrow.png" />
            </div>
        </div>
        <div class="header-text"><span translate>Notification</span></div>
        <div class="headerRight alignright">
            <div class="notifyIcon"><i class="fa fa-bell-o"></i></div>
        </div>
    </div>

    <div class="excludeHeader">
        <div class="pageContainer" ng-init="init()">
            <div class="containerWrap">

                <div class="alert alert-warning text-center" role="alert" ng-if="!ShowLoader && MailBoxes.length == 0">
                    <b>No notifications found.</b>
                </div>

                <div class="gridStyle displayFlex setBorder flexColumn pad10 boxShadow marginBtm10 whiteBg"
                    ng-repeat="data in MailBoxes">
                    <div class="gridDataWrap">
                        <label>Notification Date</label>
                        <div style="color: darkgreen;font-weight: bold;">{{data.NotificationDate | ctime | date : 'dd-MM-yyyy'}}</div>
                    </div>
                    <div class="gridDataWrap">
                        <label>Message</label>
                        <div style="color:#7f4097;font-weight: bold;">{{data.Message}}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<style>
    .setBorder {
  border: 1px solid #d8d8d8;

}
    .text-center {
    text-align: center!important;
    font-weight: 500;
}
</style>