<div ng-controller="MyWardsController">
    <div class="headerBar displayFlex alignItemCenter innerHeader">
        <div class="nav-sidebar align-left">
            <div class="backtopage" ng-click="$root.goBack()">
                <img src="./images/back-arrow.png" />
            </div>
        </div>
        <!--nav-sidebar-->
        <div class="header-text"><span translate>Academics</span></div>
        <div class="headerRight alignright">
            <div class="notifyIcon"><i class="fa fa-bell-o"></i></div>
        </div>
    </div>

    <div class="excludeHeader" ng-init="Init()">
        <div class="excludeHeaderInner fullheight noPadding displayFlex flexColumn">
            
            <div class="tabScrollItemList overflowY">
                <div class="bg-header mb-5">
                    <div class="bg-header-bg" jsname="P3Vluc">
                        <div class="bg-header-img" role="presentation"
                            style="--travel-primitives-themeable-image-default: url(../images/trips_4.svg);">
                        </div>
                    </div>
                    <div class="bg-header-title" role="heading" aria-level="1">Academics</div>
                </div>
                <div class="content d-flex flex-column flex-column-fluid">
                    <div class="container-xxl">
                        <div class="row g-5 g-xl-8">
                            <div class="col-xl-4 px-0">
                                <div class="row mb-5 mb-xl-8 g-5 g-xl-8">
                                    <div class="col-6 px-1 mt-2">
                                        <div class="card2 card-stretch">
                                            <a ui-sref="teacherclasses" data-mdb-ripple-color="primary"
                                                class="ripple Vehicle-accordion-item rounded d-flex  bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-4">

                                                <span class="svg-icon svg-icon-3x mb-3">
                                                    <img src="./images/profile_img.png" />

                                                </span>

                                                <span class="fs-6 fw-normal">Class </span>
                                                <div class="pt-0">
                                                    <!--begin::Number-->
                                                    <span
                                                        class="text-dark fw-bold fs-3x me-2 lh-0">{{MyClassCount}}</span>
                                                    <!--end::Number-->
                                                    <!--begin::Text-->
                                                    <span class="text-dark fw-bold fs-6 lh-0">- Classes</span>
                                                    <!--end::Text-->
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 px-1 mt-2"  ng-if="Teacher">
                                        <div class="card2 card-stretch">
                                            <a ui-sref="studentattendance" data-mdb-ripple-color="primary"
                                                class="ripple Vehicle-accordion-item rounded d-flex  bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-4">

                                                <span class="svg-icon svg-icon-3x mb-3">
                                                    <img src="./images/Attandence.svg" />

                                                </span>

                                                <span class="fs-6 fw-normal">Student attendance</span>

                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 px-1 mt-2" ng-if="!Driver">
                                        <div class="card2 card-stretch">
                                            <a ui-sref="assignments" data-mdb-ripple-color="primary"
                                                class="ripple Vehicle-accordion-item rounded d-flex  bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-4">

                                                <span class="svg-icon svg-icon-3x mb-3">
                                                    <img src="./images/assignments.svg" />

                                                </span>

                                                <span class="fs-6 fw-normal">Assignments </span>
                                                <div class="pt-0">
                                                    <!--begin::Number-->
                                                    <span
                                                        class="text-dark fw-bold fs-3x me-2 lh-0">{{MyAssignmentCount}}</span>
                                                    <!--end::Number-->
                                                    <!--begin::Text-->
                                                    <span class="text-dark fw-bold fs-6 lh-0">- Total</span>
                                                    <!--end::Text-->
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 px-1 mt-2" ng-if="!Driver">
                                        <div class="card2 card-stretch">
                                            <a ui-sref="lessonplan" data-mdb-ripple-color="primary"
                                                class="ripple Vehicle-accordion-item rounded d-flex  bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-4">

                                                <span class="svg-icon svg-icon-3x mb-3">
                                                    <img src="./images/timetable.svg" />

                                                </span>

                                                <span class="fs-6 fw-normal">Lesson plan </span>
                                                <div class="pt-0">
                                                    <!--begin::Number-->
                                                    <span
                                                        class="text-dark fw-bold fs-3x me-2 lh-0">{{LessonPlanCount}}</span>
                                                    <!--end::Number-->
                                                    <!--begin::Text-->
                                                    <span class="text-dark fw-bold fs-6 lh-0">- Lessons</span>
                                                    <!--end::Text-->
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 px-1 mt-2" ng-if="!Driver">
                                        <div class="card2 card-stretch">
                                            <a ui-sref="mycirculars" data-mdb-ripple-color="primary"
                                                class="ripple Vehicle-accordion-item rounded d-flex  bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-4">

                                                <span class="svg-icon svg-icon-3x mb-3">
                                                    <img src="./images/notification.svg" />
                                                    <span class="pulse-ring"></span>
                                                </span>

                                                <span class="fs-6 fw-normal">Circulars </span>
                                                <div class="pt-0">
                                                    <!--begin::Number-->
                                                    <span
                                                        class="text-dark fw-bold fs-3x me-2 lh-0">{{NewCircularCount}}</span>
                                                    <!--end::Number-->
                                                    <!--begin::Text-->
                                                    <span class="text-dark fw-bold fs-6 lh-0">- Circulars</span>
                                                    <!--end::Text-->
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 px-1 mt-2" ng-if="!Driver">
                                        <div class="card2 card-stretch">
                                            <a ui-sref="notifications" data-mdb-ripple-color="primary"
                                                class="ripple Vehicle-accordion-item rounded d-flex  bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-4">

                                                <span class="svg-icon svg-icon-3x mb-3">
                                                    <img src="./images/notification.svg" />
                                                    <span class="pulse-ring"></span>
                                                </span>

                                                <span class="fs-6 fw-normal">Notifications </span>
                                                <div class="pt-0">
                                                    <!--begin::Number-->
                                                    <span
                                                        class="text-dark fw-bold fs-3x me-2 lh-0">{{NotificationCount}}</span>
                                                    <!--end::Number-->
                                                    <!--begin::Text-->
                                                    <span class="text-dark fw-bold fs-6 lh-0">- Alerts</span>
                                                    <!--end::Text-->
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--tabScrollItemList-->
        </div>
    </div>

</div>
<!--my wards-->

<script>
    var chart = c3.generate({
        bindto: '#attendanceSpline',
        size: {
            height: 50
        },
        data: {
            columns: [
                ['data1', 10, 9.9, 9.8, 10, 9.9]
            ],
            type: 'spline'
        },
        axis: {
            x: { show: false },
            y: { show: false }
        },
        legend: {
            show: false
        }
    });
</script>