<div ng-controller="ProfileController" class="bg-white">
    <section class="banner" style="background-image:url(../images/trips_4.svg); width: 100%; background-size: cover;">
        <div class="headerBar displayFlex alignItemCenter innerHeader bg-transparent shadow-none px-4" >
            <div class="nav-sidebar align-left">
                <div class="backtopage bg-transparent" ng-click="$root.goBack()">
                    <img src="./images/back-arrow.png" />
                </div>
            </div>
            <!--nav-sidebar-->
            <div class="header-text"><span translate>Profile</span></div>
            <div class="headerRight alignright">
                <div class="notifyIcon"><i class="fa fa-bell-o"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="banner-cnt">
                <div class="" style="width: 90vw; height: 30px;"></div>
            </div>
        </div>
    </section>
    <section class="dsh-menu-sc " style="margin-top: -100px;">
        <div class="container">
            <div class="dsh-menu-cnt shadow-none py-0 px-4 bg-transparent">
                <div id="profile-header" class=" w-100 header-wrapper fileOnlyHeader-23hdD" ng-if="Profile != null">
                    <div class="header-wrapper-inner py-0">
                        <div class="resume-header-wrapper bg-transparent">
                            <div class="resume-header grid-container p-0">
                                <div class="grid-row centered m-0">
                                    <div class="grid-col-md-8 grid-fill-height is-file-only-width overflow-auto">
                                        <div class="header-text shadow-border flex-column p-0 bg-transparent">
                                            <div class="avatar-outer fs-mask mb-3">
                                                <div
                                                    class="avatar-container border-0 avatar-css horizontal position-relative overflow-hidden avatar-profile">
                                                    <img ng-src="{{ParentUrlService}}/Content/ReadImageContentsByID?contentID={{Profile.EmployeePhoto}}" on-error-src="./images/profile_img.png" 
                                                        style="background-size:cover;background-repeat:no-repeat;top:0;"
                                                        class="position-absolute w-100" />
                                                </div>
                                            </div>
                                            <div class="header-text-inner m-0 d-flex flex-column align-items-center">
                                                <div class="fullname heading3 fs-mask">{{Profile.EmployeeName}}</div>
                                                <div class="location fs-mask">
            
                                                    <!-- <img class="icon-3-7xg css-1xqhio eac13zx0"
                                                        src="./images/number.svg" /> -->
            
                                                    <span class="text-capitalize">{{Profile.EmployeeCode}}</span>
                                         
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <!-- <div class="headerBar displayFlex alignItemCenter innerHeader">
        <div class="nav-sidebar align-left">
            <div class="backtopage" ng-click="$root.goBack()">
                <img src="./images/back-arrow.png" />
            </div>
        </div>
        <div class="header-text"><span translate>Profile</span></div>
        <div class="headerRight alignright">
            <div class="notifyIcon"><i class="fa fa-bell-o"></i></div>
        </div>
    </div> -->
    <div class="">
        <div class="pageContainer" ng-init="LoadProfileInfo(SelectedWard)">
            <div ng-if="Profile != null">
                <!-- <div class="fullwidth flexColumn displayFlex justifyCenter alignItemCenter studentProfile">
                    <div class="profileImg">
                        <span>
                            <img ng-src="{{ParentUrlService}}/Content/ReadImageContentsByID?contentID={{Profile.EmployeePhoto}}" on-error-src="./images/profile_img.png"/>
                            <i ng-if="!Profile.EmployeePhoto" class="fa fa-3x fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                </div> -->
                <div class="containerWrap  px-4">
                    <div class="gridStyle displayFlex  flexColumn p-3  marginBtm10 whiteBg" style="box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 8px;">

                        <!-- <div class="gridDataWrap bg-transparent">
                            <label>Name</label>
                        </div>
                        <div class="gridDataWrap bg-transparent">
                            <span>{{Profile.EmployeeName}}</span>
                        </div>

                        <div class="gridDataWrap bg-transparent">
                            <label>Employee code</label>
                        </div>
                        <div class="gridDataWrap bg-transparent">
                            <span>{{Profile.EmployeeCode}}</span>
                        </div> -->

                        <div class="gridDataWrap bg-transparent pb-0">
                            <label>Work email</label>
                        </div>
                        <div class="gridDataWrap bg-transparent pt-0">
                            <span>{{Profile.WorkEmail}}</span>
                        </div>

                        <!-- <div class="gridDataWrap bg-transparent">
                            <label>Work phone number</label>
                        </div>
                        <div class="gridDataWrap bg-transparent">
                            <span>{{Profile.WorkPhone}}</span>
                        </div>

                        <div class="gridDataWrap bg-transparent">
                            <label>Work mobile number</label>
                        </div>
                        <div class="gridDataWrap bg-transparent">
                            <span>{{Profile.WorkMobileNo}}</span>
                        </div> -->

                        <div class="gridDataWrap bg-transparent pb-0">
                            <label>Date of birth</label>
                        </div>
                        <div class="gridDataWrap bg-transparent pt-0">
                            <span>{{Profile.DateOfBirthString}}</span>
                        </div>

                        <div class="gridDataWrap bg-transparent pb-0">
                            <label>Age</label>
                        </div>
                        <div class="gridDataWrap bg-transparent pt-0">
                            <span>{{Profile.Age}}</span>
                        </div>

                        <div class="gridDataWrap bg-transparent pb-0">
                            <label>Gender</label>
                        </div>
                        <div class="gridDataWrap bg-transparent pt-0">
                            <span>{{Profile.GenderName}}</span>
                        </div>
                    </div>
                </div>
                        <div class="containerWrap px-4">
                            <div class="gridStyle displayFlex  flexColumn p-3  marginBtm10 whiteBg" style="box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 8px;">
                        <div class="gridDataWrap bg-transparent pb-0">
                            <label>Date of joining</label>
                        </div>
                        <div class="gridDataWrap bg-transparent pt-0">
                            <span>{{Profile.JoiningDateString}}</span>
                        </div>

                        <div class="gridDataWrap bg-transparent pb-0">
                            <label>Department name</label>
                        </div>
                        <div class="gridDataWrap bg-transparent pt-0">
                            <span>{{Profile.DepartmentName}}</span>
                        </div>

                        <div class="gridDataWrap bg-transparent pb-0">
                            <label>Designation name</label>
                        </div>
                        <div class="gridDataWrap bg-transparent pt-0">
                            <span>{{Profile.DesignationName}}</span>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="Profile == null && onProfileFilling == false">
            <label>Sorry, something went wrong. Please try again later!</label>
        </div>
    </div>
</div>
</div>