<div class="pagecontent ng-scope" id="window_683981160" ng-controller="TableRowsController as RowModel" ng-init="RowModel.activate('#window_683981160', 'Frameworks/Search', '[]', 'PointOfSale', false, false, '')">
    <div class="prod-tab-wrap">
        <div class="producttab">
            <div class="producttab-space">
                <div class="table-topright textright productGrid_massaction massaction tabletop">
                    <ul>
                        <li>
                            <div class="button-orange" ng-click="">
                                <span ng-click="RowModel.ReLoad($event)" class="reload-the-grid-data"><i class="fa fa-refresh"></i> Refresh</span>
                            </div>
                            <div ng-click="RowModel.LoadFilterView();" class="button-orange" id="filterbuttonoption">
                                <span ng-class=" {filter: !RowModel.HasFilters, activefilter: RowModel.HasFilters}">
                                    <i class=" filtericon fa fa-filter"></i>Filter
                                </span>
                            </div>

                            @*<div class="alignright grid-refresh button-orange" ng-click="RowModel.SwitchView($event);">
                                <span><i ng-class="{'fa fa-list' : RowModel.IsSortableListViewToggle, 'fa fa-navicon' : !RowModel.IsSortableListViewToggle}"></i></span>
                            </div>*@
                        </li>
                    </ul>
                </div>

                <div class="wrapper">
                    <div class="tablewrapper">
                        <div class="popup gridpopupfields" data-popup-type="gridpopupfields">
                            <div class="popup-wrap" id="popupContainer">
                            </div>
                        </div><table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <th class="toggleContainer">
                                        <table class="mainGrid">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="statuscolumn" align="left"><span>&nbsp;</span></th>

                                                    <th class="check-box">
                                                        <label class="checkboxwrap">
                                                            <input type="checkbox" autocomplete="off" data-role="none" ng-click="RowModel.SelectAllHeader($event, RowModel.rows)" ng-model="RowModel.SelectAll" class="ng-pristine ng-untouched ng-valid ng-empty"><span class="checkboxinner">&nbsp;</span>
                                                        </label>
                                                    </th>

                                                    <th title="Date">
                                                        <span>
                                                            <a ng-click="RowModel.SortClick($event, 'TransactionDate')">
                                                                Date
                                                                <span class="colmn-sort">
                                                                    <i class="colmn-sort-asc fa fa-sort-asc asc"></i>
                                                                </span>
                                                            </a>
                                                        </span>
                                                    </th>
                                                    <th title="Customer">
                                                        <span>
                                                            <a ng-click="RowModel.SortClick($event, 'Customer')">
                                                                Customer
                                                                <span class="colmn-sort">
                                                                    <i class="colmn-sort-asc fa fa-sort-asc asc"></i>
                                                                </span>
                                                            </a>
                                                        </span>
                                                    </th>
                                                    <th title="SI Number">
                                                        <span>
                                                            <a ng-click="RowModel.SortClick($event, 'TransactionNo')">
                                                                SI Number
                                                                <span class="colmn-sort">
                                                                    <i class="colmn-sort-asc fa fa-sort-asc asc"></i>
                                                                </span>
                                                            </a>
                                                        </span>
                                                    </th>
                                                    <th title="Amount">
                                                        <span>
                                                            <a ng-click="RowModel.SortClick($event, 'PayableAmount')">
                                                                Amount
                                                                <span class="colmn-sort">
                                                                    <i class="colmn-sort-asc fa fa-sort-asc asc"></i>
                                                                </span>
                                                            </a>
                                                        </span>
                                                    </th>
                                                    <th title="Payment Method">
                                                        <span>
                                                            <a ng-click="RowModel.SortClick($event, 'EntitlementName')">
                                                                Payment Method
                                                                <span class="colmn-sort">
                                                                    <i class="colmn-sort-asc fa fa-sort-asc asc"></i>
                                                                </span>
                                                            </a>
                                                        </span>
                                                    </th>
                                                    <th>
                                                        <span>
                                                            <a>

                                                            </a>
                                                        </span>
                                                    </th>

                                                    <th class="last-col" align="right">
                                                        <span>
                                                            <i class="fa fa-gear zoomin" ng-click="RowModel.CustomizeUserView($event,'PointOfSale')"></i>
                                                        </span>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </th>
                                </tr>


                                <tr>
                                    <td class="toggleContainer">
                                        <table class="mainGrid">
                                            <tbody>
                                                <!-- ngRepeat: Row in RowModel.rows -->
                                                <tr ng-repeat="Row in RowModel.rows" data-rowid="moreDetails1" class="mainrow ng-scope">
                                                    <td></td>
                                                    <!-- TD to toggle child rows -->
                                                    <!-- showing color lables -->
                                                    <td class="statuscolumn">
                                                        <label class="status-color ng-class:Row.RowCategory">&nbsp;</label>
                                                    </td>

                                                    <td class="check-box">
                                                        <label class="checkboxwrap">
                                                            <input type="checkbox" data-role="none" ng-model="Row.IsRowSelected" ng-click="RowModel.RowSelection($event, Row)" class="ng-pristine ng-untouched ng-valid ng-empty">
                                                            <span class="checkboxinner"></span>
                                                        </label>
                                                    </td>

                                                    <td>

                                                        <span title="{{Row.TransactionDate  | date:RowModel.DateTimeFormat}}" ng-bind="Row.TransactionDate  | date:RowModel.DateTimeFormat" class="ng-binding">Nov 30, 2018 10:04:00 PM</span>
                                                    </td>
                                                    <td>

                                                        <span title="{{Row.Customer}}" ng-bind="Row.Customer" class="ng-binding"></span>
                                                    </td>
                                                    <td>

                                                        <span title="{{Row.TransactionNo}}" ng-bind="Row.TransactionNo" class="ng-binding"></span>
                                                    </td>
                                                    <td>

                                                        <span title="{{Row.PayableAmount}}" ng-bind="Row.PayableAmount" class="ng-binding"></span>
                                                    </td>
                                                    <td>

                                                        <span title="{{Row.EntitlementName}}" ng-bind="Row.EntitlementName" class="ng-binding"></span>
                                                    </td>
                                                    <td></td>

                                                    <td class="last-col" align="right">
                                                        <div class="iconset">
                                                            <span>
                                                                <i class="fa fa-comments" ng-click="RowModel.ShowComments('Transaction',Row.HeadIID,$event)" ng-class="{ 'active' : Row.CommentCounts > 0}"></i>
                                                            </span>

                                                            <span class="editcolor" ng-click="RowModel.EditViewCRUDFramework('PointOfSale', $index, $event);">
                                                                <i class="fa fa-edit" aria-hidden="true" title="edit"></i>
                                                            </span>

                                                        </div>
                                                    </td>
                                                </tr><!-- end ngRepeat: Row in RowModel.rows -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>




                            </tbody>
                        </table>

                        <center>
                            <i class="content-load fa fa-circle-o-notch fa-pulse waypoint" style="font-size: 20px; display: none;"></i>
                        </center>
                        <div>
                            <center>
                                <!-- ngIf: RowModel.rows.length == 0 -->
                            </center>
                        </div>
                    </div>
                </div>
            </div>


            <script>
    $(document).ready(function () {
        $('.filter-arrow', '#window_145337515').on('click', function () {
            $(this).toggleClass('show');
            if ($(this).hasClass('show')) {
                $('.filterwrap').slideDown(200);
            }
            else {
                $('.filterwrap').slideUp(200);
            }
        });
    });

    $('.filterdropdown', '#window_145337515').draggable({
        handle: '.filterheader',
        containment: ".main-body"
    });


    $(".filterheader .close-pin", '#window_145337515').click(function () {
        var filterypos = $('.filterdropdown', '#window_145337515').offset().top;
        var filterxpos = $('.filterdropdown', '#window_145337515').offset().left;
        var currentypos = $('.filterdropdown', '#window_145337515').offset().top - 274;
        var currentxpos = $('.filterdropdown', '#window_145337515').offset().left - 70;

        $(this).toggleClass("unpin");
        if ($(this).hasClass('unpin')) {
            $(this).parents('.filterdropdown').css({ 'position': 'fixed', 'top': filterypos + 'px', 'left': filterxpos + 'px' });
            $('.filterdropdown', '#window_145337515').draggable({ disabled: true });
        }
        else {
            $(this).parents('.filterdropdown').css({ 'position': 'absolute', 'top': currentypos + 'px', 'left': currentxpos + 'px' });
            $('.filterdropdown', '#window_145337515').draggable({ disabled: false });
        }
    });
            </script>

            <div id="window_145337515">
                <div ng-show="RowModel.IsShowFilterView" class="filterdropdown ui-draggable-handle ui-draggable ng-hide" id="filterview">
                    <div class="filterheader ui-draggable-handle">
                        <span>Filter</span>
                        <button id="close-filter" value="Submit" form="nameform" type="submit" class="close-filter alignright" ng-click="RowModel.CloseFilterView();">
                            <i class="fa fa-close"></i>
                        </button>
                        <button value="Submit" form="nameform" type="submit" class="close-pin alignright" id="close-pin"><i class="pin fa"></i></button>
                        <div class="filter-arrow alignright show"><i class="fa fa-caret-up"></i></div>
                        <button class="filter-settings alignright"><i class="fa fa-gear"></i></button>
                    </div>
                    <div class="filterwrap">
                        <div class="preload-overlay"></div>
                        <div class="preloader"><img src="/Eduegate.ERP.Admin/Images/preloader.gif" width="32" height="32" alt="Loading"></div>
                        <div id="filterContent"></div>
                    </div>
                </div>
            </div>

        </div>
        <div id="summarypanel" class="summary-panel">

        </div><!--summary-->
    </div>
    <div class="page-nav">
        <ul>
            <li>Total &nbsp;<span ng-bind="RowModel.TotalRecords" class="ng-binding">2</span> records</li>
            <li ng-click="RowModel.FirstPage($event)" title="Go to first page"><i class="fa fa-fast-backward"></i></li>
            <li ng-click="RowModel.PreviousPage($event)" title="previous"><i class="fa fa-step-backward"></i></li>
            <li>Page <span ng-bind="RowModel.CurrentPage" class="ng-binding">1</span> of <span ng-bind="RowModel.TotalPages" class="ng-binding">1</span></li>
            <li ng-click="RowModel.NextPage($event)" title="next"><i class="fa fa-step-forward"></i></li>
            <li ng-click="RowModel.LastPage($event)" title="Go to last page"> <i class="fa fa-fast-forward"></i></li>
            <li class="last"><span>Go to page: &nbsp;<input type="text" id="txtGetPageNo" ng-model="RowModel.GoToPageNo" ng-keyup="$event.keyCode == 13 &amp;&amp; RowModel.GoToPage($event)" class="ng-pristine ng-untouched ng-valid ng-not-empty"></span></li>
        </ul>

    </div>
</div>