@model Eduegate.Web.Library.ViewModels.SearchListViewModel
@{
    Layout = null;
    var viewIID = Eduegate.Services.Contracts.Enums.SearchView.JobProfile;
}

<div id="JobProfileSelectedLists" class="windowcontainer">
    <div ng-controller="ViewControllerJobProfile" ng-init="ChildInit(@Newtonsoft.Json.JsonConvert.SerializeObject(Model), '@viewIID');InitializeWayPoint();">
        @Html.Partial("~/Views/Shared/_InfoMessage.cshtml")
        @*<div class="pagenav"><a class="pagenav-leftmargin">Dashboard </a><a class="pagenav-leftmargin">  </a> /<span> Lists</span></div>*@
        <div class="pageheadername">
            <div>View Job Profile</div>
            @if (ViewBag.HasEditAccess)
            {
                <div class="alignright menugroup">
                    <div class="createprodlink button-orange alignright" ng-click="ChangeJobProfileStatusToActive($event)">
                        <a title="Move to archive"><i class="fa fa-plus"></i><span>Move to Active</span></a>
                    </div>
                    <div class="createprodlink button-orange alignright" ng-click="ChangeJobProfileStatusToArchive($event)">
                        <a title="Move to archive"><i class="fa fa-plus"></i><span>Move to Archive</span></a>
                    </div>
                </div>
            }
        </div>

        @Html.Partial("_SummaryHeader", Model)
        @Html.Partial("_List", Model)
    </div>
</div>