@using Eduegate.Services.Contracts.Enums

    <div class="sum_togglecontent">
        <div class="label-value-box">
            <div class="label-value-box-inner">
                <span class="label-style">Customer ID</span>
                <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Customer).CustomerID"></span>
                <i class="fa fa-pencil" title="Edit" ng-click="Edit('Customer',ViewModels.@(DynamicViews.Customer).CustomerID)"></i>
            </div>
            <div class="label-value-box-inner">
                <span class="label-style">Customer Name</span>
                <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Customer).FirstName"></span>
            </div>
            <div class="label-value-box-inner">
                <span class="label-style">Email ID</span>
                <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Customer).EmailID"></span>
            </div>
            <div class="label-value-box-inner">
                <span class="label-style">Telephone NO</span>
                <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Customer).Telephone"></span>
            </div>
            <div class="label-value-box-inner">
                <span class="label-style">Customer CR</span>
                <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Customer).CustomerCR"></span>
            </div>
            <div class="label-value-box-inner">
                <span class="label-style">CR Expiry</span>
                <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Customer).CRExpiryDate"></span>
            </div>
            <div class="label-value-box-inner">
                <span class="label-style">Group Name</span>
                <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Customer).GroupName"></span>
            </div>
            <div class="label-value-box-inner">
                <span class="label-style">Status</span>
                <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Customer).StatusName"></span>
            </div>
            <div class="label-value-box-inner">
                <span class="label-style">Civil ID</span>
                <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Customer).CivilIDNumber"></span>
            </div>
            <div class="label-value-box-inner">
                <span class="label-style">Parent Customer</span>
                <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Customer).ParentFirstName"></span>
            </div>
        </div>
    </div>
