<div ng-controller="AssignmentController">

    <div class="app-header d-flex d-lg-none shodow-sm">
        <div class="app-container container-xxl d-flex align-items-center justify-content-between ios-pt-12"
            id="kt_app_header_container">
            <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
                <a ng-click="$root.goBack()" class=" p-5 ms-n5">
                    <img alt="Logo" src="./clients/{{$root.ClientSettings.Client}}/images/back-arrow.svg" class="h-25px">
                </a>
            </div>
            <div class="d-flex align-items-center d-lg-none ms-2" title="Show sidebar menu">
                
            </div>
        </div>
    </div>

    <div class="app-toolbar py-3 py-lg-0">
        <div class="app-container container-xxl d-flex flex-stack">
            <div class="page-title d-flex flex-column justify-content-center me-3">
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Assignments
                </h1>
            </div>
            <div class="d-flex align-items-center gap-2 gap-lg-3">
                
            </div>
        </div>
    </div>

    <div class="containerWrap" ng-init="init()">

        <div class="dataWrap setBorder card marginBtm10" ng-repeat="assignment in AssignmentList">

            <div class=" toggleContainer displayFlex flexColumn ">
                <div class="toggleHeader displayFlex flexColumn pad10">
                    <div class="mainTitle fullwidth relativePos displayFlex">
                        <span class="flexOne" translate>{{assignment.Subject.Value}}</span>
                        <span class="headerBtn flexAuto" ng-click="toggleGrid($event);">
                            <!-- <i class="fa fa-eye" aria-hidden="true"></i>  -->
                            View All</span>
                    </div>
                    <div class="gridDataWrap" style="border-bottom: 1px solid #ece2e2; padding-bottom: .5rem;">
                        <label>Title :</label>
                        <span>{{assignment.Title}}</span>
                    </div>
                    <div class="gridDataWrap" style="border-bottom: 1px solid #ece2e2; padding-bottom: .5rem;">
                        <label>Description :</label>
                        <span>{{assignment.Description}}</span>
                    </div>
                </div>
                <div class="toggleContent pad10 noPaddingTop">
                    <div class="gridDataWrap">
                        <label>Start date :</label>
                        <span>{{assignment.StartDate | ctime | date : 'dd-MM-yyyy'}}</span>
                    </div>
                    <div class="gridDataWrap">
                        <label>Freeze date :</label>
                        <span>{{assignment.FreezeDate | ctime | date : 'dd-MM-yyyy'}}</span>
                    </div>
                    <div class="gridDataWrap">
                        <label>Date of submission :</label>
                        <span>{{assignment.DateOfSubmission | ctime | date : 'dd-MM-yyyy'}}</span>
                    </div>
                    <div class="gridDataWrap">
                        <label>Assignment type :</label>
                        <span>{{assignment.AssignmentType.Value}}</span>
                    </div>
                    <div class="gridDataWrap">
                        <label>Assignment status :</label>
                        <span>{{assignment.AssignmentStatus.Value}}</span>
                    </div>

                    <div class="gridDataWrap" ng-if="assignment.AssignmentAttachmentMaps.length > 0">
                        <div class="subTitle"><b>Attachments</b></div>
                    </div>

                    <div class="gridDataWrap">
                        <div ng-repeat="attachment in assignment.AssignmentAttachmentMaps track by $index">
                            <div ng-if="attachment.AttachmentReferenceID != null">
                                <a ng-click="DownloadURL(attachment.AttachmentReferenceID)" class="btn btn-primary mb-2 me-2">
                                    <!-- <i class="fa fa-2x fa-download" aria-hidden="true"></i> -->
                                    <img src="./images/Downloadsvg.svg"/>
                                    <span ng-bind="attachment.AttachmentName" class="ng-binding"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-xxl-4">
            <div class="alert alert-danger d-flex align-items-center p-5 mb-10" role="alert"
                ng-if="!ShowPreLoader && AssignmentList.length == 0">
                <span class="svg-icon svg-icon-2hx svg-icon-danger me-4"><svg width="24" height="24" viewBox="0 0 24 24"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                        <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)"
                            fill="currentColor" />
                        <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)"
                            fill="currentColor" />
                    </svg>
                </span>
                <div class="d-flex flex-column">
                    <h3 class="mb-1 text-danger">Not found!</h3>
                        <span>Assignments not found, please try again later.</span>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    .toggleHeader.active {
        padding-bottom: 0;
        font-weight: bold;
    }


</style>