<style>
    #drivermap
    {
        position: inherit !important; 
        height: 100% !important;
        width: 100% !important;
    }
</style>
<div class="mainwrap googlemap noSwipe" id="trackDriverMap">
    <div class="headerBar displayFlex alignItemCenter innerHeader">
        <div class="nav-sidebar align-left">
            <div class="backtopage" ng-click="$root.goBack()" class=" p-5 ms-n5">
                <img src="./clients/{{$root.ClientSettings.Client}}/images/back-arrow.svg"/>
            </div>
        </div><!--nav-sidebar-->
        <div class="header-text"><span translate>Locate driver</span></div>
        <div class="headerRight alignright">
            <div class="notifyIcon"><i class="fa fa-bell-o"></i></div>
        </div> 
    </div>

    <div class="alignleft fullWidth">
      <div class="content noPaddingBtm">
        <div class="pagesections noPaddingBtm">
            <div id="drivermap">

            </div>
            <div class="storesNearBy whiteBg">
                <div class="storeHeader">
                    <span translate>TRACKINGDETAILS</span>
                </div>
                <div class="storeList trackingDetails">
                    <ul>
                        <li ng-if="driverPlaces">
                            <label translate>CurrentLocation</label>
                            <span>{{driverPlaces}} </span>
                        </li>  
                        <li ng-if="DriverDetails &&  DriverDetails.EstimatedTime">
                            <label translate>EstimatedTimeofArrival</label>
                            <span>{{DriverDetails.EstimatedTime| date : 'dd-MM-yyyy hh:mm a'}} </span>
                             (<small translate>Mayvarybasedontrafficconditions</small>)
                            </span>
                        </li>       
                        <li ng-if="DriverDetails &&  DriverDetails.DriverName">
                            <label translate>DriverName</label>
                            <span>{{DriverDetails.DriverName}}</span>
                        </li>
                        <li  ng-if="DriverDetails && DriverDetails.DriverNumber">
                            <label translate>ContactNumber</label>
                            <span>{{DriverDetails.DriverNumber}}</span>
                        </li>             
                    </ul>
                </div>
            </div>
        </div>
      </div>  
    </div>
</div>
