<div class="header" ng-show="ShowRegisterHeader">
    <div class="headerBar displayFlex alignItemCenter innerHeader">
        <div class="nav-sidebar align-left">
            <div class="backtopage" ng-click="$root.goBack()" class=" p-5 ms-n5">
                <img src="./clients/{{$root.ClientSettings.Client}}/images/back-arrow.svg" />
            </div>
        </div>
        <!--nav-sidebar-->
        <div class="header-text"><span>Promotions</span></div>
        <div ng-show="ShowLoaders" class="LoaderSmall">
            <div>
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
        </div>
</div>
<div class="productlisting promotions">
    <div class="header">
        <div class="header-inner">
            <div class="nav-sidebar align-left">
                <div class="backtopage"><a href="" ng-click="$root.goBack()" class=" p-5 ms-n5">&nbsp;</a></div>
            </div><!--nav-sidebar-->
            <div class="header-text dropdownheader">
                <span translate>INSTOREPROMOTION</span>
            </div>
            <ng-include src="'partials/header.html'"></ng-include>
            <span class="cart-icon"><a href="" id="cart" ui-sref="cart" ui-sref-opts="{reload: true}"><i class="fa fa-shopping-cart"></i></a></span>
        </div>
        <ng-include src="'partials/searchheader.html'"></ng-include>
        <ng-include ng-show="ShowLoader" src="'partials/main-loader.html'"></ng-include>
    </div><!--header--> 

    <div class="maincontentarea noSearch">
        <div class="content greybg">
             <div class="pagesections relativePos" ng-cloak>
                 <div class="displaylineBlock fullwidth promoBanner overflowY" ng-if="PromotionList.length > 0" ng-cloak>
                    <div class="displaylineBlock fullwidth promoBannerItem" ng-repeat="promotion in PromotionList">
                        <!-- <img src="{{ promotion.PromotionFile }}" loading="lazy" alt="{{ promotion.Description }}" /> -->
                            <!-- <img class="fancybox-image" src="{{ promotion.PromotionFile }}" alt="" /> -->
                    </div>
                 </div>
                 <div class="displaylineBlock fullwidth promoBanner overflowY" ng-if="PromotionList.length === 0 && !$root.ShowLoader" ng-cloak>
                        <h4 class="textcenter" translate>NOACTIVEPROMOTIONS</h4>
                 </div>
             </div><!--pagesections-->
        </div>
    </div><!--maincontentarea-->
</div>
<script>
 
</script>
