@using Eduegate.Services.Contracts.Enums;
@model Eduegate.Framework.PageRendererEngine.ViewModels.BoilerPlateInfoViewModel
@{
    Random rnd = new Random();
    var windowName = "window_MenuCards";
    var documentTypeID = Model.GetParameterValue<string>("DocumentTypeID");
}

<div id="@windowName" template="_DashBoard_Menu_Cards" ng-controller="DashboardController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model),'@windowName')">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row">
    <div class="col-lg-3 col-sm-6" ng-repeat="datas in CardDatas">
        <div class="panel info-box panel-white" style=" box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border: 0 !important; margin-bottom: 25px; border-radius: 0;">
            <div class="panel-body">
                <div class="info-box-stats">
                    <h2 class="text-3xl font-bold text-gray-800 dark:text-white">{{datas.Value}}</h2>
                    <span class="info-box-title">{{datas.Header}}</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa-database" aria-hidden="true"></i>
                </div>
                <div class="info-box-progress">
                    <div class="progress progress-xs progress-squared bs-n">
                        @*<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <style>
        .col-lg-3 {
            width: 25%;
        }

        .panel-white {
            background: #fff;
        }

        .panel {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            border: 0 !important;
            margin-bottom: 25px;
            border-radius: 0;
        }

        .info-box .info-box-stats p {
            font-size: 28px;
            margin-bottom: 14px;
            color: #374051;
            font-weight: 300;
        }

        p {
            display: block;
            font-weight: 400;
            letter-spacing: normal;
            line-height: 22px;
            margin: 0 0 10px;
            font-style: normal;
            white-space: normal;
        }

        .panel .panel-body {
            position: relative;
            padding: 20px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .info-box .info-box-stats {
            float: left;
            margin-top: 5px;
        }

            .info-box .info-box-stats span.info-box-title {
                display: block;
                font-size: 13px;
                margin-bottom: 10px;
                color: #B0B0B0;
            }

        .info-box .info-box-icon {
            float: right;
        }

            .info-box .info-box-icon i {
                font-size: 31px;
                color: #B0B0B0;
            }

        .info-box .info-box-progress {
            clear: both;
        }

        .info-box .progress {
            margin: 0;
        }

        .progress-xs {
            height: 5px;
        }

        .progress-squared {
            border-radius: 0;
        }

    </style>
</div>
    