@using Eduegate.Services.Contracts.Enums;
@model Eduegate.Framework.PageRendererEngine.ViewModels.BoilerPlateInfoViewModel
@{
    Random rnd = new Random();
    var windowName = "window_" + rnd.Next().ToString();
}

<div id="@windowName" tempalte="_LineChart" ng-controller="BoilerplateLineChartController" ng-init="childInit(@Newtonsoft.Json.JsonConvert.SerializeObject(Model),'@windowName')">

    <div id="linechart" class="col-md-4 charts-grids widget states-mdl">
        <div class="page_subtitles">@(Model.GetParameterValue<string>("Title"))</div>
        <canvas id="line" height="300" width="400"> </canvas>
        <i id="linechartclose" class="fa fa-trash-o cross" title="Remove"></i>
    </div>

    <script>
      
    </script>
</div>

