<div class="widgetOptions">
    <ul>
        <li><a href="#"><span class="widget_icon"><img src="img/bluetheme/shareholder.png" /></span><span>Share Holder</span></a></li>
        <li><a href="#"><span class="widget_icon"><img src="img/bluetheme/onlineShopping.png" /></span><span>Online Shopping</span></a></li>
        <li><a href="#"><span class="widget_icon"><img src="img/bluetheme/promotion.png" /></span><span>Promotion</span></a></li>
        <li><a href="#"><span class="widget_icon"><img src="img/bluetheme/shareholder.png" /></span><span>Share Holder</span></a></li>
        <li><a href="#"><span class="widget_icon"><img src="img/bluetheme/onlineShopping.png" /></span><span>Online Shopping</span></a></li>
        <li><a href="#"><span class="widget_icon"><img src="img/bluetheme/promotion.png" /></span><span>Promotion</span></a></li>
    </ul>
</div>