@using Eduegate.Services.Contracts.Enums;
@model Eduegate.Framework.PageRendererEngine.ViewModels.BoilerPlateInfoViewModel
@*@model Eduegate.Web.Library.ViewModels.SearchListViewModel*@
@using Eduegate.Framework.Extensions;
@{
    Random rnd = new Random();
    var windowName = "window_TeacherTimeTable";
    var documentTypeID = Model.GetParameterValue<string>("DocumentTypeID");
    var title = Model.GetParameterValue<string>("Title");
    var viewID = Model.GetParameterValue<string>("ViewID");
    var cultureTitle = Model.GetParameterValue<string>("Title_" + System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName.ToLower());
    if (!string.IsNullOrEmpty(cultureTitle))
    {
        title = cultureTitle;
    }
}

<div class="card card-flush h-xl-100">
    <div id="@windowName" template="_Teacher_Weekly_TimeTable" ng-controller="DashboardController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model),'@windowName')">
        @* <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">*@
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

        <div class="idance">
            <div class="schedule content-block">
                <div class="container">
                    <div class="page_subtitles">
                        @title
                    </div>

                    <div class="timetable">

                        <!-- Schedule Top Navigation -->
                        <nav class="nav nav-tabs sticky-top" >
                            <a class="nav-link {{day.class}}" ng-repeat="day in dayNames" ng-click="DayChanges(day.value)">{{day.name}}</a>
                        </nav>

                            <div class="tab-pane show active">
                                <div class="row">
                                    <span >{{returnLabel}}</span>
                                    <!-- Schedule Item 1 -->
                                    <div class="col-md-4" ng-repeat="data in TimeTable.TimeTableAllocations">
                                        <div class="timetable-item">
                                            <div class="timetable-item-main">
                                                <div class="timetable-item-time">{{data.ClassTime}}</div>
                                                <div class="timetable-item-name">{{data.ClassSectionName}}</div>
                                                <div class="timetable-item-name">{{data.SubjectName}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        body {
            margin-top: 20px;
        }

        .idance .classes-details ul.timetable {
            margin: 0 0 22px;
            padding: 0;
        }

            .idance .classes-details ul.timetable li {
                list-style: none;
                font-size: 15px;
                color: #7f7f7f;
            }

        idance .timetable {
            max-width: 900px;
            margin: 0 auto;
        }

        .idance .timetable-item {
            border: 1px solid #d8e3eb;
            padding: 10px;
            margin-top: 5px;
            position: relative;
            display: block;
        }

        .idance .timetable-item-main {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            position: relative;
            margin-top: 12px;
        }

        .idance .timetable-item-time {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 4px;
        }

        .idance .timetable-item-name {
            font-size: 14px;
            /*margin-bottom: 19px;*/
        }

        .idance .btn-book {
            padding: 6px 30px;
            width: 100%;
        }

        .idance .timetable-item-book {
            width: 200px;
        }

            .idance .timetable-item-book .btn {
                width: 100%;
            }

        .idance .schedule .nav-tabs {
            border-bottom: 2px solid #104455;
        }

        .idance .schedule .nav-link {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
            color: #3d3d3d;
            font-weight: 500;
            -webkit-transition: none;
            -o-transition: none;
            transition: none;
            border-radius: 2px 2px 0 0;
            padding-left: 0;
            padding-right: 0;
            cursor: pointer;
        }

            .idance .schedule .nav-link.active {
                background: #104455;
                border-color: #104455;
                color: #fff;
            }

                .idance .schedule .nav-link.active:focus {
                    border-color: #104455;
                }

            .idance .schedule .nav-link:hover:not(.active) {
                background: #46c1be;
                border-color: #46c1be;
                color: #fff;
            }

        .idance .schedule .tab-pane {
            padding-top: 5px;
        }

    </style>
</div>
