<table border="1" style="width:100%" class="table table-striped table-bordered table-hover table-checkable order-column valign-middle">
    <thead>
        <tr>
            <th class="noBorderBtm">&nbsp;</th>
            <th ng-repeat="clsTime in ClassTime"> {{clsTime.Value}}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="content time" ng-repeat="WkDay in WeekDay">
            <th class="columnHeader">{{WkDay.Value}}</th>
            <td ng-repeat="clsTime in ClassTime">
                <span class="seletedsubject" ng-repeat="allocItem in ClassTimeTable | filter:{ 'WeekDayID' : parseInt(WkDay.Key) , 'ClassTimingID' :parseInt(clsTime.Key) }:true"
                      title="Subject: {{allocItem.Subject.Value}}&#10;Teacher: {{allocItem.Employee.Value}}">
                    {{allocItem.Subject.Value}}
                </span>
            </td>
        </tr>

    </tbody>
</table>
