
@{
    ViewBag.Title = "FeePaymentGateway";    
}

<h2>FeePaymentGateway</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body ng-controller="MyWardController">
    <div>
        <h3>Please Wait.....</h3>
        <p>
            <span>Redirect to Payment Page..</span>

        </p>
    </div>
    <div class="displaylineBlock fullwidth textcenter">
        <button ng-if="IsCancel" class="btnStyle rounded white" ng-click="init()">RETRY</button>
        <button class="btnStyle rounded white" ng-click="$root.goBack()">CANCEL</button>
        <button class="btnStyle rounded white" ng-click="SaveFeepaymentGateway()">OK</button>
    </div>
</body>
</html>