
@{
    ViewBag.Title = "ParentDashboard";
    Layout =  "~/Views/Shared/_Layout.cshtml";
}

<!-- start page content -->
<div class="page-content-wrapper" ng-controller="ParentDashboardController" ng-init="init('','')">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Dashboard</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Dashboard</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>

        <!-- chart start -->
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-6">
                <div class="card">
                    <div class="card-head">
                        <header>Attendance</header>
                        <div class="tools">
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="recent-report__chart">
                            <div id="gaugeChart_001" style="height: 470px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-12 col-sm-12 col-lg-6">
                <div class="card">
                    <div class="card-head">
                        <header>Progress</header>
                    </div>
                    <div class="card-body">
                        <div id="schart3"></div>
                        <div class="row">
                            <div class="col-4">
                                <p class="text-muted font-15 text-truncate">Target</p>
                                <h5>
                                    <i class="fa fa-arrow-circle-up col-green ms-1 me-1"></i>$15.3k
                                </h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted font-15 text-truncate">
                                    Last
                                    week
                                </p>
                                <h5>
                                    <i class="fa fa-arrow-circle-down col-red ms-1 me-1"></i>$2.8k
                                </h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted text-truncate">
                                    Last
                                    Month
                                </p>
                                <h5>
                                    <i class="fa fa-arrow-circle-up col-green ms-1 me-1"></i>$12.5k
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        

        <!-- start student list -->
        
            <div class="col-12 col-sm-12 col-lg-6">
                <div class="card">
                    <div class="card-head">
                        <header>Student Transport List</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="table-wrap">
                            <div class="table-responsive table-responsive-custom">
                                <table class="table display product-overview mb-30">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Name</th>
                                            <th>Pickup Stop</th>
                                            <th>Drop Stop</th>
                                            <th>Type</th>
                                            <th>Date From</th>
                                            <th>Date To</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in StudentTransportDetails">
                                            <td ng-bind="$index+1"></td>
                                            <td ng-bind="data.Name"></td>
                                            <td>
                                                <span ng-if="data.PickupStopMapName!=''" ng-bind="data.PickupStopMapName"></span>
                                                <span ng-if="data.PickupStopMapName==''">-</span>
                                            </td>
                                            <td>
                                                <span ng-if="data.DropStopMapName!=''" ng-bind="data.DropStopMapName"></span>
                                                <span ng-if="data.DropStopMapName==''">-</span>
                                            </td>
                                            <td>
                                                <span ng-if="data.IsOneWay===false" class="label label-sm label-success">Two Way</span>
                                                <span ng-if="data.IsOneWay===true" class="label label-sm label-warning">One Way</span>
                                            </td>
                                            <td ng-bind="data.DateFrom"></td>
                                            <td ng-bind="data.DateTo"></td>
                                            <td><a href="mywards?sID={{data.StudentID}}"><i class="material-icons f-left"></i>View</a> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end student list -->
    </div>
</div>
<!-- end page content -->
