
    <div class="productcreteheader">Product Feature</div>
    <div class="panel-body">
        <form class="form-horizontal" action="#" role="form">
            <div class="form-group">
                <label class="addprodleft control-label">Creation Date</label>
                <div class="controls createdate">
                    <div class="input-group">
                        <input type="text" placeholder="Date" id="datepicker-icon" class="hasDatepicker">
                        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="addprodleft control-label">Product Name (En) <span class="red">*</span></label>
                <div class="controls productname">
                    <input class="width-70" type="text" placeholder="Input" data-rel="tooltip-right" data-original-title="Insert your input tips here">
                </div>
            </div>
            <div class="form-group">
                <label class="addprodleft control-label">Product Name (Ar)</label>
                <div class="controls productname">
                    <input class="width-70" type="text" placeholder="Input" data-rel="tooltip-right" data-original-title="Insert your input tips here">
                </div>
            </div>
            <div class="form-group">
                <label class="addprodleft control-label">Product Group</label>
                <div class="controls">
                    <input class="width-70" type="text" placeholder="Input" data-rel="tooltip-right" data-original-title="Insert your input tips here">
                </div>
            </div>
            <div class="form-group">
                <label class="addprodleft control-label">Barcode</label>
                <div class="controls">
                    <input class="width-70" type="text" placeholder="Input" data-rel="tooltip-right" data-original-title="Insert your input tips here">
                </div>
            </div>
            <div class="form-group">
                <label class="addprodleft control-label">Part No <span class="red">*</span></label>
                <div class="controls">
                    <input class="width-70" type="text" placeholder="Input" data-rel="tooltip-right" data-original-title="Insert your input tips here">
                </div>
            </div>
            <div class="form-group">
                <label class="addprodleft control-label">HS Code</label>
                <div class="controls">
                    <input class="width-70" type="text" placeholder="Input" data-rel="tooltip-right" data-original-title="Insert your input tips here">
                </div>
            </div>
            <div class="form-group">
                <label class="addprodleft control-label">Brand Name <span class="red">*</span></label>
                <div class="controls brand">
                    <select>
                        <i class="fa fa-caret-down"></i>
                        <option>Apple</option>
                        <option>Samsung</option>
                        <option>Toshiba</option>
                        <option>Western Digital</option>
                        <option>Choice 5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="addprodleft control-label">Product Cost Price</label>
                <div class="controls price">
                    <div class="input-group">
                        <input type="text" placeholder="" id="" class="">
                        <span class="input-group-addon" id="" data-datepicker="">KD</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
