<div class="msg-alert stickmsg">
    <div ng-class="{'success-msg' : IsError == false, 'error-msg' : IsError == true }" class="msg">
        <div ng-class="{'success-msginner' : IsError == false, 'error-msginner' : IsError == true }">
            <span ng-bind-html="Message"></span>
            @*<span class="msg-close"></span>*@
        </div>
    </div>
</div>
