@model bool

@if (Model)
{
    <div class="productcreteheader">Configuration Settings<button value="Submit" type="button" class="submitcreateform-style">Next</button></div>
    <div class="panel-body">
        <div class="container-left options alignleft form-horizontal">
            @{
                await Html.RenderPartialAsync("_CustomSKUField", Model);
            }
        </div>
    </div>
}
else
{
    <div class="panel-body">
        <table class="listing planner-create sku ui-table ui-table-reflow" data-role="table" data-mode="reflow" border="0">

            <tbody>

                @*start*@
                <tr id="skuField" class="sku-fields showfields">
                    <td colspan="5">
                        @{
                            await Html.RenderPartialAsync("_CustomSKUField", Model);
                        }
                    </td>
                </tr>
                @*end*@

            </tbody>
        </table>
    </div>
}
