<div class="send-msg system-message">
    @*<div class="send-msg-img"><img class="user-img-circle" /></div>*@
    <div class="send-msg-txt">
        <text class="send-msg-txt-style" id="messageText">%%MESSAGE%%</text>
        <a id="yes%%RESPONSEID%%" href="#">Yes</a> /
        <a id="no%%RESPONSEID%%" href="#">No</a>
        <div class="send-msg-time">
            <text class="send-msg-time-style" id="currentTime">%%CURRENTTIME%%</text>
        </div>
    </div>

</div>