<span class="fa fa-close" ng-click="PoupClose(CRUDModel.Model);"></span>
<form name="smsaForm" novalidate>
    <div class="form-group">
        <label class="addprodleft control-label">Reference No</label>
        <div class="controls">
            <input type="text" name="ReferenceNo" ng-model="CRUDModel.Model.Shipment.ReferenceNo" required/>
            <span ng-show="submitted && submitted && smsaForm.ReferenceNo.$error.required" style="color:red">field is required.</span>
        </div>
    </div>

    <div class="form-group">
        <label class="addprodleft control-label">Customer Name</label>
        <div class="controls">
            <input type="text" name="CustomerName" ng-model="CRUDModel.Model.Shipment.CustomerName" required/>
            <span ng-show="submitted && smsaForm.CustomerName.$error.required" style="color:red">field is required.</span>
        </div>
    </div>

    <div class="form-group">
        <label class="addprodleft control-label">Select City</label>
        <div class="controls">
            <select name="City" ng-model="CRUDModel.Model.Shipment.City" required>
                <i class="fa fa-caret-down"></i>
                <option ng-selected="CRUDModel.Model.Shipment.City == data.Key" ng-repeat="data in LookUps.Cities" value={{data.Key}}>{{data.Value}}</option>
            </select>
            <i class="dropdownarrow fa fa-caret-down"></i>
            <span ng-show="submitted && smsaForm.City.$error.required" style="color:red">field is required.</span>
        </div>
    </div>

    <div class="form-group">
        <label class="addprodleft control-label">Mobile</label>
        <div class="controls">
            <input type="text" name="Mobile" ng-model="CRUDModel.Model.Shipment.Mobile" required/>
            <span ng-show="submitted && smsaForm.Mobile.$error.required" style="color:red">field is required.</span>
        </div>
    </div>

    <div class="form-group">
        <label class="addprodleft control-label">Telephone</label>
        <div class="controls">
            <input type="text" name="Telephone" ng-model="CRUDModel.Model.Shipment.Telephone" required/>
            <span ng-show="submitted && smsaForm.Telephone.$error.required" style="color:red">field is required.</span>
        </div>
    </div>


    <div class="form-group">
        <label class="addprodleft control-label">Address</label>
        <div class="controls">
            <textarea type="text" name="Address" ng-model="CRUDModel.Model.Shipment.Address" required/>
            <span ng-show="submitted && smsaForm.Address.$error.required" style="color:red">field is required.</span>
        </div>
    </div>

    <div class="form-group">
        <label class="addprodleft control-label">No. of pcs</label>
        <div class="controls">
            <input type="text" name="NoOfPcs" ng-model="CRUDModel.Model.Shipment.NoOfPcs" required/>
            <span ng-show="submitted && smsaForm.NoOfPcs.$error.required" style="color:red">field is required.</span>
        </div>
    </div>

    <div class="form-group">
        <label class="addprodleft control-label">Weight</label>
        <div class="controls">
            <input type="text" name="Weight" ng-model="CRUDModel.Model.Shipment.Weight" required/>
            <span ng-show="submitted && smsaForm.Weight.$error.required" style="color:red">field is required.</span>
        </div>
    </div>

    <div class="form-group">
        <label class="addprodleft control-label">Amount</label>
        <div class="controls">
            <input type="text" name="CODAmount" ng-model="CRUDModel.Model.Shipment.CODAmount" required/>
            <span ng-show="submitted && smsaForm.CODAmount.$error.required" style="color:red">field is required.</span>
        </div>
    </div>

    <div class="form-group">
        <label class="addprodleft control-label">Item Description</label>
        <div class="controls">
            <input type="text" name="ItemDescription" ng-model="CRUDModel.Model.Shipment.ItemDescription" required/>
            <span ng-show="submitted && smsaForm.ItemDescription.$error.required" style="color:red">field is required.</span>
        </div>
    </div>

    <div class="form-group">
        <div class="controls">
            <input type="button" value="Generate" ng-click="AddShipment(CRUDModel.Model.Shipment, detail);" />
        </div>
    </div>
</form>