@model Eduegate.Web.Library.ViewModels.Common.CRUDMasterDetailViewModel
@using System.Reflection;
@using Eduegate.Framework.Mvc.Attributes;
@using Eduegate.Framework.Extensions;

@{
    var headSpan = ViewContext.ViewBag.HeaderCount - 1;

    if (Model.MasterViewModel.IsSummaryPanel)
    {
        if (Model.MasterViewModel.ToString() != "Eduegate.Web.Library.ViewModels.Inventory.PurchaseOrderMasterViewModel")
        {
            <tr class="subtotal">
                <td colspan="@(headSpan)" class="textright"><span class="caption">Delivery Charge:</span></td>
                <td><input class="value discount" type="text" ng-model="CRUDModel.Model.MasterViewModel.DeliveryCharge" value="{{CRUDModel.Model.MasterViewModel.DeliveryCharge}}" /></td>
                <td></td>
            </tr>
        }

        <tr class="subtotal">
            <td colspan="@(headSpan)" class="textright"><span class="caption">Sub Total:</span></td>
            <td class="textright"><span class="value">{{(CRUDModel.Model.DetailViewModel|sumByKey:'Amount': CRUDModel.Model.MasterViewModel.DeliveryCharge == null || CRUDModel.Model.MasterViewModel.DeliveryCharge == undefined ? 0 : CRUDModel.Model.MasterViewModel.DeliveryCharge | number : 3)}}</span></td>
            <td></td>
        </tr>

        if (Model.MasterViewModel.ToString() != "Eduegate.Web.Library.ViewModels.ShoppingCart.CartMasterViewModel")
        {
            <tr class="subtotal">
                <td colspan="@(headSpan+2)" class="textright">
                    <span class="caption">
                        Discount: <input class="discount" ng-blur="TotalDiscountByAmount()" ng-model="CRUDModel.Model.MasterViewModel.Discount" type="text" value="{{CRUDModel.Model.MasterViewModel.Discount | number : 3}}" ng-p ng-pattern="/^[0-9]*\d{0,9}(\.?\d{1,3})?%?$/"><span>
                            or
                        </span><input class="discount percentage" ng-disabled="CRUDModel.Model.MasterViewModel.Discount > 0" ng-blur="TotalDiscountByPercentage()" ng-model="CRUDModel.Model.MasterViewModel.DiscountPercentage" type="text" value="{{CRUDModel.Model.MasterViewModel.DiscountPercentage}}" ng-p ng-pattern="/^([0-9]{1,2}([\.][0-9]{1,2})?$|100([\.][0]{1,})?)$/">&nbsp;&nbsp;%
                    </span>
                </td>
            </tr>
        }

        <tr class="subtotal">
            <td colspan="@(headSpan)" class="textright"><span class="caption">Grand Total:</span></td>
            <td class="textright"><span class="value">{{((CRUDModel.Model.DetailViewModel|sumByKey:'Amount': CRUDModel.Model.MasterViewModel.DeliveryCharge == null || CRUDModel.Model.MasterViewModel.DeliveryCharge == undefined  ? 0 : CRUDModel.Model.MasterViewModel.DeliveryCharge) - CRUDModel.Model.MasterViewModel.Discount | number : 3)}}</span></td>
            <td></td>
        </tr>
    }
}