@{
    ViewBag.Title = "FeePaymentHistory OLD";
}

<div class="d-flex flex-column-reverse flex-lg-row">
    <div class="flex-lg-row-fluid mb-10 mb-lg-0 me-lg-7 me-xl-10">

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group row  margin-top-20">
                            <label class="control-label col-md-12" for="School">School</label>
                            <div class="input-icon right ps-0">
                                <i class="fa"></i>
                                <select class="form-control validate" required="" aria-required="true" name="SelectedSchool" id="SelectedSchool"
                                        ng-options="item as item.Value for item in Schools track by item.Key" ng-model="SelectedSchool" autofocus tabindex="0" ng-change="SchoolChanges()"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row  margin-top-20">
                            <label class="control-label col-md-12" for="SchoolAcademicyear">Academic Year</label>
                            <div class="input-icon right ps-0">
                                <i class="fa"></i>
                                <select class="form-control validate" required="" aria-required="true" name="SelectedAcademicYear" id="SelectedAcademicYear"
                                        ng-options="item as item.Value for item in AcademicYears track by item.Key" ng-model="SelectedAcademicYear" ng-change="GetFeeCollectionHistory()"></select>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div id="FeePaymentHistoryOverlay" class="preload-overlay center" ng-if="ShowPreLoader">
                    <span id="FeePaymentHistoryOverlay" class="preloadImg">
                        <img src="~/Images/preloaderWhite.gif" alt="loader" />
                    </span>
                </div>
                <div class="alert alert-info text-center" ng-if="StudentFeeCollections.length == 0 && !ShowPreLoader">
                    <label>There is no payment details found!</label>
                </div>

                <div class="fullcolumn-layout" ng-if="StudentFeeCollections != null && StudentFeeCollections.length > 0">
                    <div class="table-responsive">
                        <table style="width:100%" class="table table-striped table-bordered table-checkable order-column valign-middle">
                            <thead>
                                <tr>
                                    <th class="textleft w-10px min-w-10px"> </th>
                                    <th class="medium-col-width">Student</th>
                                    <th class="feeStructure"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-focus="FocusGrid($event,'StudentFeeCollections')" ng-repeat-start="gridModel in StudentFeeCollections track by $index" class="ng-scope">
                                    <td class="textleft">
                                        <div class="controls text-center">
                                            <a small-col-width="" ng-click="ExpandCollapase($event, gridModel, 'IsExpand')">
                                                <i ng-if="gridModel.IsExpand" class="fa  fa fa-angle-double-down"></i>
                                                <i ng-if="!gridModel.IsExpand" class="fa  fa fa-angle-double-up"></i>
                                            </a>
                                        </div>

                                    </td>

                                    <td class="medium-col-width">
                                        <span ng-bind="gridModel.StudentName" class="ng-binding"></span>

                                    </td>
                                    <td class="feeStructure">
                                    </td>
                                </tr>
                                <tr class=" text-center" ng-if="gridModel.FeeCollectionTypeHistories.length == 0" colspan="100%">
                                    <td colspan="100%">There is no collection details found!</td>
                                </tr>
                                <tr class="ng-scope" ng-if="gridModel.FeeCollectionTypeHistories.length > 0">
                                    <td class="feeStructure" colspan="5">
                                        <div class="table-responsive shadow-none">
                                            <table id="GridTable" class="table  table-bordered table-checkable order-column valign-middle">
                                                <thead>
                                                    <tr>
                                                        <th class="medium-col-width">Receipt No</th>
                                                        <th>Collection Date</th>
                                                        <th>Fee Type</th>
                                                        <th>Fee Period</th>
                                                        <th class="text-right">Amount</th>
                                                        <th>Status</th>
                                                        <th class="feeMonthly"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat-start="gridModel in gridModel.FeeCollectionTypeHistories track by $index" class="ng-scope">

                                                        <td class="medium-col-width">
                                                            <span ng-bind="gridModel.FeeReceiptNo" class="ng-binding"></span>
                                                        </td>
                                                        <td class="medium-col-width">
                                                            <span ng-bind="gridModel.CollectionDate" class="ng-binding"></span>
                                                        </td>
                                                        <td>
                                                            <span ng-bind="gridModel.FeeMaster.Value" class="ng-binding"></span>
                                                        </td>
                                                        <td>
                                                            <span ng-bind="gridModel.FeePeriod.Value" class="ng-binding"></span>
                                                        </td>
                                                        <td class="text-right">
                                                            <span ng-bind="gridModel.Amount|number:2" class="ng-binding currSign"></span>
                                                        </td>
                                                        <td>
                                                            <span ng-if="gridModel.FeeCollectionStatusID == gridModel.FeeCollectionCollectedStatusID">
                                                                <span class="badge badge-success">{{gridModel.FeeCollectionStatus}}</span>
                                                            </span>
                                                            <span ng-if="gridModel.FeeCollectionStatusID == gridModel.FeeCollectionDraftStatusID">
                                                                <span class="badge badge-danger">{{gridModel.FeeCollectionStatus}}</span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr class="ng-scope" ng-if="gridModel.FeeMonthly.length > 0">
                                                        <td class="feeStructure" colspan="5">
                                                            <div class="table-responsive ">
                                                                <table class="table table-striped table-bordered table-checkable order-column valign-middle" align="right">

                                                                    <thead>
                                                                        <tr>
                                                                            <th class="textright">Month</th>
                                                                            <th class="textright">Amount</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>

                                                                        <tr ng-focus="FocusGrid($event,'gridModel.FeeMonthly')" ng-repeat-start="gridModelMonth in gridModel.FeeMonthly track by $index" class="ng-scope">

                                                                            <td class="textright">
                                                                                <span ng-bind="gridModelMonth.MonthName" class="ng-binding"></span><span class="redcolor"></span>
                                                                            </td>

                                                                            <td class="textright">
                                                                                <span ng-bind="gridModelMonth.Amount|number:2" class="ng-binding currSign"></span><span class="redcolor"></span>
                                                                            </td>

                                                                        </tr>

                                                                        <tr ng-repeat-end="" class="ng-scope"></tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat-end="" class="ng-scope"></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                <tr ng-repeat-end="" class="ng-scope"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-lg-auto min-w-lg-350px">
        <div class="card ">
            <div class="card-header d-flex align-items-center">
                <h2 class="fs-2">Fee Due</h2>

            </div>
            <!--begin::Card body-->
            <div class="card-body p-10">

                @*<div class="separator separator-dashed mb-8"></div>
                    <div class="mb-8">
                        <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid flex-stack mb-5">
                            <span class="form-check-label ms-0 fw-bold fs-6 text-gray-700">Total amount:</span>
                            <span>
                                <span class="displaylineBlock currSign"></span>

                                <span ng-bind="GetTotalFeePayAmount(feePays)|number:2"></span>
                            </span>
                        </label>
                    </div>
                    <div class="separator separator-dashed mb-8"></div>*@

                <div class="mb-0">

                    <button class="btn btn-primary w-100" type="submit" ng-click="DuePaymentClick()">
                        Know your due
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
