@{
    ViewBag.Title = "FeePaymentHistory";
}

<link href="~/Content/style.bundle.css" rel="stylesheet" type="text/css" />

<div class="d-flex flex-column-reverse flex-lg-row col-lg-12">
    <div class="flex-lg-row-fluid mb-10 mb-lg-0">

        <div class="content rounded-3 card   mb-4">
            <div class="card-header px-4 border-0 border-gray-300"  >
                <!--begin::Title-->
                <div class="card-title align-items-start flex-column">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row  margin-top-20">
                                <label class="control-label col-md-12" for="School">School</label>
                                <div class="input-icon right ps-0">
                                    <i class="fa"></i>
                                    <select class="form-control validate" required="" aria-required="true" name="SelectedSchool" id="SelectedSchool"
                                            ng-options="item as item.Value for item in Schools track by item.Key" ng-model="SelectedSchool" autofocus tabindex="0" ng-change="SchoolChanges()"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row  margin-top-20">
                                <label class="control-label col-md-12" for="SchoolAcademicyear">Academic Year</label>
                                <div class="input-icon right ps-0">
                                    <i class="fa"></i>
                                    <select class="form-control validate" required="" aria-required="true" name="SelectedAcademicYear" id="SelectedAcademicYear"
                                            ng-options="item as item.Value for item in AcademicYears track by item.Key" ng-model="SelectedAcademicYear" ng-change="GetFeeCollectionHistory()"></select>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <!--end::Title-->
                <!--begin::Actions-->
                <div class="card-toolbar">
                    <!--begin::Filters-->
                    <div class="d-flex flex-stack flex-wrap gap-4">
                        <button class="btn btn-sm btn-primary w-100" type="submit" ng-click="DuePaymentClick()">
                            Pay your fee due
                        </button>
                    </div>
                    <!--begin::Filters-->
                </div>
                <!--end::Actions-->
            </div>
        </div>


        <div id="FeePaymentHistoryOverlay" class="preload-overlay center" ng-if="IsEnableLoader">
            <span id="FeePaymentHistoryOverlay" class="preloadImg">
                <img src="~/Images/preloaderWhite.gif" alt="loader" />
            </span>
        </div>
        <div class="alert alert-info text-center" ng-if="FeeCollectionHistories.length == 0 && !ShowPreLoader">
            <label>There is no collection details found!</label>
        </div>

        <div class="fullcolumn-layout" ng-if="FeeCollectionHistories != null && FeeCollectionHistories.length > 0">
            <div class="table-responsive">
                <table style="width:100%" class="table table-rounded border border-gray-200 gy-3 gs-7   table-row-bordered overflow-hidden bg-white">
                    <thead class="bg-th-head ">
                        <tr class="text-start fw-semibold fs-6 text-gray-800">
                            <th class="text-start min-w-250px ">Transaction Number</th>
                            <th class="text-start min-w-100px ">Date</th>
                            <th class="text-end w-125px ">Amount</th>
                            <th class="text-end w-100px ">Status</th>
                            <th class="text-end w-80px"></th>

                            <th class="text-start w-10px min-w-10px"> </th>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                        <tr ng-focus="FocusGrid($event,'FeeCollectionHistories')" ng-repeat-start="gridModel in FeeCollectionHistories track by $index" class="ng-scope"
                            ng-init="currentTransaction = $parent.start; $parent.start=$parent.start+1;">

                            <td class="text-start">
                                <span ng-bind="gridModel.TransactionNumber" class="text-gray-800 fw-semibold"></span>
                            </td>
                            <td class="text-start">
                                <span ng-bind="gridModel.CollectionDate" class="ng-binding"></span>
                            </td>
                            <td class="text-end">
                                <span ng-bind="gridModel.Amount|number:2" class="text-gray-800 fw-semibold"></span>
                            </td>
                            <td class="text-end">
                                <span ng-if="gridModel.FeeCollectionStatusID == gridModel.FeeCollectionCollectedStatusID">
                                    <span class="badge py-3 px-4 fs-7 badge-light-primary">{{gridModel.FeeCollectionStatus}}</span>
                                </span>
                                <span ng-if="gridModel.FeeCollectionStatusID == gridModel.FeeCollectionDraftStatusID">
                                    <span class="badge py-3 px-4 fs-7 badge-light-danger">{{gridModel.FeeCollectionStatus}}</span>
                                </span>
                            </td>

                            <td class="text-end" ng-if="gridModel.FeeCollectionStatusID == gridModel.FeeCollectionDraftStatusID">
                                <span>
                                    <button type="submit" ng-click="RetryPaymentTransaction(gridModel)" class="btn btn-xs btn-active-light-primary">
                                        <span class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                            </svg>
                                        </span>Retry
                                    </button>

                                </span>
                            </td>
                            <td class="text-end" ng-if="gridModel.FeeCollectionStatusID == gridModel.FeeCollectionCollectedStatusID">
                                <span>
                                    <button type="submit" ng-click="ResendMail(gridModel)" class="btn btn-xs btn-active-light-primary">
                                        <span class="">
                                            <i class="fa fa-envelope" title="Mail receipt"></i>
                                        </span>
                                    </button>
                                </span>
                            </td>
                            <td class="text-end">
                                <div class="controls text-center">
                                    <a class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-bs-toggle="collapse" href="#collapseExample{{currentTransaction}}" role="button" aria-expanded="false" aria-controls="collapseExample{{currentTransaction}}">
                                        <i ng-if="gridModel.IsExpand" class="fa  fa fa-angle-double-down"></i>
                                        <i ng-if="!gridModel.IsExpand" class="fa  fa fa-angle-double-up"></i>
                                    </a>
                                </div>

                            </td>
                        </tr>
                        <tr ng-if="gridModel.StudentHistories.length > 0" class="collapse" id="collapseExample{{currentTransaction}}">
                            <td class="feeStructure p-0" colspan="100%">
                                <div class="table-responsive py-3 bg-light ">
                                    <table id="GridTable" class="table border border-gray-100 gy-3 gs-7 table-row-bordered overflow-hidden mb-0 bg-white">
                                        <thead class="bg-th-head border-bottom-1 border-gray-200">
                                            <tr class="text-start fw-semibold fs-6 text-gray-800">
                                                <th class="text-start min-w-250px ">Student</th>
                                                <th class="text-start min-w-100px ">Receipt No</th>
                                                <th class="text-start min-w-100px ">Collection Date</th>
                                                <th class="text-end w-100px ">Status</th>
                                                <th class="text-end w-125px ">Amount</th>
                                                <th class="text-start w-10px min-w-10px"> </th>

                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            <tr ng-repeat-start="gridStudentModel in gridModel.StudentHistories track by $index" class=""
                                                ng-init="currentStudent = $parent.start; $parent.start=$parent.start+1;">

                                                <td class="text-start">
                                                    <span ng-bind="gridStudentModel.StudentName" class="text-gray-800 fw-semibold"></span>
                                                </td>
                                                <td class="text-start">
                                                    <span ng-bind="gridStudentModel.FeeReceiptNo" class="ng-binding"></span>
                                                </td>
                                                <td class="text-start">
                                                    <span ng-bind="gridStudentModel.CollectionDate" class="ng-binding"></span>
                                                </td>
                                                <td class="text-end">
                                                    <span ng-if="gridStudentModel.FeeCollectionStatusID == gridStudentModel.FeeCollectionCollectedStatusID">
                                                        <span class="badge py-3 px-4 fs-7 badge-light-primary">{{gridStudentModel.FeeCollectionStatus}}</span>
                                                    </span>
                                                    <span ng-if="gridStudentModel.FeeCollectionStatusID == gridStudentModel.FeeCollectionDraftStatusID">
                                                        <span class="badge py-3 px-4 fs-7 badge-light-danger">{{gridStudentModel.FeeCollectionStatus}}</span>
                                                    </span>
                                                </td>
                                                <td class="text-end">
                                                    <span ng-bind="gridStudentModel.Amount|number:2" class="text-gray-800 fw-semibold"></span>
                                                </td>

                                                <td class="text-end">
                                                    <div class="controls text-center">
                                                        <a class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px"
                                                           data-bs-toggle="collapse" href="#collapseExample{{currentStudent}}" role="button" aria-expanded="false" aria-controls="collapseExample{{currentStudent}}">
                                                            <i ng-if="gridStudentModel.IsExpand" class="fa  fa fa-angle-double-down"></i>
                                                            <i ng-if="!gridStudentModel.IsExpand" class="fa  fa fa-angle-double-up"></i>
                                                        </a>
                                                    </div>

                                                </td>

                                            </tr>
                                            <tr ng-if="gridStudentModel.FeeCollectionTypeHistories.length > 0" class="collapse" id="collapseExample{{currentStudent}}" colspan="100%">
                                                <td class="feeStructure p-0" colspan="100%">
                                                    <div class="table-responsive py-4 bg-light">
                                                        <table id="GridTable" class="table border border-gray-100 gy-3 gs-7 table-row-bordered mb-0 bg-white overflow-hidden">
                                                            <thead class="hover-bg bg-th-head border-bottom-1 border-gray-200">
                                                                <tr class="text-start fw-semibold fs-6 text-gray-800">
                                                                    <th class="text-start min-w-250px"></th>
                                                                    <th class="text-start min-w-100px"></th>

                                                                    <th class="text-start min-w-200px ">Fee Type</th>
                                                                    <th class="text-start min-w-100px ">Fee Period</th>

                                                                    <th class="text-end w-125px ">Amount</th>
                                                                    <th class="text-start w-10px min-w-10px"> </th>

                                                                </tr>
                                                            </thead>
                                                            <tbody class="">
                                                                <tr ng-repeat-start="gridTypeModel in gridStudentModel.FeeCollectionTypeHistories track by $index" class="">

                                                                    <td class="text-start">
                                                                    </td>
                                                                    <td class="text-start">
                                                                    </td>

                                                                    <td class="text-start">
                                                                        <span ng-bind="gridTypeModel.FeeMaster.Value" class="ng-binding"></span>
                                                                    </td>

                                                                    <td class="text-start" ng-if="gridTypeModel.FeePeriod.Value">
                                                                        <span ng-bind="gridTypeModel.FeePeriod.Value" class="text-gray-600 text-hover-primary"></span>
                                                                    </td>

                                                                    <td class="text-start" ng-if="!gridTypeModel.FeePeriod.Value">
                                                                        <span ng-bind="gridStudentModel.AcademicYear" class="text-gray-600 text-hover-primary"></span>
                                                                    </td>

                                                                    <td class="text-end">
                                                                        <span ng-bind="gridTypeModel.Amount|number:2" class="ng-binding currSign"></span>
                                                                    </td>
                                                                    <td class="text-start">
                                                                        <div class="controls text-center" ng-if="gridTypeModel.FeeMonthly.length > 0">
                                                                            <a class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" ng-click="ExpandCollapase($event, gridTypeModel, 'IsExpand')">
                                                                                <i ng-if="gridTypeModel.IsExpand" class="fa  fa fa-angle-double-down"></i>
                                                                                <i ng-if="!gridTypeModel.IsExpand" class="fa  fa fa-angle-double-up"></i>
                                                                            </a>
                                                                        </div>

                                                                    </td>

                                                                </tr>
                                                                <tr class="ng-scope" ng-if="gridTypeModel.FeeMonthly.length > 0" style="display:none;">
                                                                    <td colspan="3" class="bg-light"></td>
                                                                    <td class="feeStructure p-0" colspan="3">
                                                                        <div class="table-responsive py-4 bg-light">
                                                                            <table class="table border border-gray-100 gy-3 gs-7 table-row-bordered overflow-hidden mb-0 bg-white" align="right">

                                                                                <thead class="border-bottom-1 border-gray-200">
                                                                                    <tr class="text-start fw-semibold fs-6 text-gray-800">
                                                                                        <th class="text-end w-125px ">Month</th>
                                                                                        <th class="text-end w-125px ">Amount</th>
                                                                                        <th class="text-start w-10px min-w-10px">
                                                                                            <div class="controls text-center" ng-if="gridTypeModel.FeeMonthly.length > 0">
                                                                                                <a class="btn btn-sm btn-icon  h-25px w-25px">
                                                                                                </a>
                                                                                            </div>
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>

                                                                                <tbody>

                                                                                    <tr ng-focus="FocusGrid($event,'gridModel.FeeMonthly')" ng-repeat-start="gridModelMonth in gridTypeModel.FeeMonthly track by $index" class="border-bottom-0">

                                                                                        <td class="text-end">
                                                                                            <span ng-bind="gridModelMonth.MonthName" class="ng-binding"></span><span class="redcolor"></span>
                                                                                        </td>
                                                                                        <td class="text-end">
                                                                                            <span ng-bind="gridModelMonth.Amount|number:2" class="ng-binding currSign"></span><span class="redcolor"></span>
                                                                                        </td>
                                                                                        <td></td>
                                                                                    </tr>

                                                                                    <tr ng-repeat-end="" class="ng-scope"></tr>

                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-repeat-end="" class="ng-scope"></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end="" class="ng-scope"></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat-end="" class="ng-scope"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="modal bg-dark bg-opacity-75" id="MailConformationModal" tabindex="-1" aria-modal="true" role="dialog">
    <!--begin::Modal dialog-->
    <script>
        $('#MailConformationModal').on('show.bs.modal', function (e) {
            $('.modal .modal-dialog').attr('class', 'modal-dialog modal-dialog-centered ' + 'animate__zoomIn' + '   animate__animated');
        })
        $('#MailConformationModal').on('hide.bs.modal', function (e) {
            $('.modal .modal-dialog').attr('class', 'modal-dialog modal-dialog-centered ' + 'animate__zoomOut' + '   animate__animated');
        })
    </script>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header flex-stack border-0 px-10 pt-5 pb-0">

                <div class="btn btn-sm btn-icon btn-active-color-primary me-n2 position-relative z-index-1" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen034.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor"></rect>
                            <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="currentColor"></rect>
                            <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body pt-0 pb-5 px-10">
                <div class="card-body pt-15 pt-lg-20">

                    <div class="mb-14">
                        <a class="">
                            <img alt="Logo" src="../img/PODARLOGO-01.png" class="h-40px">
                        </a>
                    </div>

                    <h1 class="fw-bolder text-gray-900 mb-5">Verify your email</h1>

                    <div class="fs-6 fw-semibold text-gray-500 mb-10">
                        Receipt will be sent to the email provided.

                        <div class="form-group row  margin-top-20">
                            <input id="ParentEmailID" name="ParentEmailID" type="text" ng-model="SelectedTransactionDetails.ParentEmailID" />
                        </div>

                    </div>
                    <div id="FeePaymentHistoryOverlay" class="preload-overlay center">
                        <span id="FeePaymentHistoryOverlay" class="preloadImg">
                            <img src="~/Images/preloaderWhite.gif" alt="loader" />
                        </span>
                    </div>
                    <form form method="post" ng-submit="SendMailReceipt()" id="form_sample_1" novalidate class="d-flex justify-content-end pt-10">
                        <button class="btn btn-sm btn-primary" type="submit">Send mail</button>
                    </form>
                    <!--end::Link-->
                    <!--begin::Illustration-->
                    <div class="mb-0">
                        <img src="" class="mw-100 mh-300px theme-light-show" alt="">
                    </div>
                    <!--end::Illustration-->
                </div>
            </div>
        </div>
    </div>
</div>