@model SkienSuite.Web.Library.ViewModels.SearchListViewModel
@{
    Layout = null;
    var viewIID = SkienSuite.Services.Contracts.Enums.SearchView.Supplier;
}

<div id="SupplierLists" class="windowcontainer">
    <div ng-model="ProductViewModel" ng-controller="ViewController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model), '@viewIID');InitializeWayPoint();">
        @*<div class="pagenav"><a class="pagenav-leftmargin">Dashboard </a><a class="pagenav-leftmargin"> Supplier </a> /<span> Lists</span></div>*@
        <div class="pageheadername"><div>View Supplier</div><div class="alignright menugroup"><div class="createprodlink button-orange alignright" ng-click="Create('@viewIID')"><a title="Create Supplier"><i class="fa fa-plus"></i><span>Create Supplier</span></a></div></div></div>

        @Html.Partial("_SummaryHeader", Model)
        @Html.Partial("_List", Model)
    </div>
</div>