body {
    font-family: "Poppins", sans-serif;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: none !important;
    border-radius: 38px !important;
    box-shadow: none !important;
    overflow: hidden;
}

.page-nav {
    height: 72px;
    background-color: #ccc !important;
}

.card .card-header {
    padding: 35px 45px !important;
}

.mainGrid {
    border-collapse: separate !important;
    border-spacing: 0 1em !important;
    font-size: 16px;
}

    .mainGrid tbody tr {
        background-color: #ECF7FF;
        height: 45px;
    }

.wrapper {
    box-shadow: none !important;
}

.Layout_ar .tablewrapper th.toggleContainer table th, .tablewrapper td.toggleContainer table td {
    border-bottom: none !important;
}

.producttab {
    padding: 45px !important;
}

td:first-child,
th:first-child {
    width: 10px !important;
    border-radius: 10px 0 0 10px !important;
}

td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0 !important;
}

.field-row.field-row-btn .button-green, .field-row.field-row-btn .button-orange {
    background-color: #336C96;
    border-radius: 8px;
}

.Layout_ar .tablewrapper th.toggleContainer table th span, .tablewrapper td.toggleContainer table td span, .tablewrapper td.toggleContainer table td span {
    font-size: 16px !important;
}