body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2003; /* Behind the navbar */
  /*padding: 60px 0 0;*/ /* Height of navbar */
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
}

.sidebar-sticky {
  position: relative;
  top: 0;
  /*height: calc(100vh - 60px);*/
  overflow-x: visible;
  overflow-y: visible; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */


@media only screen and (max-width: 992px) {
    [role="main"] {
        padding-top: 60px; /* Space for fixed navbar */
        padding-left: 60px;
        width: 100%
    }
}
@media only screen and (min-width: 992px) {
    .layout_en [role="main"] {
        padding-top: 60px; /* Space for fixed navbar */
        padding-left: 266px;
        padding-right:16px;
    }
}




/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.layout_ar .sidebar {
    left: auto;
    right:0;
}

.layout_ar [role="main"] {
    padding-right:240px;
}


.layout_ar .bodyleftnav ul li ul li a span:before {
    right: -8px;
}

.layout_ar .active li.parent_li > a:after, li.submenu > a:after {
}

.layout_ar .companyname {
    margin: 4px;
}

.layout_ar .search_box .fa-search {
    right: auto;
    left: 0;
}

.layout_ar .overlaySummaryView {
    left: 10px;
    right: auto;
    transform: translateX(-100%);
}

    .layout_ar .overlaySummaryView.show {
        transform: none;
        transition: transform .3s ease-in-out !important;
    }


.layout_ar .dockToggle {
    right: 0;
  
}

.layout_ar .bodyleftnav ul ul li span.lmenu-iconlinks {
    left: 10px;
}

.layout_ar .summary-buttons {
    left: 20px;
}

.layout_ar .alignright {
    float: left;
}

.layout_ar div.table-topright {
    float: left;
}