.timetable {
    padding: 10px;
    float: left;
    width: 100%;
}

    .timetable h3 {
        padding: 10px 0;
    }

.noBorderBtm {
    border-bottom: 1px solid transparent !important;
}

.timetable ul.timetablesubjects {
    display: inline-block;
    width: 100%;
    /*border: 1px solid #e1e1e1;*/
    list-style-type: none;
    padding: 4px 6px;
    margin: 0 0 15px;
    border-left: none;
    border-right: none;
    background: #fff;
}

.timetablesubjects li {
    width: auto;
    margin: 0 3px;
    padding: 5px 0;
    display: inline-block;
    cursor: move;
}

    .timetablesubjects li .scaleWrap span {
        padding: 5px 10px;
        display: inline-block;
        text-shadow: none;
        color: #20263e;
        width: auto;
    }

.colspan.ui-state-highlight {
    border: none !important;
    background: none !important;
}

.timetablesubjects li .scaleWrap {
    display: inline-block;
    height: auto;
}

.schedulerTable {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    overflow: auto;
    padding: 10px;
    border-top: 1px solid #e1e1e1;
}

    .schedulerTable table {
        table-layout: fixed;
        empty-cells: show;
    }

.scheduleWrapper {
    /*width: calc(100% - 16px);*/
    width: 100%;
    padding: 0;
    float: left;
}

    .scheduleWrapper .field-row {
        width: 500px;
        min-width: inherit;
        max-width: inherit;
        padding: 10px;
    }

        .scheduleWrapper .field-row select {
            font-size: 13px;
        }

.schedulerTable th {
    text-transform: uppercase;
    border: 1px solid #2d5074;
    vertical-align: middle;
    text-align: center;
}

.schedulerTable thead th {
    width: 120px;
    height: 30px;
    position: sticky;
    top: 0;
}

.schedulerTable tbody th, .schedulerTable tbody td {
    border: 1px solid #555;
    vertical-align: middle;
    /*height: 34px;*/
    text-align: center;
}

#studentDetails {
    text-align: left !important;
}

.schedulerTable td table {
    table-layout: fixed;
    width: 100%;
}

    .schedulerTable tbody tr.hours th, .schedulerTable td table tr td {
        height: 34px;
    }

    .schedulerTable td table tr td {
        width: 100px;
    }

.schedulerTable tbody tr.hours table td {
    border-top: none;
    border-bottom: none;
    padding: 0 5px;
}

.schedulerTable tbody tr th.columnHeader {
    min-width: auto;
    padding:5px 10px;

}

.schedulerTable tbody tr.hours table td:first-child {
    border-left: none;
}

.schedulerTable tbody tr.hours table td:last-child {
    border-right: none;
}

.schedulerTable tr.content td table tr td {
    border: none;
    padding: 0 5px;
}

.schedulerTable tr.content td div.scaleWrap table tr td {
    padding: 0;
}

.schedulerTable .scaleWrap {
    position: relative;
    width:auto;
    height: 100%;
}

    .schedulerTable .scaleWrap span {
        height: 100%;
        width: 100%;
        display: flex;
    }

        .schedulerTable .scaleWrap span.colspan span {
            width: 100%;
            height: 100%;
            display: block;
            padding: 6px;
            font-size: 13px;
            text-shadow: none;
            color: #20263e;
            overflow: hidden;
            white-space: nowrap;
/*            text-overflow: ellipsis;
*/            position: relative;
        }

.closeItem {
    position: absolute !important;
    right: 0;
    top: 0;
    font-size: 15px !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 14px !important;
    height: 14px !important;
    line-height: 10px;
    cursor: pointer;
    font-weight: bold;
}

schedulerTable .holiday {
    opacity: 0.3;
    background: #f2f2f2;
}

.colspan {
    width: 100%;
}
