#btnView, #btnPrint {
    display: inline-flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7e7e7e;
    transition: all 0.3s ease;
    /*display: inline-block;*/
    border: medium none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    text-decoration: none !important;
    cursor: pointer;
    font-size: 13px !important;
    padding: 5px 10px;
    margin: 0;
    height:36px;
    vertical-align: top;
        background-color: #eee;
    padding: 0;
    color: #666 !important; 
    margin-bottom:8px;
}
#btnPrint {
    color: #fff !important;
    background-color: #7e7e7e;
}



.panel {
    font-weight: 400;
    border: 0;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid rgba(0,0,0,0.125);*/
    border-radius: 0.25rem;
}


.panel-title a {
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 1.375rem;
    font-variant-ligatures: no-contextual;
    color: #1f1f1f;
    text-decoration: none;
    font-weight: 400;
}
.panel-title {
    padding: 20px 0 8px 7px;
}
