@{
    ViewBag.Title = "Contact";
}


<div ng-controller="StaticContentDataController" ng-init="init('','')">
    <section class="home-section-wrap" style="padding: 108px 0px 65px 0px;">
        <div class="container" style=" max-width: 1140px;   ">
            <div class="row row-eq-height">
                <div class="col-md-4">
                    <div class="p-4">

                        <span style=" font-size: 45px; line-height: 45px; font-weight: bold;">Contact Us</span>
                        <div>

                        </div>
                    </div>
                </div>
                <div class="col-md-8">

                    <div class="p-4">
                        <div class="mb-4">
                            <span class="mb-4" style="font-size: 20px; line-height: 45px; font-weight: bold; ">Pearl school doha</span><br />
                        </div>
                        <span ng-bind-html="ContactUs"></span>
                    </div>
                    <div class="p-4">
                        <div class="mb-4">
                            <span class="mb-4" style="font-size: 20px; line-height: 45px; font-weight: bold; ">Enquiries</span><br />
                        </div>
                        <span ng-bind-html="ContactDetails"></span>
                    </div>

                </div><!--pageContent-->
            </div><!--pageContainer-->
    </section>


</div>
