@{
    ViewBag.Title = "StudentDetails";
}
<div class="fullcolumn-layout">
    <div id="GridTable" class="fullcolumn-layout gridListing">
        <div class="listRow">
            <label>Admission Number :</label>
            <span ng-bind="StudentDetails.AdmissionNumber" class="ng-binding"></span>
            @*<span class="redcolor"></span>*@
        </div>
        <div class="listRow">
            <label>Admission Date :</label>
            <span ng-bind="StudentDetails.AdmissionDateString" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>First Name :</label>
            <span ng-bind="StudentDetails.FirstName" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Middle Name :</label>
            <span ng-bind="StudentDetails.MiddleName" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Last Name :</label>
            <span ng-bind="StudentDetails.LastName" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Class :</label>
            <span ng-bind="StudentDetails.Class.Value" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Section :</label>
            <span ng-bind="StudentDetails.Section.Value" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Gender :</label>
            <span ng-bind="StudentDetails.Gender.Value" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Date of Birth :</label>
            <span ng-bind="StudentDetails.DateOfBirthString" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Relegion :</label>
            <span ng-bind="StudentDetails.Relegion.Value" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Caste :</label>
            <span ng-bind="StudentDetails.Cast.Value" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Community :</label>
            <span ng-bind="StudentDetails.Community.Value" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Mobile Number :</label>
            <span ng-bind="StudentDetails.MobileNumber" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Email ID :</label>
            <span ng-bind="StudentDetails.EmailID" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Blood Group :</label>
            <span ng-bind="StudentDetails.BloodGroup.Value" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Student House :</label>
            <span ng-bind="StudentDetails.StudentHouse.Value" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Height :</label>
            <span ng-bind="StudentDetails.Height" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>Weight :</label>
            <span ng-bind="StudentDetails.Weight" class="ng-binding"></span>
        </div>
        <div class="listRow">
            <label>As on Date :</label>
            <span ng-bind="StudentDetails.AsOnDateString" class="ng-binding"></span>
        </div>
    </div>
</div>