
@model Eduegate.Web.Library.School.Transports.StudentPickupRequestViewModel

@{
    ViewBag.Title = "StudentPickupRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light d-flex flex-column" style="flex:1;" ng-controller="StudentPickupRequestController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <section class="home-section-wrap">
        <div class="container">
            <div class="row row-eq-height">

                <div class="tab-pane  fontawesome-demo">
                    <div class="container-custom container-xxl d-flex flex-column-fluid  p-md-sm-0">
                        <div class="content d-flex flex-row flex-row-fluid" id="kt_content">
                            <div class="d-flex flex-column flex-row-fluid">
                                <div class="d-flex flex-stack flex-wrap gap-2 mt-n1 mb-6" id="kt_toolbar">
                                    <div class="page-title d-flex flex-column align-items-start me-3 py-2 py-lg-0 gap-2">
                                        <h1 class="d-flex text-dark fw-bold m-0 fs-3">New Pickup Request</h1>
                                        <ul class="breadcrumb breadcrumb-dot fw-semibold text-gray-600 fs-7">
                                            <li class="breadcrumb-item text-gray-600">
                                                <a class="text-gray-600 text-hover-primary">Home</a>
                                            </li>
                                            <li class="breadcrumb-item text-gray-500">New Pickup Request</li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="StudentPickupRequestOverlay" class="preload-overlay center">
                                    <span id="StudentPickupRequestOverlayButtonLoader" class="preloadImg">
                                        <img src="~/Images/preloader.gif" alt="loader" />
                                        <br /><label>Loading...</label>
                                    </span>
                                </div>
                                <div class="flex-column-fluid">

                                    <div class="row g-5 g-lg-8 mb-5 mb-xl-0">
                                        <div class="content d-flex flex-row flex-row-fluid">
                                            <div class="card">

                                                <div class="card-body">
                                                    <form>
                                                        <div class="row align-items-center g-3">
                                                            <input type="hidden" class="form-control" id="StudentPickupRequestIID" name="StudentPickupRequestIID" value="{{StudentPickupRequest.StudentPickupRequestIID}}" ng-model="StudentPickupRequest.StudentPickupRequestIID" />
                                                            <input type="hidden" class="form-control" id="StudentID" name="StudentID" value="{{StudentPickupRequest.StudentID}}" ng-model="StudentPickupRequest.StudentID" />
                                                            <input type="hidden" class="form-control" id="PickedByID" name="PickedByID" value="{{StudentPickupRequest.PickedByID}}" ng-model="StudentPickupRequest.PickedByID" />
                                                            <input type="hidden" class="form-control" id="ParentID" name="ParentID" value="{{StudentPickupRequest.ParentID}}" ng-model="StudentPickupRequest.ParentID" />
                                                            <input type="hidden" class="form-control" id="RequestStatus" name="RequestStatus" value="{{StudentPickupRequest.RequestStatus}}" ng-model="StudentPickupRequest.RequestStatus" />
                                                            <input type="hidden" class="form-control" id="RequestStatusID" name="RequestStatusID" value="{{StudentPickupRequest.RequestStatusID}}" ng-model="StudentPickupRequest.RequestStatusID" />
                                                            <input type="hidden" class="form-control" id="RequestDateString" name="RequestDateString" value="{{StudentPickupRequest.RequestDateString}}" ng-model="StudentPickupRequest.RequestDateString" />

                                                            <div class="mb-4 col-md-auto col-12">
                                                                <label for="exampleFormControlInput1" class="form-label">Pickup date</label>
                                                                <input type="date" placeholder="Pickup Date" required="" ng-model="StudentPickupRequest.PickedDateString" id="PickedDateString" name="PickedDateString" class="form-control" value={{StudentPickupRequest.PickedDateString}} />
                                                            </div>
                                                            <div class="mb-4 col-md-auto col-12">
                                                                <label for="exampleFormControlInput1" class="form-label">From time</label>
                                                                <input type="time" placeholder="From Time" required="" ng-model="StudentPickupRequest.FromTimeString" id="FromTimeString" name="FromTimeString" class="form-control" value={{StudentPickupRequest.FromTimeString}} />
                                                            </div>
                                                            <div class="mb-4 col-md-auto col-12">
                                                                <label for="exampleFormControlInput1" class="form-label">To time</label>
                                                                <input type="time" placeholder="To Time" ng-model="StudentPickupRequest.ToTimeString" id="ToTimeString" name="ToTimeString" class="form-control" value={{StudentPickupRequest.ToTimeString}} />
                                                            </div>
                                                            <div class="w-100"></div>
                                                            <div class="mb-4 col-md-auto col-12">
                                                                <label for="exampleFormControlInput1" class="form-label">Student</label>
                                                                <select class="form-control" required="" aria-required="true" name="Student" id="Student" ng-options="item as item.Value for item in Students track by item.Key"
                                                                        ng-model="StudentPickupRequest.Student" autofocus tabindex="0"></select>
                                                            </div>
                                                            <div class="mb-4 col-md-auto col-12">
                                                                <label for="exampleFormControlInput1" class="form-label">Picked by</label>
                                                                <select class="form-control" required aria-required="true" name="PickedBy" id="PickedBy" ng-options="item as item.Value for item in StudentPickedBy track by item.Key"
                                                                        ng-model="StudentPickupRequest.PickedBy" ng-change="PickedByChanges(StudentPickupRequest)"></select>
                                                            </div>
                                                            <div class="w-100"></div>
                                                            <div class="mb-4 form-group col-md-auto col-12">
                                                                <label for="exampleFormControlInput1" class="form-label">First name</label>
                                                                <input type="text" class="form-control" required ng-model="StudentPickupRequest.FirstName" id="FirstName" />
                                                            </div>
                                                            <div class="mb-4 form-group col-md-auto col-12">
                                                                <label for="exampleFormControlInput1" class="form-label">Middle name</label>
                                                                <input type="text" class="form-control" ng-model="StudentPickupRequest.MiddleName" id="MiddleName" />
                                                            </div>
                                                            <div class="mb-4 form-group col-md-auto col-12">
                                                                <label for="exampleFormControlInput1" class="form-label">Last name</label>
                                                                <input type="text" class="form-control" ng-model="StudentPickupRequest.LastName" id="LastName" />
                                                            </div>

                                                            <div class="w-100"></div>
                                                            <div class="mb-4 form-group col-md-auto col-12">
                                                                <label for="exampleFormControlInput1" class="form-label">Additional info</label>
                                                                <textarea class="form-control" ng-model="StudentPickupRequest.AdditionalInfo" id="AdditionalInfo"></textarea>
                                                            </div>

                                                            <button type="submit" id="SubmitPickupRequestBtn" name="action" class="btn btn-danger btn-dark col-md-12" ng-click="SubmitStudentPickupRequestClick()">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gy-5 g-xl-10">
                        <div class="col-xl-4 mb-5 mb-xl-10"></div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</div>

<style>
    .gfuSqG {
        box-sizing: border-box;
        border: 1px solid rgb(241, 245, 246);
        border-radius: 0px 0px 4px 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgb(28 47 58 / 20%) -2px 3px 13px 0px;
        padding: 23px 17px 35px;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }
</style>