:root {
    --primary-color: hsl(247, 55.7%, 38%);
    --Primary-bg-color: hsl(247, 55.7%, 93%);
    --header-outer-height: 110px;
    --header-inner-height: 70px;
    --header-height-difference: calc(
      var(--header-outer-height) - var(--header-inner-height) 
    );
    --header-bg: #fff;
    --kt-white: #ffffff;
    --kt-light: #f5f8fa;
    --kt-primary: #009ef7;
    --kt-secondary: #E4E6EF;
    --kt-success: #50cd89;
    --kt-info: #7239ea;
    --kt-warning: #ffc700;
    --kt-danger: #f1416c;
    --kt-dark: #181C32;
    --kt-primary-active: #0095e8;
    --kt-secondary-active: #B5B5C3;
    --kt-light-active: #eff2f5;
    --kt-success-active: #47be7d;
    --kt-info-active: #5014d0;
    --kt-warning-active: #f1bc00;
    --kt-danger-active: #d9214e;
    --kt-dark-active: #131628;
    --kt-primary-light: #f1faff;
    --kt-secondary-light: #f5f8fa;
    --kt-success-light: #e8fff3;
    --kt-info-light: #f8f5ff;
    --kt-warning-light: #fff8dd;
    --kt-danger-light: #fff5f8;
    --kt-dark-light: #eff2f5;
    --kt-primary-inverse: #ffffff;
    --kt-secondary-inverse: #3F4254;
    --kt-light-inverse: #7E8299;
    --kt-success-inverse: #ffffff;
    --kt-info-inverse: #ffffff;
    --kt-warning-inverse: #ffffff;
    --kt-danger-inverse: #ffffff;
    --kt-dark-inverse: #ffffff;
    --kt-white-rgb: 255, 255, 255;
    --kt-light-rgb: 245, 248, 250;
    --kt-primary-rgb: 0, 158, 247;
    --kt-secondary-rgb: 228, 230, 239;
    --kt-success-rgb: 80, 205, 137;
    --kt-info-rgb: 114, 57, 234;
    --kt-warning-rgb: 255, 199, 0;
    --kt-danger-rgb: 241, 65, 108;
    --kt-dark-rgb: 24, 28, 50;
    --kt-text-white: #ffffff;
    --kt-text-primary: #009ef7;
    --kt-text-secondary: #E4E6EF;
    --kt-text-light: #f5f8fa;
    --kt-text-success: #50cd89;
    --kt-text-info: #7239ea;
    --kt-text-warning: #ffc700;
    --kt-text-danger: #f1416c;
    --kt-text-dark: #181C32;
    --kt-text-muted: #A1A5B7;
  }
