@using SkienSuite.Services.Contracts.Enums

<div class="sum_togglecontent">
    <div class="label-value-box">
        <div class="label-value-box-inner">
            <span class="label-style">Supplier ID</span>
            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Supplier).SupplierIID"></span>
            <i class="fa fa-pencil" title="Edit" ng-click="Edit('Supplier',ViewModels.@(DynamicViews.Supplier).SupplierIID )"></i>
        </div>
        <div class="label-value-box-inner">
            <span class="label-style">Supplier Name</span>
            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Supplier).FirstName"></span>
        </div>
        <div class="label-value-box-inner">
            <span class="label-style">Last Name</span>
            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Supplier).LastName"></span>
        </div>
        <div class="label-value-box-inner">
            <span class="label-style">Vendor CR</span>
            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Supplier).VendorCR"></span>
        </div>
        <div class="label-value-box-inner">
            <span class="label-style">CR Expiry</span>
            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Supplier).CRExpiry"></span>
        </div>
        <div class="label-value-box-inner">
            <span class="label-style">Company Location</span>
            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Supplier).CompanyLocation"></span>
        </div>
        <div class="label-value-box-inner">
            <span class="label-style">Supplier Status</span>
            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Supplier).StatusName"></span>
        </div>
        <div class="label-value-box-inner">
            <span class="label-style">PM Responsible</span>
            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Supplier).EmployeeName"></span>
        </div>
        <div class="label-value-box-inner">
            <span class="label-style">Created</span>
            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Supplier).CreatedDate"></span>
        </div>
        <div class="label-value-box-inner">
            <span class="label-style">Updated</span>
            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.Supplier).UpdateDate"></span>
        </div>
    </div>
</div>
