@using Eduegate.Services.Contracts.Enums

@{
    Layout = null;
    var viewIID = Eduegate.Services.Contracts.Enums.SearchView.OnlinePayment;
    var windowName = "window_" + Guid.NewGuid().ToString();
}

<div id="@windowName" class="summary-wrap" ng-controller="SummaryViewController" ng-init="SummaryViewInit('@windowName', '@viewIID', @ViewBag.IID,'@DynamicViews.OnlinePayment');">
    <div class="preload-overlay" style="display:block;">
        <div class="preloader">
            <img src="~/Images/preloader.GIF" width="32" height="32" alt="Loading" />
            <div class="loadertextwrap">
                <div id="Loadertext">
                    <div id="fadetext_1" class="loadingtext">L</div>
                    <div id="fadetext_2" class="loadingtext">o</div>
                    <div id="fadetext_3" class="loadingtext">a</div>
                    <div id="fadetext_4" class="loadingtext">d</div>
                    <div id="fadetext_5" class="loadingtext">i</div>
                    <div id="fadetext_6" class="loadingtext">n</div>
                    <div id="fadetext_7" class="loadingtext">g</div>
                    <div id="fadetext_8" class="loadingtext">.</div>
                    <div id="fadetext_9" class="loadingtext">.</div>
                    <div id="fadetext_10" class="loadingtext">.</div>
                </div>
                <span class="canceloperation" ng-click="CloseSummaryPanel($event);">Cancel</span>
            </div>
        </div>
    </div>
    <div class="summary-header">
        <div class="summary-controls">
            @*<ul class="summary-tab">
                <li class="summary-tab-list active" title="Online payment" content-tab="OnlinePayment"><i class="fa fa-file-text"></i></li>
            </ul>*@
            <div class="alignright panelcontrols">
                <span class="remove" ng-click="CloseSummaryPanel($event);">x</span>
                <span class="minmax"></span>
            </div>
        </div>
    </div>
    <div class="quickviewwrap">
        <div id="OnlinePayment" class="summarytab-content show">
            <h4>Payment Details</h4>
            <div class="summary-tab-inner">
                <div class="summary-content">
                    <div class="label-value-box">
                        <div class="label-value-box-inner">
                            <span class="label-style">ID</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.OnlinePayment).OrderID"></span>
                            <i class="fa fa-pencil" title="Edit" ng-click="Edit('OnlinePayment', ViewModels.@(DynamicViews.OnlinePayment).OrderID)"></i>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Payment Amount</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.OnlinePayment).Amount"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



