.vscode
.vs
Eduegate.ParentApp/node_modules
Eduegate.ParentApp/plugins
Eduegate.ParentApp/simulation
Eduegate.StaffApp/node_modules
Eduegate.StaffApp/plugins
Eduegate.StudentApp/node_modules
Eduegate.StudentApp/plugins
Eduegate.VisitorApp/node_modules
Eduegate.VisitorApp/plugins
iOS/Eduegate.ParentApp/node_modules
iOS/Eduegate.ParentApp/plugins
iOS/Eduegate.ParentApp/www
iOS/Eduegate.StaffApp/node_modules
iOS/Eduegate.StaffApp/plugins
iOS/Eduegate.StaffApp/www
iOS/Eduegate.StudentApp/node_modules
iOS/Eduegate.StudentApp/plugins
iOS/Eduegate.StudentApp/www
iOS/Eduegate.VisitorApp/node_modules
iOS/Eduegate.VisitorApp/plugins
iOS/Eduegate.VisitorApp/www
Eduegate.ParentApp/simulation/app-host.js
Eduegate.ParentApp/simulation/app-host.json
Eduegate.ParentApp/simulation/sim-host.js
Eduegate.ParentApp/simulation/sim-host.json
