@model Eduegate.Web.Library.School.Transports.StudentPickupRequestViewModel
@{
    Layout = "~/Views/Shared/_Layout_ExternalPages.cshtml";
    ViewBag.Title = "View QR Code";
}

<!DOCTYPE html>
<html lang="en" ng-controller="ExternalPageController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model),'QRCodeView')">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width,
						initial-scale=1.0" />

    <style>
        h3,h4 {
            color: green;
        }

        h1{
            color: red;
            text-align:center;
        }
        p,div {
            text-align:center;
        }

        body, header {
            padding-top: 4em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js">
    </script>
</head>

<body>
    <main>
    </main>
    <header>
        <div ng-show="ShowQRdetails">
            <div id="qrcode"></div>
            <h4>{{QrDatas.Student.Value}}</h4>
            <h5>{{QrDatas.ClassSection}}</h5>
        </div>
        <div style="padding-top: 10em;">
            <h1 face="Verdana, Geneva, sans-serif"><b>{{Message1}}</b></h1>
            <p face="Verdana, Geneva, sans-serif">{{Message2}}<br/>{{Message3}}</></p>
        </div>
    </header>
</body>

</html>

