<div id="activitySteamContainer" class="streamItems" ng-controller="ActivityStreamController as vm" ng-init="vm.Init('activitySteamContainer')">
    <div>@Eduegate.ERP.Admin.Globalization.ResourceHelper.GetValue("Activities")</div>
    <div class="contentItems" ng-repeat="item in vm.ActivityData" data-status="InProcess" data-activityid="84c57e76-d550-472b-a652-ec063bc8898c" class="contentItems col-md-12 col-xs-12 ">
        <span class="chat-img pull-left">
            <span class="img-circle profileImg">
                <img src="/Eduegate.ERP.Admin/Images/Accounts.png">
            </span>
        </span>
        <section class="activityCnt">
            <div>
                {{item.Description}} by
                <a id="filterUser" href="#">
                    {{item.CreatedUserName}}
                </a>
            </div> <span class="time"><time><span>{{vm.fromNow(item.CreatedDate)}}</span></time></span>
        </section>
    </div>
    <div class="waypoint">
        <center>
            <i class="content-load fa fa-circle-o-notch fa-pulse"
               style="font-size:20px;color:white;"></i>
        </center>
    </div>
</div>