<div class="preloader">
    <img src="~/Images/preloader.gif" width="32" height="32" alt="Loading" />
    <div class="loadertextwrap">
        <div id="Loadertext">
            <div id="fadetext_1" class="loadingtext">L</div>
            <div id="fadetext_2" class="loadingtext">o</div>
            <div id="fadetext_3" class="loadingtext">a</div>
            <div id="fadetext_4" class="loadingtext">d</div>
            <div id="fadetext_5" class="loadingtext">i</div>
            <div id="fadetext_6" class="loadingtext">n</div>
            <div id="fadetext_7" class="loadingtext">g</div>
            <div id="fadetext_8" class="loadingtext">.</div>
            <div id="fadetext_9" class="loadingtext">.</div>
            <div id="fadetext_10" class="loadingtext">.</div>
        </div>
        <span class="canceloperation" ng-click="CloseSummaryPanel($event);">@Eduegate.ERP.Admin.Globalization.ResourceHelper.GetValue("Cancel")</span>
    </div>
</div>
