<div class="send-msg">
    <div class="send-msg-img"><img class="user-img-circle" src="~/Images/contact-msg-img.png" /></div>
    <div class="send-msg-txt"><text class="send-msg-txt-style" id="messageText">%%MESSAGE%%</text>
        <div class="send-msg-time"><text class="send-msg-time-style" id="currentTime">%%CURRENTTIME%%</text></div>
    </div>
</div>