@model  Eduegate.Web.Library.ViewModels.SeoMetadataViewModel
<div class="productcreteheader">Seo Metadata and Keywords</div>
<div class="panel-body">
    <div class="container-left form-horizontal">
        <div class="form-group">
            <label class="addprodleft control-label">Page Title</label>
            <div class="controls productname fieldpopup">
                @Html.TextBoxFor(a => a.PageTitle, new { ng_model = "ProductModel.SeoMetadata.PageTitle.Text", ng_focus = "MultilanguagePopup($event, 'show');" })
                <span class="lang-icon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-language"></i></span>
                <div class="languageoption">
                    <ul>
                        <li ng-repeat="culture in ProductModel.SeoMetadata.PageTitle.CultureDatas">
                            <label>{{culture.CultureName}} </label>

                            <input type="text" value="{{culture.CultureValue; ProductModel.SeoMetadata.PageTitle.Text=culture.CultureValue;}}"
                                   ng-model="culture.CultureValue" ng-if="$first" class="haslanguage">
                            <input type="text" value="{{culture.CultureValue;}}" ng-model="culture.CultureValue" ng-if="!$first" class="haslanguage">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-left form-horizontal">
        <div class="form-group">
            <label class="addprodleft control-label">Url Key</label>
            <div class="controls productname fieldpopup">
                @Html.TextBoxFor(a => a.UrlKey, new { ng_model = "ProductModel.SeoMetadata.UrlKey.Text", ng_focus = "MultilanguagePopup($event, 'show');" })
                <span class="lang-icon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-language"></i></span>
                <div class="languageoption">
                    <ul>
                        <li ng-repeat="culture in ProductModel.SeoMetadata.UrlKey.CultureDatas">
                            <label>{{culture.CultureName}} </label>
                            <textarea type="text" value="{{culture.CultureValue;ProductModel.SeoMetadata.UrlKey.Text=culture.CultureValue; }}"
                                      ng-model="culture.CultureValue" class="haslanguage" ng-if="$first" cols="20" rows="2" />
                            <textarea type="text" value={{culture.CultureValue;}} ng-model="culture.CultureValue" class="haslanguage" ng-if="!$first" cols="20" rows="2" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-left form-horizontal">
        <div class="form-group">
            <label class="addprodleft control-label">Meta Description</label>
            <div class="controls productname fieldpopup">
                @Html.TextAreaFor(a => a.MetaDescription, new { ng_model = "ProductModel.SeoMetadata.MetaDescription.Text", ng_focus = "MultilanguagePopup($event,'show');" })
                <span class="lang-icon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-language"></i></span>
                <div class="languageoption">
                    <ul>
                        <li ng-repeat="culture in ProductModel.SeoMetadata.MetaDescription.CultureDatas">
                            <label>{{culture.CultureName}} </label>
                            <textarea type="text" value="{{culture.CultureValue;ProductModel.SeoMetadata.MetaDescription.Text = culture.CultureValue;}}"
                                      ng-model="culture.CultureValue" class="haslanguage" ng-if="$first" cols="20" rows="2" />
                            <textarea type="text" value="{{culture.CultureValue;}}"
                                      ng-model="culture.CultureValue" class="haslanguage" ng-if="!$first" cols="20" rows="2" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-left form-horizontal">
        <div class="form-group">
            <label class="addprodleft control-label">Meta Keywords</label>
            <div class="controls productname fieldpopup">
                @Html.TextAreaFor(a => a.MetaKeywords, new { ng_model = "ProductModel.SeoMetadata.MetaKeywords.Text", ng_focus = "MultilanguagePopup($event, 'show');" })
                <span class="lang-icon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-language"></i></span>
                <div class="languageoption">
                    <ul>
                        <li ng-repeat="culture in ProductModel.SeoMetadata.MetaKeywords.CultureDatas">
                            <label>{{culture.CultureName}} </label>
                            <textarea type="text" value={{culture.CultureValue}} ng-model="culture.CultureValue" class="haslanguage" ng-if="!$first" cols="20" rows="2"></textarea>
                            <textarea type="text" value={{culture.CultureValue;ProductModel.SeoMetadata.MetaKeywords.Text=culture.CultureValue;}}
                                      ng-model="culture.CultureValue" class="haslanguage" ng-if="$first" cols="20" rows="2"></textarea>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>