<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="skiendberpContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=skiendberp;Persist Security Info=True;User ID=sa;Password=skiendberp;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>