@model Eduegate.Web.Library.ViewModels.SearchListViewModel
@{
    Layout = null;
    var viewIID = Eduegate.Services.Contracts.Enums.SearchView.RVMission;
}

<div id="RVMissionLists" class="windowcontainer">
    <div ng-controller="ViewController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model), '@viewIID');InitializeWayPoint();">
        @*<div class="pagenav"><a class="pagenav-leftmargin">Dashboard </a><a class="pagenav-leftmargin">  </a> /<span> Lists</span></div>*@
        <div class="pageheadername"><div>RVMission Details</div><div class="alignright menugroup"><div class="createprodlink button-orange alignright" ng-click="Create('@viewIID')"><a title="Create RVMission"><i class="fa fa-plus"></i><span>Create RVMission</span></a></div></div></div>

        @await Html.PartialAsync("_SummaryHeader", Model)
        @await Html.PartialAsync("_List", Model)
    </div>
</div>
