@{
    ViewBag.Title = "Index";
}

<div ng-init="GetActiveSignUpGroups()" class="app-container container-fluid container-xxl">
    <div class="ui four special  cards">
        <div class=" card">
            <div class="content">
                <div class="right floated meta">14h</div>
                <img class="ui avatar image" src="/images/avatar/large/elliot.jpg"> Learning Journey
            </div>
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">Add Friend</div>
                        </div>
                    </div>
                </div>
                <img class="ui wireframe image p-3 bg-white"  src="~/images/group.png" />

            </div>
            <div class="content">
                <a class="header h-auto">Acquiring Core ABAP Skills</a>
                <div class="meta">
                    <a>Developer</a>
                </div>
                <div class="description">
                    This learning journey will introduce you to the basics of ABAP programming on SAP Business Technology Platform.
                </div>
            </div>

            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    2 hours
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/joe.jpg">
                    Joe
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/elliot.jpg">
                    Elliot
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/stevie.jpg">
                    Stevie
                </a>
            </div>
            <div class="ui bottom attached button">
                <i class="Learn Course"></i>
                Learn Course
            </div>
        </div>
        <div class=" card">
            <div class="content">
                <div class="right floated meta">14h</div>
                <img class="ui avatar image" src="/images/avatar/large/elliot.jpg"> Learning Journey
            </div>
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">Add Friend</div>
                        </div>
                    </div>
                </div>
                <img class="ui wireframe image p-3 bg-white" src="~/images/group.png" />

            </div>
            <div class="content">
                <a class="header h-auto">Acquiring Core ABAP Skills</a>
                <div class="meta">
                    <a>Developer</a>
                </div>
                <div class="description">
                    This learning journey will introduce you to the basics of ABAP programming on SAP Business Technology Platform.
                </div>
            </div>

            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    2 hours
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/joe.jpg">
                    Joe
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/elliot.jpg">
                    Elliot
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/stevie.jpg">
                    Stevie
                </a>
            </div>
            <div class="ui bottom attached button">
                <i class="Learn Course"></i>
                Learn Course
            </div>
        </div>

        <div class=" card">
            <div class="content">
                <div class="right floated meta">14h</div>
                <img class="ui avatar image" src="/images/avatar/large/elliot.jpg"> Learning Journey
            </div>
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">Add Friend</div>
                        </div>
                    </div>
                </div>
                <img class="ui wireframe image p-3 bg-white" src="~/images/Group 270.png" />

            </div>
            <div class="content">
                <a class="header h-auto">Acquiring Core ABAP Skills</a>
                <div class="meta">
                    <a>Developer</a>
                </div>
                <div class="description">
                    This learning journey will introduce you to the basics of ABAP programming on SAP Business Technology Platform.
                </div>
            </div>

            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    2 hours
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/joe.jpg">
                    Joe
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/elliot.jpg">
                    Elliot
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/stevie.jpg">
                    Stevie
                </a>
            </div>
            <div class="ui bottom attached button">
                <i class="Learn Course"></i>
                Learn Course
            </div>
        </div>

        <div class=" card">
            <div class="content">
                <div class="right floated meta">14h</div>
                <img class="ui avatar image" src="/images/avatar/large/elliot.jpg"> Learning Journey
            </div>
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">Add Friend</div>
                        </div>
                    </div>
                </div>
                <img class="ui wireframe image p-3 bg-white" src="~/images/group 271.png" />

            </div>
            <div class="content">
                <a class="header h-auto">Acquiring Core ABAP Skills</a>
                <div class="meta">
                    <a>Developer</a>
                </div>
                <div class="description">
                    This learning journey will introduce you to the basics of ABAP programming on SAP Business Technology Platform.
                </div>
            </div>

            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    2 hours
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/joe.jpg">
                    Joe
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/elliot.jpg">
                    Elliot
                </a>
                <a class="ui image label">
                    <img src="/images/avatar/small/stevie.jpg">
                    Stevie
                </a>
            </div>
            <div class="ui bottom attached button">
                <i class="Learn Course"></i>
                Learn Course
            </div>
        </div>

        <a class=" card">
            <div class="blurring dimmable image">
                <img class="ui wireframe image"  src="~/images/group.png" />
            </div>
        </a>
        <a class="teal card">
            <div class="blurring dimmable image">
                <img class="ui wireframe image"  src="~/images/group.png" />
            </div>
        </a>
        <a class="blue card">
            <div class="blurring dimmable image">
                <img class="ui wireframe image"  src="~/images/group.png" />
            </div>
        </a>
        <a class="violet card">
            <div class="blurring dimmable image">
                <img class="ui wireframe image"  src="~/images/group.png" />
            </div>
        </a>
        <a class="purple card">
            <div class="blurring dimmable image">
                <img class="ui wireframe image"  src="~/images/group.png" />
            </div>
        </a>
        <a class="pink card">
            <div class="blurring dimmable image">
                <img class="ui wireframe image"  src="~/images/group.png" />
            </div>
        </a>
        <a class="brown card">
            <div class="blurring dimmable image">
                <img class="ui wireframe image"  src="~/images/group.png" />
            </div>
        </a>
        <a class="grey card">
            <div class="blurring dimmable image">
                <img class="ui wireframe image"  src="~/images/group.png" />
            </div>
        </a>
        <a class="black card">
            <div class="blurring dimmable image">
                <img class="ui wireframe image"  src="~/images/group.png" />
            </div>
        </a>
    </div>
</div>