@{
    ViewBag.Title = "Reset password confirmation";
    Layout = null;
}


<section>
    <div class="rt-container">
        <div class="col-rt-12">
            <div class="Scriptcontent">

                <div id="card" class="animated fadeIn">
                    <div id="upper-side">



                        <svg version="1.1" id="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
<path d="M131.583,92.152l-0.026-0.041c-0.713-1.118-2.197-1.447-3.316-0.734l-31.782,20.257l-4.74-12.65
	c-0.483-1.29-1.882-1.958-3.124-1.493l-0.045,0.017c-1.242,0.465-1.857,1.888-1.374,3.178l5.763,15.382
	c0.131,0.351,0.334,0.65,0.579,0.898c0.028,0.029,0.06,0.052,0.089,0.08c0.08,0.073,0.159,0.147,0.246,0.209
	c0.071,0.051,0.147,0.091,0.222,0.133c0.058,0.033,0.115,0.069,0.175,0.097c0.081,0.037,0.165,0.063,0.249,0.091
	c0.065,0.022,0.128,0.047,0.195,0.063c0.079,0.019,0.159,0.026,0.239,0.037c0.074,0.01,0.147,0.024,0.221,0.027
	c0.097,0.004,0.194-0.006,0.292-0.014c0.055-0.005,0.109-0.003,0.163-0.012c0.323-0.048,0.641-0.16,0.933-0.346l34.305-21.865
	C131.967,94.755,132.296,93.271,131.583,92.152z"></path>
<circle fill="none" stroke="#ffffff" stroke-width="5" stroke-miterlimit="10" cx="109.486" cy="104.353" r="32.53"></circle>
</svg>
                        <h3 id="status">
                            Password Reset Success
                        </h3>
                    </div>
                    <div id="lower-side">
                        <p id="message">
                            Click here to Login
                        </p>
                        <b id="contBtn">@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</b>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<style>
    section {
        float: left;
        width: 100%;
        padding-bottom: 3em;
    }

    article, header, section, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
        display: block;
    }

    section {
        display: block;
    }

    body {
        background: #e5e5e5 none repeat scroll 0 0;
        color: #222;
        font-size: 100%;
        line-height: 24px;
        margin: 0;
        padding: 0;
        font-family: raleway,sans-serif;
    }

    .rt-container {
        margin: 0 auto;
        padding-left: 12px;
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right: 12px;
    }

    div {
        display: block;
    }

    [class^=col-rt-] {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        padding: 0 15px;
        min-height: 1px;
        position: relative;
    }

    .Scriptcontent {
        line-height: 28px;
    }

    #card {
        position: relative;
        width: 320px;
        display: block;
        margin: 40px auto;
        text-align: center;
        font-family: source sans pro,sans-serif;
    }

    #upper-side {
        padding: 2em;
        background: #bd051c;
        display: block;
        color: #fff;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    #checkmark {
        font-weight: lighter;
        fill: #fff;
        margin: -3.5em auto auto 20px;
    }

    svg[Attributes Style] {
        x: 0px;
        y: 0px;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    path[Attributes Style] {
        d: path("M 131.583 92.152 l -0.026 -0.041 c -0.713 -1.118 -2.197 -1.447 -3.316 -0.734 l -31.782 20.257 l -4.74 -12.65 c -0.483 -1.29 -1.882 -1.958 -3.124 -1.493 l -0.045 0.017 c -1.242 0.465 -1.857 1.888 -1.374 3.178 l 5.763 15.382 c 0.131 0.351 0.334 0.65 0.579 0.898 c 0.028 0.029 0.06 0.052 0.089 0.08 c 0.08 0.073 0.159 0.147 0.246 0.209 c 0.071 0.051 0.147 0.091 0.222 0.133 c 0.058 0.033 0.115 0.069 0.175 0.097 c 0.081 0.037 0.165 0.063 0.249 0.091 c 0.065 0.022 0.128 0.047 0.195 0.063 c 0.079 0.019 0.159 0.026 0.239 0.037 c 0.074 0.01 0.147 0.024 0.221 0.027 c 0.097 0.004 0.194 -0.006 0.292 -0.014 c 0.055 -0.005 0.109 -0.003 0.163 -0.012 c 0.323 -0.048 0.641 -0.16 0.933 -0.346 l 34.305 -21.865 C 131.967 94.755 132.296 93.271 131.583 92.152 Z");
    }

    :not(svg) {
        transform-origin: 0px 0px;
    }

    circle[Attributes Style] {
        fill: none;
        stroke: rgb(255, 255, 255);
        stroke-width: 5;
        stroke-miterlimit: 10;
        cx: 109.486;
        cy: 104.353;
        r: 32.53;
    }

    #status {
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1em;
        margin-top: -.2em;
        margin-bottom: 0;
    }

    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    #lower-side {
        padding: 2em 2em 5em;
        background: #fff;
        display: block;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    #message {
        margin-top: -.5em;
        color: #757575;
        letter-spacing: 1px;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    #contBtn {
        position: relative;
        top: 1.5em;
        text-decoration: none;
        background: #bd051c;
        color: #fff;
        margin: auto;
        padding: .8em 3em;
        -webkit-box-shadow: 0 15px 30px rgb(50 50 50 / 21%);
        -moz-box-shadow: 0 15px 30px rgba(50,50,50,.21);
        box-shadow: 0 15px 30px rgb(50 50 50 / 21%);
        border-radius: 25px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }

    a {
        font-family: raleway,sans-serif;
        text-decoration: none;
        outline: none;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

        *, *:before, *:after {
            box-sizing: inherit;
        }

    a {
        font-family: raleway,sans-serif;
        text-decoration: none;
        outline: none;
        color: #fff
    }
</style>