@model Eduegate.Framework.PageRendererEngine.ViewModels.PageRedererViewModel
@{ 
    if (Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest")
    {
        Layout = null;
    }

    Random rnd = new Random();
    var windowName = "window_" + rnd.Next().ToString();
}

<div id="MailConfirmationWindow">
    <div>
        <p>Are you sure want to send mail?</p>
        <p>
            @* <input type="button" value="Cancel" class="button-orange" ng-click="CloseMailConfirmBox();" /> *@
            <span><input type="button" value="Confirm" class="button-orange" ng-click="ConfirmMailSend();" /></span>

            <span id="MailConfirmationOverlay">
                <span class="spinner-border spinner-border-sm" role="status"></span>
                Sending...
            </span>
        </p>
    </div>
</div>
