
@{
    Layout = "~/Views/Shared/_LayoutPayment.cshtml";
    ViewBag.Title = "Initiate Payment";
    var FeeCollections = ViewBag.FeeCollectionList;
    var feePaymentModeID = ViewBag.PaymentModeID;
}

<div ng-controller="PaymentGatewayController" ng-init="Init(@feePaymentModeID)">
    <div class="loginlogoWrap">
        <div class="paymentLoader" ng-if="IsShowLogoLoader"></div>
        <div class="loginregLogo"></div>
    </div>
    <div class="py-5 ">
        <div class="p-10">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-4">
                    <!--begin::Card-->
                    <div class="card shadow border-0">
                        <div class="card-header border-0">
                            <h3 class="card-title">Please wait...</h3>
                        </div>
                        <div class="card-body">
                            <div class="overlay overlay-block card-rounded">
                                <div class="overlay-wrapper p-5">
                                    <div class="tabData fullwidth displaylineBlock">
                                        <p>
                                            <span>You will be redirected to the secure payment page to complete payment</span>
                                            <br /> <br />
                                            <span>If you need to cancel please tap on cancel button</span>
                                        </p>
                                    </div><!--tabData-->
                                </div>
                                <div class="d-flex justify-content-center mb-10">
                                    <ul class="loadingclass position-relative m-0 start-0 top-0" style="margin-bottom: 0px; padding-left: 0px; width: 52px; height: 52px;">
                                        <li>
                                            <div>
                                                <div class="paymentLoader frontPanel"></div>
                                                <img class="loaderimage" src="../img/logo_loader.png">
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                        <div class="card-footer border-0 pt-0 d-flex justify-content-end">
                            <button class="btn  btn-warning " ng-click="CancelPayment()">Cancel</button>
                        </div>
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
    </div>
</div>