
@{
    Layout = "~/Views/Shared/_LayoutPayment.cshtml";
    ViewBag.Title = "Pending Payment";
}

<div class="d-flex flex-column align-items-center justify-content-center py-5" style="flex:1;" ng-controller="PaymentGatewayStatusController" ng-init="Init('Pending')">

    <div class=" card-flush w-md-500px ">
        <div class="card-body py-15 py-lg-20 d-flex flex-column align-items-center justify-content-center">
            <!--begin::Logo-->
            <div class="mb-7">
                <a class="">
                    <img alt="Logo" src="~/img/PODARLOGO-01.png" class="h-40px">
                </a>
            </div>
            <!--end::Logo-->
            <!--begin::Title-->
            <h3 class="fw-bolder text-gray-900 mb-5"> Payment in Progress!!</h3>
            <!--end::Title-->
            <!--begin::Illustration-->
            <div class="mb-0">
                <img src="~/Images/payment-pending.svg" class="mw-100 h-300px theme-light-show" alt="">
            </div>
            <!--end::Illustration-->
            <div class="fw-semibold fs-6 text-gray-700 mb-7 text-center">
                Your payment is currently being processed with care.<br />
                Please hold tight while we finalize the transaction.<br />
                Your security is our priority.<br />
            </div>
            <!--begin::Link-->
            <div class="mb-0">
                <a href="~/Fee/Index" class="btn btn-sm btn-primary">Ok</a>
            </div>
            <!--end::Link-->
        </div>
    </div>

</div>