@page
@model Eduegate.ERP.School.PortalCore.Views.PaymentGateway.QPAYPaymentModel
@{
}
@{
    Layout = "~/Views/Shared/_LayoutPayment.cshtml";
    ViewBag.Title = "QPAYPayment";
    var QPAYPaymentData = ViewBag.QPAYPaymentDatas;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<%
string redirectURL = (string)this.Context.Items["PG_REDIRECT_URL"];
string amount = (string)this.Context.Items["Amount"];
string currencyCode =
(string)this.Context.Items["CurrencyCode"]; string pun =
(string)this.Context.Items["PUN"]; string
merchantModuleSessionID =
(string)this.Context.Items["MerchantModuleSessionID"];
string nationalID = (string)this.Context.Items["NationalID"];
string merchantID = (string)this.Context.Items["MerchantID"];
string bankID = (string)this.Context.Items["BankID"]; string
Lang = (string)this.Context.Items["Lang"]; string action =
(string)this.Context.Items["Action"]; string secureHash =
(string)this.Context.Items["SecureHash"];
string transactionRequestDate =
(string)this.Context.Items["TransactionRequestDate"];
string extraFields_f14 = (string)this.Context.Items["ExtraFields_f14"];
string quantity = (string)this.Context.Items["Quantity"];
string PaymentDescription = (string)this.Context.Items["PaymentDescription"];
%>
<body onload="javascript:document.redirectForm.submit();">
    <form action="<%=redirectURL%>" method="POST" name="redirectForm">
        <input type="hidden" name="Amount" value="<%=amount%>" />
        <input type="hidden" name="CurrencyCode" value="<%=currencyCode%>" />
        <input type="hidden" name="PUN" value="<%=pun%>" />
        <input type="hidden" name="MerchantModuleSessionID"
               value="<%=merchantModuleSessionID%>" />
        <input type="hidden" name="PaymentDescription"
               value="<%=PaymentDescription%>" />
        <input type="hidden" name="NationalID" value="<%=nationalID%>" />
        <input type="hidden" name="MerchantID" value="<%=merchantID%>" />
        <input type="hidden" name="BankID" value="<%=bankID%>" />
        <input type="hidden" name="Lang" value="<%=bankID%>" />
        <input type="hidden" name="Action" value="<%=action%>" />
        <input type="hidden" name="SecureHash" value="<%=secureHash%>" />
        <input type="hidden" name="TransactionRequestDate"
               value="<%=transactionRequestDate%>" />
        <input type="hidden" name="ExtraFields_f14" value="<%=extraFields_f14%>" />
        <input type="hidden" name="Quantity" value="<%=quantity%>" />
    </form>
</body>
</html>