<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!--Local Express DB-->
    <!--<add name="dbEduegateERPContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbContentContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateHRContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduEgate_2022_logs;Persist Security Info=True;User ID=eduegateuser;Password=eduegate;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

    <!--Local Dev DB-->
    <add name="dbEduegateERPContext" connectionString="Data Source=.;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbContentContext" connectionString="Data Source=.;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=.;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateHRContext" connectionString="Data Source=.;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=.;Initial Catalog=EduEgate_2022_Log;Persist Security Info=True;User ID=eduegateuser;Password=eduegate;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

    <!--Office Local Dev DB-->
    <!--<add name="dbEduegateERPContext" connectionString="Data Source=192.168.1.44;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbContentContext" connectionString="Data Source=192.168.1.44;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=192.168.1.44;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateHRContext" connectionString="Data Source=192.168.1.44;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=192.168.1.44;Initial Catalog=EduEgate_2022_Log;Persist Security Info=True;User ID=eduegateuser;Password=eduegate;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    
    <!--Itrade dev DB-->
    <!--<add name="dbEduegateERPContext" connectionString="Data Source=itradeerp.dyndns.org,2022;Initial Catalog=EduEgateMigration;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbContentContext" connectionString="Data Source=itradeerp.dyndns.org,2022;Initial Catalog=EduEgateMigration;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=itradeerp.dyndns.org,2022;Initial Catalog=EduEgateMigration;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateHRContext" connectionString="Data Source=itradeerp.dyndns.org,2022;Initial Catalog=EduEgateMigration;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=itradeerp.dyndns.org,2022;Initial Catalog=EduEgateMigration;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    
    <!--Itrade New Server DB-->
    <!--<add name="dbEduegateERPContext" connectionString="Data Source=itradeonline.dyndns.org,2022;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbContentContext" connectionString="Data Source=itradeonline.dyndns.org,2022;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=itradeonline.dyndns.org,2022;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateHRContext" connectionString="Data Source=itradeonline.dyndns.org,2022;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=itradeonline.dyndns.org,2022;Initial Catalog=EduEgate_2022_Log;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ServiceHost" value="http://localhost/Eduegate.Services/" />
    <add key="DefaultLang" value="English" />
    <add key="ReportServerHost" value="http://13.80.70.106:8085/reportserver/" />
    <add key="ReportServerDomainUser" value="BlkRepSvrAcc" />
    <add key="ReportServerDomainPassword" value="$Vl1!%*/743*&amp;%@2016z" />
    <add key="SiteCookieKey" value="www.eduegateerp.com" />
    <add key="ContextKey" value="cce" />
    <add key="ImplementedCulture" value="en-US,ar,fr" />
    <add key="PageSize" value="25" />
    <add key="RootUrl" value="http://localhost/Eduegate.ERP.Admin/" />
    <add key="ImageHostUrl" value="C:\Softop_Eduegate\Presentation\Eduegate.ERP.Admin\UploadImages\" />
    <add key="StudentThumbnailImagePath" value="C:\Softop_Eduegate\Presentation\Eduegate.ERP.Admin\UploadImages\" />
     <!--To bypass resizing, set ThumbnailWidth = 0 -->
    <add key="ThumbnailWidth" value="800" />
    <add key="DocumentsVirtualPath" value="C:\Softop_Eduegate\Presentation\Eduegate.ERP.Admin/Documents " />
    <add key="DateFormat" value="dd/MM/yyyy" />
    <add key="DateTimeFormat" value="dd/mm/yy" />
    <add key="TimeFormatWithoutSecond" value="hh:mm tt" />
    <add key="12HrDateTimeFormat" value="dd/MM/yyyy hh:mm:ss tt" />
    <add key="24HrDateTimeFormatWithMilliSecond" value="yyyy-MM-dd HH:mm:ss.fff" />
    <add key="WebsiteUrl" value="http://www.eduegateerp.com/" />
    <add key="ProductRootUrl" value="Product/ProductDetail?" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="RouteDebugger:Enabled" value="true" />
    <add key="Select2DataSize" value="25" />
    <add key="BoilerPlateTemplatePath" value="/Eduegate.ERP.Admin/CMS/Boilerplate/" />
    <!--New keys for order generation-->
    <add key="SiteID" value="2" />
    <add key="CompanyID" value="2" />
    <add key="Logo" value="logo-sa.png" />
    <add key="FromAddress" value="customer.support@eduegate.com.kw" />
    <add key="IsMultiCompany" value="false" />
    <add key="PortalTitle" value="Eduegate Suite" />
    <add key="IsProduction" value="true" />
    <add key="ImagesPhysicalPath" value="C:\Softop_Eduegate\Presentation\Eduegate.ERP.Admin\UploadImages\" />
    <add key="DocumentsPhysicalPath" value="C:\Softop_Eduegate\Presentation\Eduegate.ERP.Admin\Documents" />
    <add key="DocumentPhysicalPathForMailAttach" value="C:\Softop_Eduegate\Presentation\Eduegate.ERP.Admin\" />
    <add key="ReportPhysicalPath" value="C:\\Softop_Eduegate\\Presentation\\Eduegate.ERP.Admin\\Reports\\RDL\\" />
    
    <!--Tiers, Multi-->
    <add key="Tiers" value="Single" />
    <add key="MaxFetchCount" value="20" />
    <add key="IsSecured" value="true" />
    <add key="IsJustCMS" value="false" />
    <!--Immediate, Batch-->
    <add key="TransactionProcessing" value="Immediate" />
    <add key="LatestUpgradePhysicalPath" value="C:\\Rafeeq\\Eduegate\\EduegateV2\\Presentation\\Eduegate.ERP.Admin\\Upgrades\\" />
    <add key="EnableAccountProcessing" value="true" />
    <add key="ThumbnailImage" value="60,60" />
    <add key="ListingImage" value="200,200" />
    <add key="FilterCache" value="Global" />

    <!--<add key="EmailHost" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="smtpPort" value="587" /> 
    <add key="smtpPort" value="465" /> 
    <add key="SMTPUserName" value="pearlschools3@gmail.com" />
    <add key="SMTPPassword" value="Pearl@2021" />
    <add key="EmailFrom" value="pearlschools3@gmail.com" />
    <add key="EmailUser" value="Pearl School" />
    <add key="EmailID" value="pearlschools3@gmail.com" />-->
    
    <!--<add key="EmailHost" value="smtp.office365.com" />
    <add key="EnableSsl" value="true" />
    <add key="smtpPort" value="587" />
    <add key="SMTPUserName" value="noreply@pearlschool.org" />
    <add key="SMTPPassword" value="Eduegate@123" />
    <add key="EmailFrom" value="noreply@pearlschool.org" />
    <add key="EmailUser" value="Pearl School" />
    <add key="EmailID" value="noreply@pearlschool.org" />-->
    
    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="smtpPort" value="587" />
    <add key="SMTPUserName" value="pearlschools3@gmail.com" />
    <add key="SMTPPassword" value="tcqmdggtksgvilch" />
    <add key="EmailFrom" value="pearlschools3@gmail.com" />
    <add key="EmailUser" value="Pearl School" />
    <add key="EmailID" value="pearlschools3@gmail.com" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheEduegate" duration="600" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.DataVisualization, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Design, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebDesign, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <!--<add assembly="Eduegate.Frameworks, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Framework.CacheManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Framework.Contracts.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Framework.PageRendererEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Framework.Payment, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Framework.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Framework.Web.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Framework.Web.Library.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Framework.Web.Library.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Framework.XMLRepository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Frameworks.DynamicEntityMapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Frameworks.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Platforms.SubscriptionManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />
        <add assembly="Eduegate.Framework.PageRendererEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=97cfe1259aaf653d" />-->
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="108000" maxRequestLength="1073741824" shutdownTimeout="120" useFullyQualifiedRedirectUrl="true" requestLengthDiskThreshold="81920" maxUrlLength="2048" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,\,?" enableVersionHeader="false" requestValidationMode="2.0" fcnMode="Single" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>