@model Eduegate.Web.Library.ViewModels.Accounts.ChartOfAccountViewModel
@{
    Layout = null;
}
<div id="ViewChartOfAccounts" class="windowcontainer" ng-controller="ChartOfAccountController" ng-init="Init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <div class="pageheadername">
        <div>Chart of Accounts</div>
        @*<div class="alignright menugroup">
                <div class="createprodlink button-orange alignright"><a href="" title="Save Changes"><span>Save Changes</span></a></div>
            </div>*@
    </div>
    <div class="scheduleWrapper innertab subject first">
        <div class="field-row">
            <span class="form-group">
                <span class="controls">
                    <label>Main Group</label>
                    <ui-select name="TimeTable" ng-model="selectedMainGroupData"
                               theme="select2" class="pos-txt" ng-change="MainGroupChanges(selectedMainGroupData)">
                        <ui-select-match placeholder="Search">{{$select.selected.Value}}</ui-select-match>
                        <ui-select-choices repeat="data in MainAccountGroup | filter:$select.search">{{data.Value}}</ui-select-choices>
                    </ui-select>
                </span>
            </span>
            <span class="form-group">
                <span class="controls">
                    <label>Sub Group</label>
                    <ui-select name="TimeTable" ng-model="selectedSubGroupData"
                               theme="select2" class="pos-txt" ng-change="SubGroupChanges(selectedSubGroupData)">
                        <ui-select-match placeholder="Search">{{$select.selected.Value}}</ui-select-match>
                        <ui-select-choices repeat="data in SubGroup | filter:$select.search">{{data.Value}}</ui-select-choices>
                    </ui-select>
                </span>
            </span>
            <span class="form-group">
                <span class="controls">
                    <label>Ledger Name</label>
                    <ui-select name="TimeTable" ng-model="selectedLedgerNameData"
                               theme="select2" class="pos-txt" ng-change="LedgerNameChanges(selectedLedgerNameData)">
                        <ui-select-match placeholder="Search">{{$select.selected.Value}}</ui-select-match>
                        <ui-select-choices repeat="data in Ledger | filter:$select.search">{{data.Value}}</ui-select-choices>
                    </ui-select>
                </span>
            </span>
            @*<span class="form-group">
                <span class="controls">
                    <label>Ledger Code</label>
                    <ui-select name="TimeTable" ng-model="selectedLedgerCodeData"
                               theme="select2" class="pos-txt">
                        <ui-select-match placeholder="Search">{{$select.selected.Value}}</ui-select-match>
                        <ui-select-choices repeat="data in LedgerCode | filter:$select.search">{{data.Value}}</ui-select-choices>
                    </ui-select>
                </span>
            </span>*@
        </div>
        <div class="field-row field-row-btn">
            <label>&nbsp;</label>
                <input type="reset" class="button-orange btn-default reset" value="Reset" ng-click="ResetSaveFilter()">
            <input type="button" class="button-orange filter-search" value="Search" ng-click="SaveFilter()">
        </div>
        <div class="pagecontent">
            <div class="producttab">
                <div class="settings">
                    <div class="fullwidth alignleft">
                        <table cellpadding="0" cellspacing="0" class="grid">
                            <thead>
                                <tr>
                                    @*<th class="ex-small-col-width textleft">Number</th>*@
                                    <th class="medium-col-width textleft">Name</th>
                                    @*<th class="small-col-width textleft">Balance</th>
                                    <th class="small-col-width textleft">Type</th>
                                    <th class="ex-large-col-width textleft">Header</th>
                                    <th class="ex-large-col-width textleft">Bank</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="detail in GetChartOfAccounts.Details" ng-class="{gridtitle: detail.ChartRowType == 'Header'}">
                                    @*<td ng-if="detail.ChartRowType != 'Header'" class="ex-small-col-width textleft">{{detail.AccountCode}}</td>
                                    <td ng-if="detail.ChartRowType == 'Header'"></td>
                                    <td ng-if="detail.ChartRowType == 'Header'" class="ex-small-col-width textleft">{{detail.AccountGroupName}}</td>*@
                                    <td ng-if="detail.ChartRowType != 'Header'" class="medium-col-width textleft">{{detail.Name}}</td>
                                    @*<td class="small-col-width textleft"><span ng-bind="detail.Balance | currency : '@ViewBag.DefaultCurrencyCode' : @ViewBag.DefaultDecimalPoints " /></td>
                                    <td ng-if="detail.ChartRowType != 'Header'" class="small-col-width textleft">{{detail.AccountGroupName}}</td>
                                    <td ng-if="detail.ChartRowType == 'Header'" class="small-col-width textleft">Header</td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>