<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbEduegateERPContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Eduegate_DB_04_JAN_20;Persist Security Info=True;User ID=eduegateuser;Password=eduegatedberp@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=eduegatedberp_logs;Persist Security Info=True;User ID=eduegateuser;Password=eduegatedberp;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="tablename" value="AttendenceReasons"/>
    <add key="entityname" value="AttendenceReason"/>
    <add key="module" value="School"/>
    <add key="submodule" value="School"/>
    <add key="IDField" value="ID"/>
    <add key="subsubmodule" value="School"/>
    
    <add key="ParentMenu" value=""/>
    <add key="MenuName" value=""/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
