<style>
    iframe {
        width: 100%;
        height: 80vh; /* Full height of the viewport */
        border: none; /* No border for the iframe */
    }
</style>

<div class="col-12 listPage p-8 mb-15">
    <div class="d-flex justify-content-between">
        <h3 class="mb-5">
            <a href="/home/DataListView?listName=@ViewBag.ListScreen" title="back to list">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="20" viewBox="0 0 26 20" fill="none">
                    <path d="M25 9.03287H2.96065L10.4803 1.54212C10.8335 1.18893 10.8335 0.617178 10.4803 0.264891C10.1271 -0.0882969 9.55537 -0.0882969 9.20308 0.264891L0.260836 9.20631C-0.0869455 9.55409 -0.0869455 10.1358 0.260836 10.4835L9.20316 19.4259C9.55634 19.779 10.1281 19.779 10.4804 19.4259C10.8336 19.0727 10.8336 18.5009 10.4804 18.1486L2.96065 10.8394H25C25.4986 10.8394 25.5 10.4985 25.5 10C25.5 9.50145 25.4985 9.03287 25 9.03287Z" fill="#515151" />
                </svg>
            </a>
        </h3>
    </div>
    <div class="row ps-4">
        <iframe src="@ViewBag.ReportUrl" allowfullscreen></iframe>
    </div>
</div>