@{
    Layout = null;
    ViewData["Title"] = "Forget Password";
    var settingBL = new Eduegate.Domain.Setting.SettingBL(null);
    var clientName = settingBL.GetSettingValue<string>("CLIENTINSTANCE");
    var clientFullName = settingBL.GetSettingValue<string>("CLIENT_FULL_NAME");
}

<!DOCTYPE html>
<html ng-app="Eduegate.Recruitment.Portal">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <script src="~/Scripts/jquery-3.4.1.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.custom.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/bootstrap.js" asp-append-version="true"></script>
    <script src="~/Scripts/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/respond.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-route.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-animate.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-sanitize.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-filter.min.js" asp-append-version="true"></script>
    <script src="~/app/Services/app.js" asp-append-version="true"></script>
    <script src="~/app/schedule.js" asp-append-version="true"></script>
    <script src="~/app/util.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link href="~/Content/dashboard/dashboard.css" rel="stylesheet" />
    <link href="~/Content/dashboard/docs.css" rel="stylesheet" />
    <link href="~/Content/dashboard/style.bundle.css" rel="stylesheet" />
    <script src="~/app/Controller/LayoutHeaderController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/DashboardController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/LoginController.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.waypoints.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/moment.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-moment.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/Custom.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.signature.js" asp-append-version="true"></script>
    <script src="~/app/utility.js" asp-append-version="true"></script>
    <script src="~/Scripts/JSLINQ.js" asp-append-version="true"></script>
    <script src="~/Scripts/ng-map.min.js" type="text/javascript" asp-append-version="true"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/plugins.bundle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">

    <title>Login Page</title>
</head>
<body>
    @await Html.PartialAsync("_ToastMessage")
    <div class="loginbody gradient-custom">
        <div class="text-center" id="spinner">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="p-5">
                    <p class="loginTitle">@clientFullName</p>
                    <p class="loginHeader">CAREER PORTAL</p>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-left mt-20">
                <div>

                </div> 
                <div class="row mt-10">
                    <div id="forgetPassword" class="newLogincontainer" ng-controller="LoginController" style="width:330px;">
                        <h2 class="pt-5 pb-4">Reset Password</h2>
                        <form ng-submit="submitResetPassword()">
                            <div style="padding-top:5px;">
                                <label for="emailId">Email ID</label>
                                <input type="text" id="emailId" name="emailId" required ng-model="registrationDTO.EmailID">
                            </div>
                            <div>
                                <label for="Password">Password</label>
                                <input type="password" id="password" ng-model="registrationDTO.Password" required>

                                <input type="checkbox" ng-click="showPassword()">
                                <label for="ShowPassword">Show Password</label>
                            </div>

                            <div class="pt-5">
                                <label for="ConfirmPassword">Confirm Password</label>
                                <input type="password" id="resetPassword" ng-model="registrationDTO.ConfirmPassword" required>
                            </div>
     
                            <div class="pt-3" ng-show="IsOTPGenerated">
                                <label for="otp">OTP</label>
                                <input type="text" id="otp" name="otp" ng-model="registrationDTO.OTP">
                            </div>
                            <div class="pt-2 pb-5 d-flex justify-content-center">
                                <button type="button" class="btn btn-light" ng-click="generateOTP()">{{OTPbutton}}</button>
                                <button type="submit" id="submitBtn" class="btn btn-success">Reset Password</button>
                            </div>

                            <p style="font-size:11px;">The OTP will be sent to the email id provided above</p>
                        </form>
                        <div style="text-align:center;">
                            <span>Back to login </span>&ensp;<a href="~/Account/Login" style="text-decoration: none;">Login here</a><br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>