

<div class="popup customer-details" style="margin-top: -170px; margin-left: -129.5px; display: none;">
    <form action="" method="get" name="customerdetails">
        <div class="popup-wrap">
            <span class="close">X</span>
            <label>Enter Name</label>
            <input type="text" value="" name="cust_name">
            <label>Enter Email</label>
            <input type="text" value="" name="cust_email">
            <label>Enter Contact Number</label>
            <input type="text" value="" name="cust_contact">
            <label>Customer TR</label>
            <input type="text" value="" name="cust_tr">
            <input class="button-orange" value="Detail Creation">
            <input class="button-orange" type="submit" value="Save">
        </div>
    </form>
</div><!--customer-details-->
