@using Eduegate.Services.Contracts.Enums;
@model Eduegate.Framework.PageRendererEngine.ViewModels.BoilerPlateInfoViewModel
@{
    Random rnd = new Random();
    var windowName = "window_MenuCards";
    var documentTypeID = Model.GetParameterValue<string>("DocumentTypeID");
}

<div id="@windowName" template="_DashBoard_Menu_Cards" ng-controller="DashboardController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model),'@windowName')">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row">
    <div class="col-lg-3 col-sm-6" ng-repeat="datas in CardDatas">
        <div class="panel info-box panel-white rounded" style=" box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border: 0 !important; margin-bottom: 25px; border-radius: 0;">
            <div class="panel-body rounded">
                <div>
                    <div class="row">
                            <div class="col-3">
                                <i class="fa fa-database" aria-hidden="true" style="font-size: 24px; color:grey;"></i>
                            </div>
                        <div class="col-6">
                                <h2 class="text-3xl font-bold text-gray-800 dark:text-white">{{datas.Value}}</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                            <span class="info-box-title">{{datas.Header}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    