
@{
    Layout = null;
    ViewData["Title"] = "Register Vendor";
    var settingBL = new Eduegate.Domain.Setting.SettingBL(null);
    var clientName = settingBL.GetSettingValue<string>("CLIENTINSTANCE");
    var clientFullName = settingBL.GetSettingValue<string>("CLIENT_FULL_NAME");
}

<!DOCTYPE html>
<html ng-app="Eduegate.Vendor.Portal">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <script src="~/Scripts/jquery-3.4.1.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.custom.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/bootstrap.js" asp-append-version="true"></script>
    <script src="~/Scripts/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/respond.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-route.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-animate.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-sanitize.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-filter.min.js" asp-append-version="true"></script>
    <script src="~/app/Services/app.js" asp-append-version="true"></script>
    <script src="~/app/schedule.js" asp-append-version="true"></script>
    <script src="~/app/util.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link href="~/Content/dashboard/dashboard.css" rel="stylesheet" />
    <link href="~/Content/dashboard/docs.css" rel="stylesheet" />
    <link href="~/Content/dashboard/style.bundle.css" rel="stylesheet" />
    <script src="~/app/Controller/LayoutHeaderController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/VendorController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/DashboardController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/LoginController.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.waypoints.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/moment.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-moment.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/Custom.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.signature.js" asp-append-version="true"></script>
    <script src="~/app/utility.js" asp-append-version="true"></script>
    <script src="~/Scripts/JSLINQ.js" asp-append-version="true"></script>
    <script src="~/Scripts/ng-map.min.js" type="text/javascript" asp-append-version="true"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/plugins.bundle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">

    <title>Login Page</title>
</head>
<body>
    @await Html.PartialAsync("_ToastMessage")
    <div class="loginbody">
        <div class="text-center" id="spinner">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row">
            <div class="p-5 col-7">
                <p class="loginTitle">@clientFullName</p>
                <p class="loginHeader">VENDOR PORTAL</p>

                <div class="pt-5 image-container">

                    <svg class="Ellipse1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <circle cx="10" cy="10" r="10" fill="#9555D6" />
                    </svg>
                    <svg class="Ellipse2" xmlns="http://www.w3.org/2000/svg" width="79" height="79" viewBox="0 0 79 79" fill="none">
                        <circle cx="39.5" cy="39.5" r="39.5" fill="#F4CA34" />
                    </svg>
                    <svg class="Ellipse3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <circle cx="8" cy="8" r="8" fill="#48B33E" />
                    </svg>
                    <svg class="Ellipse4" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                        <circle cx="19" cy="19" r="19" fill="#E86161" />
                    </svg>
                    <svg class="Ellipse5" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <circle cx="12.5" cy="12.5" r="12.5" fill="#3EC3E0" />
                    </svg>


                    <svg class="grid" xmlns="http://www.w3.org/2000/svg" width="894" height="722" viewBox="0 0 894 722" fill="none">
                        <path d="M33.8648 0L33.8648 508.518M0 46.0945H894M0 93.2683H894M0 140.442H894M0 187.616H894M0 234.79H894M0 281.964H894M0 329.138H894M0 376.312H894M0 423.485H894M0 470.659H894M0 517.833H894M93.0384 0L93.0384 508.518M152.212 0L152.212 508.518M211.385 0L211.385 508.518M270.559 0L270.559 508.518M329.732 0L329.732 508.518M388.906 0L388.906 508.518M448.079 0V508.518M507.253 0V508.518M566.427 0V508.518M625.6 0V508.518M684.774 0V508.518M743.947 0V508.518M803.121 0V722M862.294 0V722" stroke="#3F3F3F" stroke-opacity="0.22" stroke-width="0.7"></path>
                    </svg>

                    <img class="globe rotate" style="width: 1500px;height: 1500px;" src="~/Images/Earth1.png" />
                    <img class="shirt animated" src="~/Images/man_white_polo_shirt.png" />
                    <img class="vendorItems animated" src="~/Images/schools-vendor.png" />
                    <img class="printer animated" src="~/Images/Printer.png" />
                    <img class="shoe animated" src="~/Images/SchoolShoe.png" />
                    <img class="laptop" src="~/Clients/@clientName/MacBook.png" />
                </div>

            </div>

        <div class="col-5">
            <div id="VendorNewLogin" class="newLogincontainer" ng-controller="LoginController" ng-init="Init()">
                <h3 class="p-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
                    </svg> Create a New Account
                </h3>

                <form ng-submit="submitLoginForm()" class="p-3">

                    <div class="row pb-3">
                            <div class="col-6">
                                <label for="FirstName">Company Name</label>
                                <input type="text" id="FirstName" ng-model="registrationDTO.FirstName" required oninput="this.value = this.value.toUpperCase()">
                            </div>

                        <div class="col-6">
                            <label for="vendorCr">Vendor Cr</label>
                            <input type="text" id="vendorCr" ng-model="registrationDTO.VendorCr" required oninput="this.value = this.value.toUpperCase()">
                        </div>
                    </div>


                    <div class="row pb-3">
                        <div class="col-6">
                            <label for="email">Email ID</label>
                            <input type="email" id="email" ng-model="registrationDTO.Email" required>
                        </div>
                        <div class="col-6">
                            <label for="telephoneNo">Telephone No.</label>
                            <input type="tel" id="telephoneNo" ng-model="registrationDTO.TelephoneNo" required>
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-6">
                            <label for="Password">Password </label>
                            <input type="password" id="Password" ng-model="registrationDTO.Password" required>
                        </div>
                        <div class="col-6">
                            <label for="ConfirmPassword">Confirm Password </label>
                            <input type="password" id="ConfirmPassword" ng-model="registrationDTO.ConfirmPassword" required>
                        </div>
                    </div>  
                    
                    <div class="row pb-3">
                        <div class="col-6">
                        </div>
                        <div class="col-6 px-3">
                            <input type="checkbox" ng-click="showPassword()">
                            <label for="ShowPassword">Show Password</label>
                        </div>
                    </div>

                    <div class="pt-4">
                        <input type="submit" value="Submit" id="submitBtn">
                    </div>
                </form>
                <div style="text-align:center;">
                    <span>Already have an account ? </span>&ensp;<a href="~/Account/Login" style="text-decoration: none;">Login here</a><br>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>