<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Eduegate.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <log4net configSource="Web.log4net.config" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>

    <!--Local Express DB-->
    <!--<add name="dbEduegateERPContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbContentContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateHRContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduEgate_2022_logs;Persist Security Info=True;User ID=eduegateuser;Password=eduegate;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

    <!--Local Dev DB-->
    <add name="dbEduegateERPContext" connectionString="Data Source=.;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbContentContext" connectionString="Data Source=.;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=.;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateHRContext" connectionString="Data Source=.;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=.;Initial Catalog=EduEgate_2022_logs;Persist Security Info=True;User ID=eduegateuser;Password=eduegate;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

    <!--Office Local Dev DB-->
    <!--<add name="dbEduegateERPContext" connectionString="Data Source=192.168.1.44;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbContentContext" connectionString="Data Source=192.168.1.44;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=192.168.1.44;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateHRContext" connectionString="Data Source=192.168.1.44;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=192.168.1.44;Initial Catalog=EduEgate_2022_Log;Persist Security Info=True;User ID=eduegateuser;Password=eduegate;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    
    <!--Itrade dev DB-->
    <!--<add name="dbEduegateERPContext" connectionString="Data Source=itradeerp.dyndns.org,2022;Initial Catalog=EduEgateMigration;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbContentContext" connectionString="Data Source=itradeerp.dyndns.org,2022;Initial Catalog=EduEgateMigration;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=itradeerp.dyndns.org,2022;Initial Catalog=EduEgateMigration;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateHRContext" connectionString="Data Source=itradeerp.dyndns.org,2022;Initial Catalog=EduEgateMigration;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=itradeerp.dyndns.org,2022;Initial Catalog=EduEgateMigration;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

    <!--Itrade New Server DB-->
    <!--<add name="dbEduegateERPContext" connectionString="Data Source=itradeonline.dyndns.org,2022;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbContentContext" connectionString="Data Source=itradeonline.dyndns.org,2022;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=itradeonline.dyndns.org,2022;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateHRContext" connectionString="Data Source=itradeonline.dyndns.org,2022;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=itradeonline.dyndns.org,2022;Initial Catalog=EduEgate_2022_Log;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ImageRootUrl" value="http://localhost/Eduegate.ERP.Admin/UploadImages/ProductImages/" />
    <!--<add key="solr" value="http://40.115.16.223:8983/solr/" />-->
    <add key="solr" value="http://13.81.15.107:8983/solr/" />
    <!--<add key="solr" value="http://localhost:8983/solr/" />-->
    <add key="legacysolr" value="http://13.81.15.107:8983/solr/" />
    <add key="solrCore" value="wbcatalog-ksa" />

    <add key="RootUrl" value="http://localhost/Eduegate.Services/" />
    <add key="EduegatesHostUrl" value="http://localhost/Eduegate.Eduegates/" />
    <add key="ImageHostUrl" value="http://localhost/Eduegate.ERP.Admin/UploadImages/" />
    <add key="ImagesPhysicalPath" value="C:\Softop_Eduegate\Services\Eduegate.Services\UploadImages" />
    <add key="DocumentsVirtualPath" value="C:/Softop_Eduegate/Services/Eduegate.Services/Documents " />
    <add key="DocumentsPhysicalPath" value="C:\Softop_Eduegate\Services\Eduegate.Services\Documents" />
    <add key="DocumentPhysicalPathForMailAttach" value="C:\Softop_Eduegate\Services\Eduegate.Services\" />
    <add key="ReportPhysicalPath" value="C:\\PROJECT\\eduegateerpv1\\Presentation\\Eduegate.ERP.School.ParentPortal\\Reports\\RDL\\" />
    
    <add key="IsSecured" value="false" />
    <add key="IsMigratedUserCheck" value="false" />
    <add key="IsJustCMS" value="false" />
    <add key="FromAddress" value="customer.support@blink.com.kw" />
    
    <add key="RootUrlKuw" value="http://localhost/Eduegate.Blink.Web/" />
    <add key="RootUrlKSA" value="http://localhost/Eduegate.Blink.Web/" />
    
    <add key="MaxFetchCount" value="500" />
    <add key="DateFormat" value="dd/MM/yyyy" />
    <add key="DateTimeFormat" value="dd/MM/yyyy hh:mm:ss" />
    <add key="DateTimeFormatWithAnnotation" value="dd/MM/yyyy hh:mm tt" />
    <add key="TimeFormatWithoutSecond" value="hh:mm tt" />
    <add key="12HrDateTimeFormat" value="dd/MM/yyyy hh:mm:ss tt" />
    <add key="24HrDateTimeFormatWithMilliSecond" value="yyyy-MM-dd HH:mm:ss.fff" />

    <!--<add key="EmailHost" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="smtpPort" value="587" /> 
    <add key="smtpPort" value="465" /> 
    <add key="SMTPUserName" value="pearlschools3@gmail.com" />
    <add key="SMTPPassword" value="Pearl@2021" />
    <add key="EmailFrom" value="pearlschools3@gmail.com" />
    <add key="EmailUser" value="Pearl School" />
    <add key="EmailID" value="pearlschools3@gmail.com" />-->

    <!--<add key="EmailHost" value="smtp.office365.com" />
    <add key="EnableSsl" value="true" />
    <add key="smtpPort" value="587" />
    <add key="SMTPUserName" value="noreply@pearlschool.org" />
    <add key="SMTPPassword" value="Eduegate@123" />
    <add key="EmailFrom" value="noreply@pearlschool.org" />
    <add key="EmailUser" value="Pearl School" />
    <add key="EmailID" value="noreply@pearlschool.org" />-->

    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="smtpPort" value="587" />
    <add key="SMTPUserName" value="pearlschools3@gmail.com" />
    <add key="SMTPPassword" value="tcqmdggtksgvilch" />
    <add key="EmailFrom" value="pearlschools3@gmail.com" />
    <add key="EmailUser" value="Pearl School" />
    <add key="EmailID" value="pearlschools3@gmail.com" />
    
    <!--<add key="ImageProductHostUrl" value="http://13.81.15.107:9094/WBImages/products/" />
    <add key="ImageBannerHostUrl" value="http://13.81.15.107:9094/WBImages/Banners/" />
    <add key="ImageCategoryHostUrl" value="http://13.81.15.107:9094/WBImages/Category/" />
    <add key="ImageCategoryBannerHostUrl" value="http://13.81.15.107:9094/WBImages/Category/" />-->
    <add key="WBDocuments" value="C:\WB\WBDocuments\" />
    <add key="UseFallBackSearchKeywords" value="true" />
    <add key="Logo" value="logo-sa.png" />
    <add key="ServiceHost" value="http://localhost/Eduegate.Services/" />
    <add key="HasSearchServer" value="false" />
    <!--<add key="solrcore_1_en" value="blink-kuwait-en" />
    <add key="solrcore_1_ar" value="blink-kuwait-ar" />
    <add key="solrcore_2_en" value="blink-ksa-en" />
    <add key="solrcore_2_ar" value="blink-ksa-ar" />-->
    <add key="solrcore_1_en" value="wbcatalog-kwt" />
    <add key="solrcore_1_ar" value="wbcatalog-kwt-ar" />
    <add key="solrcore_2_en" value="wbcatalog-ksa-multi" />
    <add key="solrcore_2_ar" value="wbcatalog-ksa-multi-ar" />
    <add key="GeoLocationUrl" value="http://freegeoip.net/json/" />
    <add key="IsSyncImageWithFtp" value="true" />
    <add key="ImageSynchFtpServer" value="ftp://94.236.80.40:25490/" />
    <add key="ImageSynchFtpServerUserID" value="RsFTp" />
    <add key="ImageSynchFtpServerPassword" value=":l#~!@2017Knas" />
    <!--  TheFort parameters-->
    <add key="TheFortPaymentUrl" value="http://localhost/Eduegate.Blink.Web/fort" />
    <add key="TheFortShaRequestPhrase" value="Blink2014WBPAY@._" />
    <add key="TheFortShaResponsePhrase" value="Blink@2014PAY@.OUT" />
    <add key="TheFortMerchantIdentifier" value="jDOVMYSS" />
    <add key="TheFortAccessCode" value="rD3rNrhISEhlVi17y2Fx" />
    <add key="TheFortRedirectionUrl" value="http://localhost/Eduegate.Blink.Web/payment/TheFortPaymentResponseMobile" />
    <add key="TheFortMerchantResponseUrl" value="http://localhost/Eduegate.Blink.Web/payment/TheFortPaymentResponseMobile" />
    <add key="TheFortNotificationUrl" value="http://localhost/Eduegate.Blink.Web/payment/TheFortPaymentNotification" />
    <add key="TheFortPCommand" value="PURCHASE" />
    <add key="TheFortServiceCommand" value="TOKENIZATION" />
    <add key="UseTheFortSandbox" value="true" />
    <add key="TheFortPurchaseTestUrl" value="https://sbcheckout.payfort.com/FortAPI/paymentPage" />
    <add key="TheFortPurchaseLiveUrl" value="https://checkout.payfort.com/FortAPI/paymentPage" />
    <add key="TheFortCurrency" value="SAR" />
    <add key="TheFortPostReturnUrl" value="http://localhost/Eduegate.Blink.Web/payment/TheFortPaymentResponseMobile" />
    <add key="TheFortMerchantOperationTestUrl" value="https://sbpaymentservices.payfort.com/FortAPI/paymentApi" />
    <add key="TheFortMerchantOperationLiveUrl" value="https://paymentservices.payfort.com/FortAPI/paymentApi" />
    <add key="TheFortDefaultLanguage" value="en" />
    <add key="EnableFortForCustomer" value="" />
    <add key="TheFortCountryID" value="10003" />
    <add key="TheFortMobilePage" value="http://13.81.15.107:9998/ExternalPages/FortPayment.htm" />
    <!--KNET keys -->
    <add key="KNETPaymentEnableSandBoxTesting" value="true" />
    <add key="KNETPaymentSandBoxResourcePath" value="C:\\inetpub\\vhosts\\blink.com.kw\\httpdocs\\wallet-beta\\resource\\resource.cgn" />
    <add key="KNETPaymentGatewayResourcePath" value="C:\\inetpub\\vhosts\\blink.com.kw\\httpdocs\\resource\\resource.cgn" />
    <add key="KNETPaymentAction" value="1" />
    <add key="KNETPaymentCurrency" value="414" />
    <add key="KNETPaymentLanguage" value="USA" />
    <add key="KNETPaymentInitErrorPage" value="ErrorInit.cshtml" />
    <add key="KNETPaymentAlias" value="wbtech" />
    <add key="PaymentFailureMethod" value="PaymentFailure" />
    <add key="PaymentController" value="Checkout" />
    <add key="PaymentSuccessMethod" value="ConfirmOrder" />
    <add key="MockKNETPaymentGateway" value="false" />
    <add key="CurrencyCode" value="SAR" />
    <add key="KNETPaymentResponseController" value="Payment" />
    <add key="KNETPaymentResponseMethod" value="KNETPaymentResponse" />
    <add key="KNETASPSuccesssURL" value="http://www.blink.com.kw/ExternalPages/KnetResponseApp.asp" />
    <add key="KNETASPErrorURL" value="http://www.blink.com.kw/ExternalPages/KnetResponseApp.asp" />
    <add key="KNETMockedTransResult" value="CAPTURED" />
    <add key="KnetMobilePage" value="http://www.blink.com.kw/wallet-beta/KnetPayment.htm" />
    <add key="IsTestKnet" value="true" />
    <add key="IsTestKnetApp" value="false" />
    <add key="KnetGenerateUrl" value="http://www.blink.com.kw/wallet-beta/KnetGenerateUrl.aspx" />
    <!-- CAPTURED, VOIDED, NOT CAPTURED, CANCELED, DENIED BY RISK, HOST TIMEOUT -->
    <!--MIGS keys -->
    <add key="CcVpcVersion" value="1" />
    <add key="CcVpcCommand" value="pay" />
    <add key="CcVpcAccessCode2" value="F8A1AC42" />
    <add key="ccVpcMerchant2" value="TESTKFH_TEST_KWD" />
    <add key="CcVpcAccessCode" value="D41A707B" />
    <add key="ccVpcMerchant" value="WBTECH" />
    <add key="ccVpcMerchTxnRef" value="WB Tech Ref No" />
    <add key="ccVpcOrderInfo" value="WB Technologies" />
    <add key="ccVpcLocale" value="en" />
    <add key="CcVpcCurrencyCode" value="KWD" />
    <add key="MockMIGSPaymentGateway" value="false" />
    <add key="MIGSPaymentResponseController" value="Payment" />
    <add key="MIGSPaymentResponseMethod" value="MIGSPaymentResponse" />
    <add key="CcVpcReturnURL" value="https://www.blink.com.kw/ccpayment/vpc_asp_serverhost_dr.asp" />
    <add key="CcVirtualPaymentClientURL" value="https://migs.mastercard.com.au/vpcpay" />
    <add key="MIGSMockedResponseCode" value="0" />
    <add key="MIGS_SECURE_SECRET" value="4DBFCE35476DACD311679D49A4D3E3DF" />
    <add key="MIGSMobilePage" value="http://localhost/Eduegate.Blink.Web/ExternalPages/MIGSPayment.htm" />
    <add key="CcVpcSecureSecretNew" value="24EB5BF3F9B9F5E8CF514FE673EF3C07" />
    <add key="CcVpcAccessCodeNew" value="F8A1AC42" />
    <add key="ccVpcMerchantNew" value="TESTKFH_TEST_KWD" />
    <!-- Success:0, Cancel:C, Decline:1 -->
    <!--PAYPAL keys -->
    <add key="UsePayPalSandbox" value="true" />
    <add key="PaypalBusinessEmail" value="georgevarghese3@rediffmail.com" />
    <add key="PaypalCancelPurchaseUrlKUW" value="http://localhost/Eduegate.Blink.Web/Payment/PayPalPaymentResponse" />
    <add key="PaypalReturnUrlKUW" value="http://localhost/Eduegate.Blink.Web/Payment/PayPalPaymentResponse" />
    <add key="PaypalCancelPurchaseUrlKSA" value="http://localhost/Eduegate.Blink.Web/Payment/PayPalPaymentResponse" />
    <add key="PaypalReturnUrlKSA" value="http://localhost/Eduegate.Blink.Web/Payment/PayPalPaymentResponse" />
    <add key="PaypalNotifyUrl" value="http://blinkweb/paypal/ipn-trans.aspx" />
    <add key="PaypalCurrencyCode" value="USD" />
    <add key="PaypalDefaultCurrencyCode" value="KD" />
    <add key="PaypalDefaultPrecission" value="3" />
    <add key="SendToReturnURL" value="true" />
    <add key="PayPalToken_Live" value="YAJrPjTh3STbjKqmGEEiVFV0Z3epeHx2nyJabNTBLVvOORdwi_MNinhCJm4" />
    <add key="PayPalToken" value="YPQPvL-MwxmoDjoAeF45foEWZHbakSBqLv9MNWRkknY_ZmsT2kiN8RFgU3q" />
    <add key="PayPalLiveUrl" value="https://www.paypal.com/cgi-bin/webscr" />
    <add key="PayPalTestUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <add key="PayPalIpnLiveUrl" value="https://www.ipnpb.paypal.com/cgi-bin/webscr" />
    <add key="PayPalIpnTestUrl" value="https://www.ipnpb.paypal.com/cgi-bin/webscr" />
    <add key="PayPalBlockCountryIDS" value="" />
    <add key="PayPalPaymentUrl" value="http://blinkweb/paypal" />
    <add key="PaypalNoOfDecimals" value="2" />
    <add key="PaypalIPNProcessURL" value="ipn-process.aspx" />
    <add key="PayPalMobilePage" value="http://localhost/Eduegate.Blink.Web/ExternalPages/PayPalPayment.htm" />
    <!-- Reporting Keys -->
    <add key="ReportServerHost" value="http://13.80.70.106:8085/reportserver/" />
    <add key="ReportServerDomainUser" value="BlkRepSvrAcc" />
    <add key="ReportServerDomainPassword" value="$Vl1!%*/743*&amp;%@2016z" />
    <!--None, Global, User-->
    <add key="FilterCache" value="Global" />
    <add key="DataCache" value="Global" />
    <add key="XmlRepositoryPath" value="%%DOMAINBASEDIRECTORY%%..\..\Platforms\Eduegate.Framework.XMLRepository\Repository\Version1.0" />
    <!--Immediate, Batch-->
    <add key="TransactionProcessing" value="Immediate" />    

    <add key="SMSGlobalAPI" value="https://api.smsglobal.com/http-api.php" />
    <add key="SMSGlobalUserName" value="qayws5nv" />
    <add key="SMSGlobalPassword" value="Br6f5Maj" />
    <add key="SMSGlobalSource" value="adcs" />
    <add key="SMSTest" value="true" />
    <add key="DefaultMobilePrefix" value="+971" />
    <add key="DefaultLocalNumberSize" value="9" />

    <add key="NAVService" value="http://151.253.128.182:7047/DynamicsNAV110/WS/ADCS%20Live%20Copy/Page/shareholder1" />
    <add key="NAVServiceUserID" value="ecommerce" />
    <add key="NAVServicePassword" value="ecom@123adcs" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://151.253.128.182:7047/DynamicsNAV110/WS/ADCS%20Live%20Copy/Page/shareholder1" binding="basicHttpBinding" bindingConfiguration="shareholder1_Binding" contract="ShareHolderService.shareholder1_Port" name="shareholder1_Port" />
      <endpoint address="http://13.80.70.106:8085/ReportServer/ReportService2010.asmx" binding="basicHttpBinding" bindingConfiguration="ReportingService2010Soap" contract="ReportServiceProxy.ReportingService2010Soap" name="ReportingService2010Soap" />
      <endpoint address="http://13.80.70.106:8085/ReportServer/ReportExecution2005.asmx" binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap" contract="ReportExecutionProxy.ReportExecutionServiceSoap" name="ReportExecutionServiceSoap" />
      <endpoint address="http://track.smsaexpress.com/SECOM/SMSAwebService.asmx" binding="basicHttpBinding" bindingConfiguration="SMSAWebServiceSoap" contract="SMSAService.SMSAWebServiceSoap" name="SMSAWebServiceSoap" />
    </client>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="10485760" />
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="shareholder1_Binding">
          <security mode="None">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="ReportingService2010Soap">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="ReportExecutionServiceSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="SMSAWebServiceSoap" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="TransactionalBind" transactionFlow="true">
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="Eduegate.Services.Inspectors.EnableCrossOriginResourceSharingBehavior, Eduegate.Services, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
        <behavior name="saop" />
        <behavior name="Eduegate.Services.ShoppingCart.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Eduegate.Services.ShoppingCart.Service2AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Eduegate.Services.ShoppingCart.ShoppingCartServicesAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Eduegate.Services.Inspectors.EnableCrossOriginResourceSharingBehavior">
          <webHttp />
        </behavior>
        <behavior name="jsonBehavior">
          <webHttp />
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="soapBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>      
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Wallet">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IWallet" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.PaymentGateway">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IPaymentGateway" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Customer">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.ICustomer" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Product">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IProduct" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Chat">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IChat" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Voucher">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IVoucher" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Menu">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IMenu" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.CountryMaster">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.ICountryMaster" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.ReferenceData">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IReferenceData" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.UserService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IUserService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.BannerService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IBannerService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.ProductDetail">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IProductDetail" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.News">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.INews" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.ShoppingCart">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IShoppingCart" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Designer">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IDesigner" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Utilitiy">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IUtilitiy" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Account">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IAccount" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.SearchService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.ISearchService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.MetadataService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Services.IMetadataService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.SupplierService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Services.ISupplierService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Payment.Payment">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Payment.IPayment" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Order">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IOrder" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Transaction">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.ITransaction" />
      </service>
      <service behaviorConfiguration="soapBehavior" name="Eduegate.Services.TransactionEngineService">
        <endpoint address="" behaviorConfiguration="saop" binding="wsHttpBinding" bindingConfiguration="TransactionalBind" contract="Eduegate.Services.Contracts.ITransactionEngineService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Notifications">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.INotifications" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.BlinkLegacyService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IBlinkLegacyService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.StaticContent">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IStaticContent" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.SynchronizerService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.ISynchronizerService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.SearchDataService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.SearchData.ISearchDataService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.BrandService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IBrandService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.SettingService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.ISettingService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.UserManagement">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IUserManagement" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Payroll.EmployeeService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Payroll.IEmployeeService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Payroll.EmploymentService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Payroll.IEmploymentService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.MutualService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IMutualService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.SmartViewService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.SmartView.ISmartViewService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.DocumentService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IDocumentService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.MobileAppWrapper.AppDataService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="Eduegate.Services.Contracts.MobileAppWrapper.IAppDataService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.MobileAppWrapper.AppMaidService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="Eduegate.Services.Contracts.MobileAppWrapper.IAppMaidService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.MobileAppWrapper.UserAccountService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="Eduegate.Services.Contracts.MobileAppWrapper.IUserAccountService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.MobileAppWrapper.AppCommunityService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="Eduegate.Services.Contracts.MobileAppWrapper.IAppCommunityService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.MobileAppWrapper.AppSecurityService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="Eduegate.Services.Contracts.MobileAppWrapper.IAppSecurityService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.MobileAppWrapper.ECommerceService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="Eduegate.Services.Contracts.MobileAppWrapper.IECommerceService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.MobileAppWrapper.SchoolService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.MobileAppWrapper.ISchoolService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Warehouse.WarehouseServices">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Warehouses.IWarehouseServices" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.DistributionService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Distributions.IDistributionService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.CategoryService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.ICategoryService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.BoilerPlateService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IBoilerPlateService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.PageRenderService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IPageRenderService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Inventory.InventoryService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Inventory.IInventoryService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.DataFeedService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IDataFeedService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Schedulers.SchedulerService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Schedulers.ISchedulerService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.PriceSettings.PriceSettings">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.PriceSettings.IPriceSettings" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Security.SecurityService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Security.ISecurityService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.CurrencyExchange">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.ICurrencyExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.ReportDataService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IReportDataService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.ExternalServices.ServiceProviderAPIServices">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.ExternalServices.IServiceProviderAPIServices" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.SupportService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Supports.ISupportService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.CustomerService.RepairOrderService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.CustomerService.IRepairOrderService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Logging.LoggingServices">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Logging.ILoggingService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.AccountingTransaction">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IAccountingTransaction" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.FixedAssetsService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.IFixedAssetsService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Accounting.AccountingService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Accounting.IAccountingService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Eduegate.Services.Frameworks.FrameworkService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Eduegate.Services.Contracts.Framework.IFrameworkService" />
      </service>
     
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="accept, content-type" />
        <add name="Access-Control-Allow-Origin" value="http://localhost"/>
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.10.0" newVersion="3.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Eduegate.Domain.Properties.Settings>
      <setting name="WB_Domain_ReportingWebReference_ReportingService2010" serializeAs="String">
        <value>http://13.80.70.106:8085/ReportServer/ReportService2010.asmx</value>
      </setting>
    </Eduegate.Domain.Properties.Settings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>