.simple-widget {
    position: relative;
    padding: 15px;
    background: #2698e2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #2698e2;
    background: -moz-linear-gradient(45deg, #2698e2 0%, #197cbc 100%);
    background: -webkit-linear-gradient(45deg, #2698e2 0%, #197cbc 100%);
    background: linear-gradient(45deg, #2698e2 0%, #197cbc 100%);
}

.simple-widget .growth {
    position: absolute;
    right: 15px;
    top: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-color: #2698e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#69b8eb), to(#2698e2));
    background-image: -webkit-linear-gradient(top, #69b8eb, #2698e2);
    background-image: -moz-linear-gradient(top, #69b8eb, #2698e2);
    background-image: -ms-linear-gradient(top, #69b8eb, #2698e2);
    background-image: -o-linear-gradient(top, #69b8eb, #2698e2);
    background-image: linear-gradient(top, #69b8eb, #2698e2);
    color: #ffffff;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.simple-widget h3 {
    margin: 0 0 10px 0;
}

.simple-widget p {
    margin: 0;
    padding: 0 0 10px 0;
}

.simple-widget .progress {
    height: 5px;
    margin: 0;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.2);
}

    .simple-widget .progress .progress-bar {
        background: #ffffff;
    }

.simple-widget.secondary {
    background: #f23f3f;
    background: -moz-linear-gradient(45deg, #f23f3f 0%, #ee1010 100%);
    background: -webkit-linear-gradient(45deg, #f23f3f 0%, #ee1010 100%);
    background: linear-gradient(45deg, #f23f3f 0%, #ee1010 100%);
}

.simple-widget.secondary .growth {
    background-color: #f23f3f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f78787), to(#f23f3f));
    background-image: -webkit-linear-gradient(top, #f78787, #f23f3f);
    background-image: -moz-linear-gradient(top, #f78787, #f23f3f);
    background-image: -ms-linear-gradient(top, #f78787, #f23f3f);
    background-image: -o-linear-gradient(top, #f78787, #f23f3f);
    background-image: linear-gradient(top, #f78787, #f23f3f);
}






.chat-list {
    padding: 0;
    font-size: 13px;
}

    .chat-list li {
        margin-bottom: 10px;
        overflow: auto;
        color: #ffffff;
    }

    .chat-list .chat-img {
        float: left;
        width: 48px;
    }

        .chat-list .chat-img img {
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            width: 100%;
        }

    .chat-list .chat-message {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        background: #2698e2;
        display: inline-block;
        padding: 10px 20px;
        position: relative;
    }

        .chat-list .chat-message:before {
            content: "";
            position: absolute;
            top: 15px;
            width: 0;
            height: 0;
        }

        .chat-list .chat-message h5 {
            margin: 0 0 5px 0;
            font-weight: 600;
            line-height: 100%;
        }

        .chat-list .chat-message p {
            line-height: 18px;
            padding-left: 15px;
        }

    .chat-list .chat-body {
        margin-left: 20px;
        float: left;
        width: 70%;
    }

    .chat-list .in .chat-message:before {
        left: -12px;
        border-bottom: 20px solid transparent;
        border-right: 20px solid #2698e2;
    }

    .chat-list .out .chat-img {
        float: right;
    }

    .chat-list .out .chat-body {
        float: right;
        margin-right: 20px;
        text-align: right;
    }

    .chat-list .out .chat-message {
        background: #ff863f;
    }

        .chat-list .out .chat-message p {
            padding-right: 15px;
        }

        .chat-list .out .chat-message:before {
            right: -12px;
            border-bottom: 20px solid transparent;
            border-left: 20px solid #ff863f;
        }




