@model Eduegate.Web.Library.ViewModels.SearchListViewModel

@{
    ViewBag.Title = "Report Viewer Index";

    if (Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest")
    {
        Layout = null;
    }

    Random rnd = new Random();
    var windowName = "window_" + rnd.Next().ToString();
    var reportName = ViewBag.ReportName;
}


<body>
    <div style="min-height: 950px;width: 100%;">
        <bold-report-viewer id="viewer" report-path="@reportName" report-service-url="/ReportViewer"></bold-report-viewer>
    </div>

    <bold-script-manager></bold-script-manager>
</body>