/* input(40,1): run-time error CSS1019: Unexpected token, found '@import'
input(40,9): run-time error CSS1019: Unexpected token, found 'url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap')' */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Thin.eot');
    src: url('../fonts/OpenSans.woff?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE') format('woff'), url('../fonts/OpenSans.ttf?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE') format('truetype'), url('../fonts/OpenSans.eot?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE&#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/OpenSans-Bold.eot?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE');
    src: url('../fonts/OpenSans-Bold.woff?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE') format('woff'), url('../fonts/OpenSans-Bold.ttf?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE') format('truetype'), url('../fonts/OpenSans-Bold.eot?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE&#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/OpenSans-Italic.eot?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE');
    src: url('../fonts/OpenSans-Italic.woff?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE') format('woff'), url('../fonts/OpenSans-Italic.ttf?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE') format('truetype'), url('../fonts/OpenSans-Italic.eot?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE&#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/OpenSans-Semibold.eot?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE');
    src: url('../fonts/OpenSans-Semibold.woff?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE') format('woff'), url('../fonts/OpenSans-Semibold.ttf?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE') format('truetype'), url('../fonts/OpenSans-Semibold.eot?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE&#iefix') format('embedded-opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/materialFont.woff2?v=kcQfC3zI1ANyoPwLCCQHKCRAJhE') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #333;
}

a {
    text-decoration: none;
}

    a:focus, a:active {
        outline: none;
    }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fullWidth {
    width: 100%;
}

.flexFull {
    display: flex;
    flex-direction: column;
}

.fullHeight {
    height: 100%;
}

.noMargin {
    margin: 0 !important;
}

.noMarginTop {
    margin-top: 0 !important;
}

.noMarginRight {
    margin-right: 0 !important;
}

.noMarginBtm {
    margin-bottom: 0 !important;
}

.noMarginLeft {
    margin-left: 0 !important;
}

.noPadding {
    padding: 0 !important;
}

.noPaddingRight {
    padding-right: 0 !important;
}

.noPaddingLeft {
    padding-left: 0 !important;
}

.noPaddingTop {
    padding-top: 0 !important;
}

.noPaddingBtm {
    padding-bottom: 0 !important;
}

.displaylineBlock {
    display: inline-block;
}

.displayBlock {
    display: block;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.relativePos {
    position: relative;
}

.absolutePos {
    position: absolute;
}

.fontNormal {
    font-weight: 400;
}

.fontBold {
    font-weight: 600;
}

.fontBolder {
    font-weight: 700;
}

.pointer {
    cursor: pointer;
}

.whiteBg {
    background: #fff;
}

.col-span-25 {
    width: 25%;
    display: inline-block;
}

.col-span-50 {
    width: 50%;
    display: inline-block;
}

.col-span-100 {
    width: 100%;
    display: inline-block;
}

.field-validation-error {
    display: inline-block;
    width: 100%;
    background: red;
    margin: 0 0 10px;
    padding: 5px;
    color: #fff !important;
    border-radius: 4px;
    text-align: left;
}

.w130 {
    width: 130px;
}

.downArrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #333;
    vertical-align: middle;
    display: inline-block;
}

.loginPage, .registerPage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: table;
    background: #ececec;
}

.loginWrap, .registerWrap {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.login, .register {
    float: left;
    background: #fff;
    box-shadow: 0 0px 15px -2px #afafaf;
}

    .register h2, .register h4 {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }

.twoColumn .column {
    float: left;
    width: 40%;
    height: 100%;
    position: relative;
}

    .twoColumn .column:nth-of-type(1) {
        background-color: #000;
        background: url("../img/loginPic.jpg?v=YjqTLMp2o2HAouFIyy-vljPW4UY") no-repeat center;
        background-size: cover;
        width: 60%;
    }

        .twoColumn .column:nth-of-type(1):after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.5;
        }

.headerTop {
    background: #fff;
    height: 64px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    max-width: 1300px;
    padding: 10px 10px;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-position: right center;
    text-decoration: none !important;
}

a:focus, a:hover {
    text-decoration: none !important;
}

.loginWrap .logo, .registerWrap .logo {
    width: 100%;
    text-align: center;
}

    .loginWrap .logo img, .registerWrap .logo img {
        max-width: 200px;
        display: block;
        margin: 0 auto;
    }

.formWrap {
    width: 60%;
    max-width: 450px;
}

.fieldWrapper {
    justify-content: center;
    align-items: center;
}

.inputFields input {
    max-width: inherit;
    outline: none !important
}

    .inputFields input[type="submit"] {
        background: #bd051c;
        border: none;
        color: #fff;
        outline: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        width: 100%;
        padding: 14px 8px;
        border-radius: 8px;
        box-shadow: 0 2px 7px 0px #e2e2e2;
    }

.fieldWrap {
    padding: 0 0 20px;
}
/*input[type="text"]:focus, .inputFields input[type="password"]:focus, .inputFields select:focus { border:1px solid #00b0e1; }*/
.validateError {
    color: red;
    font-size: 12px;
    position: relative;
    top: 5px;
}

.successMsg {
    background: #c1ffc1;
    border: 1px solid #7bff7b;
    border-radius: 8px;
    padding: 10px;
    color: #008000;
    margin: 0 0 20px;
    box-shadow: 0 2px 7px 0px #e2e2e2;
}

.tickIcon {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
    background: green;
    border-radius: 50%;
    float: left;
    vertical-align: middle;
    color: #fff;
    padding: 1px 5px;
    font-weight: bold;
    font-size: 12px;
}

    .tickIcon:before {
        content: '\2713';
        position: absolute;
        transform: rotate(8deg);
    }

.headerTop, .headerTop a {
    color: #000;
}

    .headerTop .logo {
        width: 160px;
    }

        .headerTop .logo img {
            max-width: 100%;
        }

.portalWrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

.pageContent {
    width: 100%;
    height: calc(100% - 122px);
    padding: 8px;
    background-color: #eceff1 !important;
}

.pageContentInner {
    overflow-y: auto;
    height: 100%;
}

.headerTopMenu {
    padding-top: 4px;
}

    .headerTopMenu ul {
        margin: 0;
        padding: 0;
    }

        .headerTopMenu ul li {
            margin: 0;
            padding: 0 4px 0 8px;
            display: inline-block;
            vertical-align: middle;
            border-left: 1px solid #ccc;
            position: relative;
        }

    .headerTopMenu li ul {
        display: none;
        position: absolute;
        top: 32px;
        right: -6px;
        width: 220px;
        background: #fff;
        box-shadow: 0 2px 4px 1px #7b7b7b;
        z-index: 1;
        padding: 6px;
    }

        .headerTopMenu li ul li.tooltippointer {
            position: absolute;
            width: 40px;
            height: 11px;
            right: 13px;
            top: -11px;
            overflow: hidden;
            padding: 0;
            background: transparent !important;
            z-index: 100;
            text-align: center;
        }

            .headerTopMenu li ul li.tooltippointer:before {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                background: #fff;
                transform: rotate(45deg);
                left: 50%;
                top: 5px;
                box-shadow: 0 1px 5px -1px #7b7b7b;
                margin: 0 0 0 -10px;
            }

        .headerTopMenu li ul li {
            background: #fff;
            border: none;
            width: 100%;
            padding: 5px 8px;
            font-weight: normal;
        }

            .headerTopMenu li ul li:hover {
                background: #c6f3ff;
            }

.settingIcon, .logoutIcon {
    width: 21px;
    height: 20px;
    background: url(../img/settings.png?v=YjqTLMp2o2HAouFIyy-vljPW4UY) no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.logoutIcon {
    background: url(../img/logout.png?v=YjqTLMp2o2HAouFIyy-vljPW4UY) no-repeat;
    background-size: cover;
    width: 17px;
    margin: 0 5px 0 0;
}

.headerTopMenu ul li:first-child {
    border-left: none;
}

.headerTopMenu ul li span.downArrow {
    margin: 0 0 0 4px;
}

.headerNavigation {
    /*background: linear-gradient( 45deg,#0288d1,#26c6da) !important;*/
    background: #bd051c !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 0px 28px 0px 13px;
    height: 64px;
}

.welcomeTitle {
    padding: 22px 12px;
    font-size: 18px;
    margin: 0;
    color: white;
}

ul.menunav {
    margin: 0;
    padding: 0;
}

    ul.menunav li {
        float: left;
        padding: 0;
        font-size: 14px;
        position: relative;
    }

        ul.menunav li a {
            display: block;
            padding: 22px 20px;
            color: #fff;
            text-decoration: none;
        }

        ul.menunav li:hover a, ul.menunav li.active a {
            transform: skew(20deg);
        }

.studentList {
    /* border-bottom: 5px solid #077d9d; */
    background: #fff;
    min-height: 120px;
    border-radius: .4rem;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    padding: 10px 10px;
    margin: 1px;
}

.applicationList .collection-item {
    width: 31% !important;
    height: 235px !important;
}

.secondary-content .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0px;
}

.inputFields input[type="submit"]:hover {
    color: #fff;
    background-color: #bd051c;
    border-color: #bd051c;
}

.card {
    box-shadow: none;
    background-color: #eceff1 !important;
}

.studentList img {
    max-width: 100%;
}

.candidateProfile {
    position: relative;
    padding: 23px 0 0 110px;
    height: 100%;
}

    .candidateProfile .name {
        display: block;
        font-size: 18px;
        color: #000;
    }

    .candidateProfile .division {
        font-size: 14px;
        color: #797878;
    }

    .candidateProfile .kidImage {
        position: absolute;
        left: 2px;
        top: 2px;
        width: 84px;
        height: 84px;
        border-radius: 50%;
        overflow: hidden;
    }

.kidImagesmall {
    display: inline-block;
    width: 50px;
    position: relative;
    height: 50px;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
}

.featuresTabfee {
}

/*.otherCandidates {
    padding: 10px 0 0;
    cursor:pointer;
}

    .otherCandidates .newChild {
        padding: 0 0 0 20px;
    }

        .otherCandidates .newChild span.kidImage {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 0;
            border-radius: 50%;
            overflow: hidden;
        }

        .otherCandidates .newChild span.name {
            display: block;
            text-align: center;
        }
*/

.featuresTab {
    background: #fff;
}

    .featuresTab:not(.subItemTab) {
        position: sticky;
        background-color: #eceff1;
        top: 0;
        z-index: 100;
    }

    .featuresTab.subItemTab ul {
        box-shadow: none !important;
        border: none;
    }

.featuresTabfee .featureContent.active {
    box-shadow: none !important;
}

.featuresTab.subItemTab {
    background: #fff;
    /*    border-bottom: 1px solid #039be5;*/
}

.tcButton {
    margin-right: 10px;
}

.kidImage img {
    max-width: 100%;
}

.featuretabUl {
    display: flex;
    justify-content: space-between;
}

.featuresTab ul {
    list-style: none;
    border-radius: .4rem .4rem 0 0;
    background-color: #fff;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

    .featuresTab ul li {
        float: left;
        font-size: 15px;
        cursor: pointer;
    }

        .featuresTab ul li span {
            float: left;
            padding: 14px 15px;
            min-width: 100px;
            text-align: center;
            color: rgba(0,0,0,.87);
        }


.featureContent .featuresTab ul {
    box-shadow: none;
    border-bottom: none;
}

.newApplation.col {
    background-color: #fff !important;
    border-radius: .4rem;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

    .newApplation.col .row {
        background-color: #fff !important;
        border-radius: .4rem;
    }

.card-stacked {
    padding-right: 10px;
}

.secondary-content {
    margin-top: 7px;
}

.alert-info {
    text-align: center;
}

.tcheader {
    box-shadow: none !important;
}

.kidImageborder {
    position: absolute;
    left: 0px;
    top: 0;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    width: 98px;
    border: 5px solid #f44336;
    height: 98px;
    border-radius: 50%;
    overflow: hidden;
}

.featuresTab.subItemTab ul li span {
    display: inline-block;
    font-weight: 400;
    margin: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #00b0e1;
    margin: 10px;
    border-color: #00b0e1;
}

.featuresTabData {
}

.featuresTab ul li:hover span {
    background-color: rgba(0,0,0,.1) !important;
    /*    color: #f44336;*/
}

.featuresTab ul li.active span {
    background-color: rgba(0,0,0,.05);
    color: #039be5;
    /*    border-bottom: 1px solid #000
*/
}

.featuresTab.subItemTab ul li {
    left: 8px;
    position: relative;
}

    .featuresTab.subItemTab ul li:hover span {
        color: #fff;
        background-color: #286090 !important;
        border-color: #ed0724;
    }

    .featuresTab.subItemTab ul li.active span {
        color: #fff;
        background: #00b0e1;
        background-image: none;
        background: #0084b4;
        border-color: #0084b4;
        box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
        outline: 0;
    }

.featureContent {
    display: none;
}

.aboutspan {
    padding: 14px 0px 0px 16px;
}

.featureContent.active {
    display: block;
    width: 100%;
    border-radius: 0 0 .4rem .4rem;
    /*border-radius: .4rem .4rem;*/
    margin-top: 0;
    background: #fff;
}


.gridListing .listRow:hover {
    background: #f6f6f6;
}

.gridListing .listRow {
    display: flex;
    border-top: 1px solid #e6e6e6;
}

    .gridListing .listRow:first-child {
        border-top: none;
    }

    .gridListing .listRow:nth-child(even) {
        background: #fbfbfb;
    }

    .gridListing .listRow > * {
        padding: 5px 5px;
        flex: 0 0 200px;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.25rem;
        font-weight: 400;
        letter-spacing: .0178571429em;
        text-decoration: inherit;
        text-transform: inherit;
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: normal;
        color: #666;
        padding-right: 27px;
        line-height: 3rem;
        padding-left: 16px;
        height: 40px;
        margin: 0;
        flex: auto;
        color: #333;
        font-weight: 600;
    }

input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid #4CAF50;
    border-radius: 4px 4px 0 0;
    transform: scale(var(--mdc-ripple-fg-scale, 1));
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 0 #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}

.alert-info {
    margin: 20px;
}

.gridListing .listRow label {
    flex: 0 0 200px;
    -moz-osx-font-smoothing: grayscale;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
    color: #666;
    padding-right: 27px;
    font-size: .875rem;
    line-height: 3rem;
    padding-left: 16px;
    height: 40px;
    margin: 0;
}

.threeColumn {
    float: left;
    width: 100%;
}

    .threeColumn .column {
        width: 33.33%;
        float: left;
        padding: 20px;
        border-left: 1px solid #f2f2f2;
        margin: 40px 0;
    }

.mainpadding {
    width: auto;
    height: 500px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    margin: calc(50vh - 290px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    position: relative;
    text-align: justify;
}

    .mainpadding h2 {
        font-size: 1.56rem;
    }

.preload-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,.42);
}

.preloadImg {
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.lds-spinner {
    color: #00b0e1;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
    }

        .lds-spinner div:after {
            content: " ";
            display: block;
            position: absolute;
            top: 15px;
            left: 38px;
            width: 4px;
            height: 11px;
            border-radius: 20%;
            background: #00b0e1;
        }

        .lds-spinner div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }

        .lds-spinner div:nth-child(2) {
            transform: rotate(30deg);
            animation-delay: -1s;
        }

        .lds-spinner div:nth-child(3) {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }

        .lds-spinner div:nth-child(4) {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }

        .lds-spinner div:nth-child(5) {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }

        .lds-spinner div:nth-child(6) {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }

        .lds-spinner div:nth-child(7) {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }

        .lds-spinner div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }

        .lds-spinner div:nth-child(9) {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }

        .lds-spinner div:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }

        .lds-spinner div:nth-child(11) {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }

        .lds-spinner div:nth-child(12) {
            transform: rotate(330deg);
            animation-delay: 0s;
        }

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes draw {
    0% {
        height: 0;
    }
}

/*Dashboad style starts*/


.mainContainer {
    display: flex;
    flex-flow: row wrap;
    height: calc(100vh - 120px);
    padding: 0;
}

.main-page {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0;
}

.DashbaordWindow .main-page > div {
    display: inline-block;
    vertical-align: top;
    color: black;
    padding: 5px 6px 8px;
}

.dboard_columns {
    padding: 5px;
}

    .dboard_columns .widget {
        margin: 0;
        padding: 12px;
        background: #fff;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

        .dboard_columns .widget:hover {
            /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
            box-shadow: 2px 6px 12px 0px #adabab;
        }

.statusTitle {
    color: #333;
    padding: 0px 0 10px;
    border-bottom: 1px solid;
    margin: 0 0 12px;
}

    .statusTitle h5 {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

.statusfield {
    display: inline-block;
    width: 100%;
    padding: 0 0 8px;
    position: relative;
}

    .statusfield h4 {
        float: left;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .statusfield label {
        position: absolute;
        right: 0;
        top: -2px;
        font-size: 16px;
        margin-bottom: 0;
    }

.dboard_columns:nth-of-type(1) .card .statusTitle {
    border-bottom-color: #05ceff;
    color: #05ceff
}

.dboard_columns:nth-of-type(1) .card .statusfield label {
    color: #05ceff;
}

.dboard_columns:nth-of-type(2) .card .statusTitle {
    border-bottom-color: #fd2f16;
    color: #fd2f16;
}

.dboard_columns:nth-of-type(2) .card .statusfield label {
    color: #fd2f16;
}

.dboard_columns:nth-of-type(3) .card .statusTitle {
    border-bottom-color: #00e27b;
    color: #00e27b;
}

.dboard_columns:nth-of-type(3) .card .statusfield label {
    color: #00e27b;
}

.dboard_columns:nth-of-type(4) .card .statusTitle {
    border-bottom-color: #ffac15;
    color: #ffac15;
}

.dboard_columns:nth-of-type(4) .card .statusfield label {
    color: #ffac15;
}

.setHorizontalScroll {
    overflow-y: hidden !important;
}

    .setHorizontalScroll::-webkit-scrollbar {
        display: block;
        height: 10px !important;
    }

    .setHorizontalScroll::-webkit-scrollbar-track {
        background-color: #e6e6e6 !important;
        box-shadow: none !important;
    }

    .setHorizontalScroll::-webkit-scrollbar-thumb {
        background: #999999 !important;
    }

.setVerticalScroll {
    overflow-x: hidden !important;
}

    .setVerticalScroll::-webkit-scrollbar {
        display: block;
        width: 8px !important;
    }

    .setVerticalScroll::-webkit-scrollbar-track {
        background-color: #e6e6e6 !important;
        box-shadow: none !important;
    }

    .setVerticalScroll::-webkit-scrollbar-thumb {
        background: #027190 !important;
        border-radius: 6px;
    }

.setDoubleScroll {
    overflow: auto !important;
}

    .setDoubleScroll::-webkit-scrollbar {
        display: block;
        width: 10px !important;
        height: 10px !important;
    }

    .setDoubleScroll::-webkit-scrollbar-track {
        background-color: #e6e6e6 !important;
        box-shadow: none !important;
    }

    .setDoubleScroll::-webkit-scrollbar-thumb {
        background: #999999 !important;
    }

div.main-page div.charts-grids.widget {
    height: 27vw;
    width: 100%;
}

#bar {
    width: 100% !important;
    height: 80% !important;
}

/*Dashboad style ends*/

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

i.material-icons.left {
    margin-right: 8px;
    line-height: 36px;
}

.datepicker-date-display {
    background: #00b0e1;
}

.btn, .btn-large, .btn-small {
    background: #bd051c;
    height: 36px;
    border-radius: 8px;
}

    .btn:hover, .btn-large:hover, .btn-small:hover {
        background-color: #ed0724;
    }

.waves-effect {
    background-size: 200% auto;
}

.gridstatus {
    width: auto !important;
    display: inline-block !important;
    padding: 3px 8px;
    color: #fff !important;
    background-color: #337ab7;
    margin-top: 5px;
    border-radius: 3px;
    min-width: 80px;
    box-shadow: 0 1px 2px #848181;
    -webkit-box-shadow: 0 1px 2px #848181;
    text-align: center !important;
    text-decoration: none !important;
}

.btn a, .btn-large a, .btn-small a, a.btn, a.btn-large, a.btn-small {
    color: #fff !important;
    text-decoration: none;
    line-height: 37px;
}

.input-field > label {
    font-size: 0.9rem;
    font-weight: normal;
    color: #666;
}

.input-field .select-wrapper .caret {
    top: -18px;
    right: 5px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default),
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    height: 45px;
    border-bottom: 1px solid rgba(0,0,0,.42);
    border-radius: 4px 4px 0 0;
    transform: scale(var(--mdc-ripple-fg-scale, 1));
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 0 rgb(0 0 0 / 42%);
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 42%);
    padding-left: 10px;
}

.dropdown-content {
    top: 3.6rem !important;
}

.select-wrapper + label {
    position: relative;
    top: -120px;
    font-size: .8rem;
}

.input-field.col label {
    padding-left: 10px;
}

.newApplation form {
    padding: 15px 30px;
}

.datepicker-modal {
    bottom: auto;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done,
.dropdown-content li > a, .dropdown-content li > span {
    color: rgba(0,0,0,0.87);
}

.card .card-content.btnContainer {
    padding: 10px 0;
    text-align: right;
}

ul.applicationList li {
    font-size: 14px;
    position: relative;
}

    ul.applicationList li span.secondary-content {
        position: absolute;
        right: 15px;
        top: 10px;
    }

.pad15 {
    padding: 0px 15px;
}

.studentdetailwrap {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    margin: 1px auto;
}

i.small {
    font-size: 1.5em;
}

ul.applicationList li .material-icons {
    color: #00b0e1;
    cursor: pointer;
}

.formTitle span {
    display: inline-block;
    width: 100%;
    padding: 0 0 10px;
    border-bottom: 1px solid #666;
    font-size: 15px;
    color: #666;
    margin: 0 0 25px;
    font-weight: bold;
}

table.grid {
    table-layout: fixed;
}

    table.grid tr {
        border: 1px solid #dee2e6;
    }

        table.grid tr th {
            font-weight: 600;
            border: 1px solid #dee2e6;
            padding: 16px;
            border-bottom: 2px solid #dee2e6;
            color: #616161;
            background-color: #ffffff;
            padding: 10px;
            font-size: 14px;
            /* border: 1px solid #eee; */
            height: 56px;
            /* background: #eaeaea; */
            border-radius: 0;
        }

.collection {
    border: none;
}

table.grid tr td {
    padding: 8px 10px;
    color: #424242;
    border: 1px solid #eee;
}

.circle {
    border-radius: 50%;
}

.collection .collection-item span {
    line-height: 20px;
}

.teacherImagesmall {
    display: block;
    width: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
}

ul.menunav li:hover, ul.menunav li.active {
    background: #bd051c;
    transform: skew(-20deg);
}

.welcomeTitlewrap {
}

.collection .collection-item {
    /* background-color: #fff; */
    /* line-height: 1.5rem; */
    background: #fff;
    list-style: none;
    width: 250px;
    display: inline-block;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    /* height: 150px;*/
    border-radius: .4rem;
    vertical-align: top;
    margin: 10px;
    padding: 11px;
    /* padding: 10px 20px; */
    /* margin: 0; */
    /* border-bottom: 1px solid #e0e0e0; */
}

/*table.grid tbody > tr:not(.toggleGrid):nth-of-type(even) {
    background-color: rgba(0,0,0,.05);
}*/
.hours th {
    padding: 0;
}

.gridBtn {
    display: inline-block;
    background: #00b0e1;
    color: #fff;
    padding: 6px 10px;
}

    .gridBtn:hover, .gridBtn.active {
        background: #bd051c;
    }

.totalAmount {
    padding: 8px 10px;
    color: #666;
    font-size: 14px;
    font-weight: 600;
}

    .totalAmount > div.label {
        color: #999;
        font-weight: 600;
        font-size: 100%;
        padding: 0;
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}


    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        -webkit-clip-path: none;
        clip-path: none;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
        white-space: inherit;
    }

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    .twoColumn .column {
        width: auto;
    }

        .twoColumn .column:nth-of-type(1) {
            width: auto;
        }


    @media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
    }

    /* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

    @media print {
        *,
        *:before,
        *:after {
            background: transparent !important;
            color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a,
        a:visited {
            text-decoration: underline;
        }

            a[href]:after {
                content: " (" attr(href) ")";
            }

        abbr[title]:after {
            content: " (" attr(title) ")";
        }

        /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

        a[href^="#"]:after,
        a[href^="javascript:"]:after {
            content: "";
        }

        pre {
            white-space: pre-wrap !important;
        }

        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }

        /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

        thead {
            display: table-header-group;
        }

        tr,
        img {
            page-break-inside: avoid;
        }

        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .currSign {
        /*    font-size: .8rem;*/
        font-weight: bold;
        background-color: white;
        padding: .2rem .5rem;
        /* / border-top: 1rem solid black;
    / / border-bottom: 1rem solid black;
    / / border-right: 1rem solid black;
    /*/
    }

        .currSign:before {
            /*        font-size: .8rem;*/
            content: 'QAR';
            padding-right: .1rem;
            background-color: #00b0e1;
            padding: .2rem .5rem;
            color: white;
            margin-right: .2rem;
            font-weight: bold;
            /* / border-left: 1rem solid #630332;
        /*/
        }

    /*==========================================================================
   Payment gateway related
   ==========================================================================*/

    .paymentRedirect {
        align-items: center;
        justify-content: center;
        background: url("../img/login_bg.png") no-repeat bottom center;
    }

    .paymentRedirectInner {
        text-align: center;
        display: flex;
        width: 100%;
        padding: 20px;
        flex-flow: column;
        align-items: center;
    }

    .paymentMsgInner .tabData {
        margin-bottom: 0;
        padding: 50px 20px 15px;
        min-height: 260px;
        background: #fff;
    }

        .paymentMsgInner .tabData:before {
            background: transparent;
        }

    .paymentLoader {
        width: 150%;
        height: 50%;
        position: absolute;
        z-index: 1;
        background: #ff6b33;
        animation: spin 2s linear infinite;
        margin-top: 0;
        overflow: hidden;
        left: -25%;
        top: 25%;
    }

        .paymentLoader:after {
            content: "";
            width: 50%;
            top: 0;
            left: 0;
            height: 100%;
            background: #fff;
            position: absolute;
        }

        .paymentLoader.frontPanel {
            display: none;
        }
}
