@{
    ViewBag.Title = "Event Details";
}

<div ng-controller="SignupController" ng-init="Init('event')">

    <!--begin::Wrapper container-->
    <div class="app-container  container-xxl ">

        <!--begin::Main-->
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
            <!--begin::Content wrapper-->
            <div class="d-flex flex-column flex-column-fluid">


                <!--begin::Content-->
                <div id="kt_app_content" class="app-content  flex-column-fluid ">

                    <!--begin::Row-->
                    <div class="row g-5 g-xl-8">
                        
                        <!--begin::Col-->
                        <div class="col-xl-8 ps-xl-12">

                            <div class="row mb-5 mb-xl-8 g-5 g-xl-8">
                                <div class="col-3">
                                    <!--begin::Card-->
                                    <div class="card ">
                                        <!--begin::Link-->
                                        <a class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10">
                                            <i class="ki-outline ki-technology-2 fs-2tx mb-5 ms-n1"></i>
                                            <span class="fs-4 fw-bold">
                                                Events
                                            </span>
                                        </a>
                                        <!--end::Link-->
                                    </div>
                                    <!--end::Card-->
                                </div>
                                <!--end::Col-->

                            </div>
                            <!--end::Misc Widget 1-->

                            <!--begin::Tables Widget 5-->
                            <div class="card mb-5 mb-xl-8">

                                <!--begin::Body-->
                                <div class="card-body py-3">
                                    <div class="tab-content">

                                        <!--begin::Tap pane-->
                                        <div class="tab-pane fade show active" id="kt_table_widget_5_tab_1" role="tabpanel">
                                            <!--begin::Table container-->
                                            <div class="table-responsive">
                                                <!--begin::Table-->

                                                <table id="datatable_complex_header" class="table table-row-bordered table-column-bordered table-row-gray-200 align-start gs-0 gy-4">
                                                    <!--begin::Table head-->
                                                    <thead>
                                                        <tr class="fw-bold fs-6 text-gray-800 px-7">
                                                            <th>SI No.</th>
                                                            <th class="text-start">Signup Group Name</th>
                                                            <th class="text-start">From Date</th>
                                                            <th class="text-start">To Date</th>
                                                            <th class="text-start">Due Date</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>

                                                    <!--end::Table head-->
                                                    <!--begin::Table body-->
                                                    <tbody ng-repeat="group in SignUpGroupDetails">
                                                        <tr>
                                                            <td>
                                                                <span ng-bind="$index+1"></span>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="text-dark fw-bold text-hover-primary mb-1 fs-6">
                                                                    <span ng-bind="group.GroupTitle"></span>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <span ng-bind="group.FromDateString"></span>
                                                            </td>
                                                            <td>
                                                                <span ng-bind="group.ToDateString"></span>
                                                            </td>
                                                            <td>
                                                                <span ng-bind="group.DueDateString"></span>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-primary btn-sm" ng-click="GroupViewClick(group)">View</button>
                                                            </td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                    <!--end::Table body-->
                                                </table>
                                            </div>
                                            <!--end::Table-->
                                        </div>                                        
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Tables Widget 5-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Content-->
            </div>
        </div>
        <!--end:::Main-->


    </div>
    <!--end::Wrapper container-->
</div>