
@{
    ViewBag.Title = "CategoryPrice";
}

<div class="pos-options">
    <div class="order-details">
        <div>
            <label>Category</label>
            <span id="spanCategoryName" class="inputwrap">
                <ui-select ng-model="CategoryPrice" theme="select2" style="width:400px;height:26px;" ng-change="SelectItemFromSelect2Ctrl(CategoryPrice, $select, 'category');">
                    <ui-select-match placeholder="Select Category">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="categoryPrice in Categories | filter:$select.search">{{categoryPrice.Value}}</ui-select-choices>
                </ui-select>
            </span>
        </div>
    </div>
</div>

<div class="panel-body">
    <table class="listing tablegrid" border="0">
        <thead>
            <tr>
                <th class="textleft">Category ID</th>
                <th class="textleft">Category Name</th>
                <th></th>
            </tr>
        </thead>


        <tbody>
            <tr class="toggleparentrow" ng-repeat="categoryPrice in ProductPriceModel.CategoryPrice">
                <td colspan="3" class="nopadding">
                    <table cellpadding="0" cellspacing="0" class="listing tablegrid">
                        <tr>
                            <td ng-click="RowSelect($event, $index,'category');" class="textleft">{{categoryPrice.CategoryID}}</td>
                            <td ng-click="RowSelect($event, $index,'category');" class="textleft">{{categoryPrice.CategoryName}}</td>
                            <td class="textright">
                                <i class="fa fa-trash delete" title="delete" ng-click="RemoveSKUItem(categoryPrice.ProductPriceListItemMapIID,categoryPrice.CategoryID);"></i>
                            </td>
                        </tr>
                        <tr ng-show="$index == CategoryRowIndex">
                            <td colspan="3">
                                <div class="priceinfo-details">
                                    <div class="membergroup alignleft">
                                        <div class="summary-toggle">
                                            <div class="sum_toggleheader" ng-click="ToggleGroup($event)">Category level</div>
                                            <div class="sum_togglecontent alignleft fullwidth">
                                                <div class="fullwidth alignleft">
                                                    <table class="data-grid" cellpadding="0" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th>Price</th>
                                                                <th>Percentage</th>
                                                                <th class="small-col-width last"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><input type="text" ng-model="categoryPrice.Price" ng-disabled="categoryPrice.QuantityPrice.length > 0" /></td>
                                                                <td><input type="text" ng-model="categoryPrice.PricePercentage" ng-disabled="categoryPrice.QuantityPrice.length > 0" /></td>
                                                                <td class="medium-col-width last textcenter"> <span class="quantity-btn button-orange" ng-click="ToggleQuantity($event,$index, ModelQuantityStructure , categoryPrice.QuantityPrice)">Quantity Price</span></td>
                                                            </tr>
                                                            <tr class="quantity-toggle">
                                                                <td colspan="3" class="nopadding">
                                                                    <div class="quantity-fieldswrap fullwidth alignleft">
                                                                        <table class="quantityfields fullwidth">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Quantity</th>
                                                                                    <th>Price</th>
                                                                                    <th>Percentage</th>
                                                                                    <th class="medium-col-width"></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="quantity in categoryPrice.QuantityPrice">
                                                                                    <td><input type="text" /></td>
                                                                                    <td><input type="text" /></td>
                                                                                    <td><input type="text" /></td>
                                                                                    <td class="medium-col-width textcenter">
                                                                                        <span class="button-orange qtybtn" ng-click="InsertGridRow($index, ModelQuantityStructure , categoryPrice.QuantityPrice)"><i class="fa fa-plus"></i> </span>
                                                                                        <span class="button-orange qtybtn" ng-click="RemoveGridRow($index, ModelQuantityStructure , categoryPrice.QuantityPrice)"><i class="fa fa-minus"></i></span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="membergroup alignright">
                                        <div class="summary-toggle">
                                            <div class="sum_toggleheader" ng-click="ToggleGroup($event)">Customer Groups(for multi pricing)</div>
                                            <div class="sum_togglecontent alignleft fullwidth">
                                                <div class="fullwidth alignleft">
                                                    <div class="innertoggle" ng-repeat="group in categoryPrice.CustomerGroups">
                                                        <div class="sum_innerheader" ng-bind="group.GroupName" ng-click="ToggleInnerGroup($event)"></div>
                                                        <div class="sum_innercontent alignleft fullwidth">
                                                            <table class="data-grid" cellpadding="0" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Price</th>
                                                                        <th>Percentage</th>
                                                                        <th class="small-col-width last"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><input type="text" ng-model="group.Price" ng-disabled="group.QuantityPrice.length > 0" /></td>
                                                                        <td><input type="text" ng-model="group.PricePercentage" ng-disabled="group.QuantityPrice.length > 0" /></td>
                                                                        <td class="small-col-width last textcenter"> <span class="quantity-btn button-orange" ng-click="ToggleQuantity($event, $index, ModelQuantityStructure , group.QuantityPrice)">Quantity Price</span></td>
                                                                    </tr>
                                                                    <tr class="quantity-toggle">
                                                                        <td colspan="3" class="nopadding">
                                                                            <div class="quantity-fieldswrap fullwidth alignleft">
                                                                                <table class="quantityfields fullwidth">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Quantity</th>
                                                                                            <th>Price</th>
                                                                                            <th>Percentage</th>
                                                                                            <th class="medium-col-width"></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr ng-repeat="quantity in group.QuantityPrice">
                                                                                            <td><input type="text" /></td>
                                                                                            <td><input type="text" /></td>
                                                                                            <td><input type="text" /></td>
                                                                                            <td class="medium-col-width textcenter">
                                                                                                <span class="button-orange qtybtn" ng-click="InsertGridRow($index, ModelQuantityStructure , group.QuantityPrice)"><i class="fa fa-plus"></i> </span>
                                                                                                <span class="button-orange qtybtn" ng-click="RemoveGridRow($index, ModelQuantityStructure , group.QuantityPrice)"><i class="fa fa-minus"></i></span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>
        </tbody>
    </table>
</div>

