<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbEduegateIntegrationDbContext" connectionString="Data Source=20.205.112.183;Initial Catalog=BMS_PEARL;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateDbContext" connectionString="Data Source=20.205.112.183;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=20.205.112.183;Initial Catalog=EduEgate_2022;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  
  <appSettings>
    <add key="Client" value="mograsys" />
  </appSettings>
</configuration>