@model Eduegate.Web.Library.ViewModels.CKEditiorViewModel
<div class="richtexteditor" data-popup-type="editor" ng-controller="CKEditorController" ng-init="Init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <div class="popup-wrap">
        <div class="texteditwrapper" id="editor" angularckeditor ng-model="Model.HtmlText"></div>
        <input id="apply" class="button-orange alignright" type="submit" value="Apply" ng-click="Apply($event)" />
        <input class="button-orange alignright cancel" type="submit" value="Cancel" ng-click="Close()" />
    </div>
    <input type="hidden" id="richtext" ng-model="Model.HtmlText" />
</div>