

<div class="popup commentbox" style="margin-top: -170px; margin-left: -129.5px; display: none;">
    <form action="" method="get" name="comment">
        <div class="popup-wrap">
            <span class="close">X</span>
            <label>Enter Comments</label>
            <textarea name="comment_box"></textarea>
            <input class="button-orange" type="submit" value="Save">
        </div>
    </form>
</div><!--commentbox-->
