@model Eduegate.ERP.School.PortalCore.Views.Shared.QpayResponseOLDModel
@{
    ViewBag.Title = "QPAYResponse";
    var QPAYResponse = ViewBag.QPAYResponse as Eduegate.Web.Library.ViewModels.Payment.QPAYResponseViewModel;

}

<html>
<head>
    <title>API Response</title>
</head>
<body>
    <h1> Response</h1>  
    <p>ErrorMessage: @QPAYResponse.ErrorMessage</p>
    <p>InnerErrorMessage: @QPAYResponse.InnerErrorMessage</p>  
    <p>StackTrace: @QPAYResponse.StackTrace</p>
    
   
</body>
</html>