<div ng-controller="SmartTreeLaunchViewController" ng-init="init()">
    <!--smartview section starts-->
    <!--smartviewTab-->
    <div class="smartviewTab">
        <div class="panelTitle">
            <span> {{SelectedSmartTree.Title}}</span>
            <button class="close-pin" ng-click="PinnedSmartView($event)"><i class="pin fa"></i></button>
            <span class="smartview_close" ng-click="Close()">x</span>
        </div>

        <!--content based on smartview starts-->
        <div class="smartViewInner" ng-repeat="tree in SmartTree" data-tab="smartViewTab_{{tree.TreeID}}">
           
        </div>     
        <!--content based on smartview ends-->
    </div>
    <!--smartviewTab-->

    <div class="smartViewTabMenu" ng-if="SmartTree.length > 0">
        <ul class="tabMenu">
            <li class="tabmenuItem" data-tab="smartViewTab_{{tree.TreeID}}" ng-repeat="tree in SmartTree" ng-click="SetTreeView(tree)">
                <span ng-bind="tree.Title"></span>
                <span class="menu-close" ng-click="Close()">x</span>
            </li>
        </ul>
    </div>
    <!--smartViewTreeMenu-->
    <!--smartview section ends-->
</div>