@using Eduegate.Services.Contracts.Enums

<div class="summary-toggle" ng-controller="TransactionStatusController as ts">
    
    <div class="sum_toggleheader" ng-click="ts.getJobOperationStatusByJobStatus(ViewModels.@(DynamicViews.Transaction));">Statuses</div>

    @*<div class="sum_togglecontent">
        <span id="spanJobStatusList" class="inputwrap">Job Status 
            <select ng-model="ViewModels.@(DynamicViews.Transaction).JobStatus">
                <i class="fa fa-caret-down"></i>
                <option ng-disabled="true" ng-repeat="data in ts.JobStatuses" value={{data.Key}} ng-selected="ViewModels.@(DynamicViews.Transaction).JobStatus == data.Key">{{data.Value}}</option>
            </select>
        </span>
    </div>*@
    
    <div class="sum_togglecontent">
        <span id="spanJobStatusList" class="inputwrap">
            Status: 
            <span ng-bind="ViewModels.@(DynamicViews.Transaction).JobStatusName"></span>
        </span>
    </div>

    <div class="sum_togglecontent">
        <span id="spanJobOperationStatusList" class="inputwrap">Action
            <select ng-model="ViewModels.@(DynamicViews.Transaction).JobOperationStatus">
                <i class="fa fa-caret-down"></i>
                <option ng-repeat="data in ts.JobOperationStatuses" value={{data.Key}} ng-selected="ViewModels.@(DynamicViews.Transaction).JobOperationStatus == data.Key">{{data.Value}}</option>
            </select>
        </span>
    </div>

    <div class="sum_togglecontent">
        <input type="button" value="Save" class="button-orange" ng-click="ts.updateJobStatus(ViewModels.@(DynamicViews.Transaction));" />
    </div>

</div>









