<div class="glb-msg-alert stickmsg">
    <div ng-class="{'success-msg' : $root.IsGlobalError == false, 'error-msg' : $root.IsGlobalError == true }" class="msg">
        <div ng-class="{'success-msginner' : $root.IsGlobalError == false, 'error-msginner' : $root.IsGlobalError == true }">
            <span ng-bind="$root.GlobalMessage"></span>
            @*<span class="msg-close"></span>*@
        </div>
    </div>
</div>

