<!DOCTYPE html>
<html ng-app="Eduegate.Signup.Portal">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eduegate.Signup</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/styles-gray.css" asp-append-version="true" />
    <link href="~/Content/dashboard/dashboard.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Content/dashboard/docs.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Content/dashboard/style.bundle.css" rel="stylesheet" asp-append-version="true" />
    @* <link href="~/Content/datatables.bundle.css" rel="stylesheet" asp-append-version="true" /> *@
    <link href="~/Content/fullcalendar.bundle.css" rel="stylesheet" asp-append-version="true" />

    <script src="~/Scripts/jquery-3.4.1.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js" asp-append-version="true"></script>
    <script src="~/Scripts/draggable/draggable.bundle.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.custom.js" asp-append-version="true"></script>
    <script src="~/app/CustomValidation.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js" asp-append-version="true"></script>
    @* <script src="~/Scripts/bootstrap.js" asp-append-version="true"></script> *@
    <script src="~/Scripts/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/respond.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-route.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-animate.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-sanitize.js" asp-append-version="true"></script>
    <script src="~/Scripts/i18n/angular-locale_en.js" asp-append-version="true"></script>
    <script src="~/Scripts/tmhDynamicLocale.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-filter.min.js" asp-append-version="true"></script>

    <script src="~/app/app.js" asp-append-version="true"></script>
    <script src="~/app/CustomValidation.js" asp-append-version="true"></script>
    <script src="~/app/print.min.js" asp-append-version="true"></script>
    <script src="~/app/ReportController.js" asp-append-version="true"></script>
    <script src="~/app/schedule.js" asp-append-version="true"></script>
    <script src="~/app/util.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/Scripts/Chart.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/Scripts/datatables.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/Scripts/fullcalendar.bundle.js" asp-append-version="true"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" asp-append-version="true" />

    <script src="~/app/utility.js" asp-append-version="true"></script>

    <script src="~/Scripts/anime.min.js" asp-append-version="true"></script>

    <script src="~/Scripts/Custom.js"></script>

    <script src="~/app/Controller/LayoutController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/LayoutHeaderController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/login-controller.js" asp-append-version="true"></script>
    <script src="~/app/Controller/ResetController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/SignupController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/MeetingRequestListController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/MeetingRequestController.js" asp-append-version="true"></script>

    <script src="~/Scripts/moment.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-moment.min.js" asp-append-version="true"></script>

    @* <script src="~/Scripts/site.js" asp-append-version="true"></script> *@
    @*<script src="~/Content/dashboard/dashboard.js" asp-append-version="true"></script>*@
    @* <script src="~/Scripts/Custom.js"></script> *@

</head>
<body ng-controller="LayoutHeaderController">
    <div class="d-flex flex-column flex-root">
        <div class="docs-page d-flex flex-row flex-column-fluid">
            <div id="kt_docs_aside" class="docs-aside" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_docs_aside_toggle" style="">
                <!--begin::Logo-->
                <div class="docs-aside-logo flex-column-auto h-75px">
                    <a>
                        <img alt="Logo" src="~/img/PODARLOGO-01.png" class="h-35px">
                    </a>
                </div>
                @await Html.PartialAsync("~/Views/Shared/_GlobalInfoMessage.cshtml")
                <div class="docs-aside-menu flex-column-fluid">
                    <div class="hover-scroll-overlay-y mt-5 mb-5 mt-lg-0 mb-lg-5 pe-lg-n2 me-lg-2" id="kt_docs_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_docs_aside_logo" data-kt-scroll-wrappers="#kt_docs_aside_menu" data-kt-scroll-offset="10px" style="height: 668px;">
                        <!--begin::Menu-->
                        <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_docs_aside_menu" data-kt-menu="true">
                            @* <div class="menu-item">
                            <h4 class="menu-content text-muted mb-0 fs-7 text-uppercase">Getting Started</h4>
                            </div> *@
                            <div class="menu-item">
                                <a class="menu-link" href="~/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                        <path d="M7.32287 0H1.38537C0.621437 0 0 0.621437 0 1.38537V4.94787C0 5.71194 0.621437 6.33338 1.38537 6.33338H7.32287C8.08694 6.33338 8.70838 5.71194 8.70838 4.94787V1.38537C8.70838 0.621437 8.08694 0 7.32287 0Z" fill="#8964D8" />
                                        <path d="M7.32287 7.91663H1.38537C0.621437 7.91663 0 8.53806 0 9.30214V17.6146C0 18.3786 0.621437 19 1.38537 19H7.32287C8.08694 19 8.70838 18.3786 8.70838 17.6146V9.30214C8.70838 8.53806 8.08694 7.91663 7.32287 7.91663Z" fill="#8964D8" />
                                        <path d="M17.6145 12.6666H11.677C10.9129 12.6666 10.2915 13.2881 10.2915 14.0521V17.6146C10.2915 18.3786 10.9129 19 11.677 19H17.6145C18.3784 19 18.9999 18.3786 18.9999 17.6146V14.0521C18.9999 13.2881 18.3784 12.6666 17.6145 12.6666Z" fill="#8964D8" />
                                        <path d="M17.6145 0H11.677C10.9129 0 10.2915 0.621437 10.2915 1.38537V9.69787C10.2915 10.4619 10.9129 11.0834 11.677 11.0834H17.6145C18.3784 11.0834 18.9999 10.4619 18.9999 9.69787V1.38537C18.9999 0.621437 18.3784 0 17.6145 0Z" fill="#8964D8" />
                                    </svg>
                                    &ensp; Home
                                </a>
                            </div>
                            @* <div class="menu-item">
                            <a class="menu-link py-2" href="#" ng-click="EventsTabClick()">
                            <span class="menu-title">Events</span>
                            </a>
                            </div> *@
                            <div class="menu-item">
                                <a class="menu-link" href="#" ng-click="MeetingRequestTabClick()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="18" viewBox="0 0 21 18" fill="none">
                                        <path d="M10.8036 10.832C13.3425 9.13831 14.0278 5.70694 12.3341 3.16781C10.6403 0.628849 7.20912 -0.0564002 4.67016 1.63726C2.13105 3.33107 1.4458 6.76229 3.13945 9.30141C3.54384 9.90751 4.06406 10.4276 4.67016 10.832C1.93558 11.4857 0.00480653 13.9278 0 16.7395C0 17.0447 0.247375 17.2922 0.552588 17.2922H14.921C15.2262 17.2922 15.4738 17.0449 15.4738 16.7395C15.4688 13.9278 13.5382 11.4857 10.8036 10.832ZM3.31585 6.2395C3.31585 3.79795 5.29517 1.81846 7.73688 1.81846C10.1784 1.81846 12.1579 3.79795 12.1579 6.2395C12.1579 8.68121 10.1786 10.6605 7.73688 10.6605C5.29629 10.6578 3.31857 8.68009 3.31585 6.2395ZM1.1361 16.1869C1.42032 13.671 3.54704 11.7689 6.07895 11.7659H9.39464C11.9266 11.7689 14.0533 13.671 14.3377 16.1869H1.1361Z" fill="#515151" />
                                        <path d="M20.4474 8.45002H18.7895V6.79225C18.7895 6.48704 18.5421 6.2395 18.2369 6.2395C17.9315 6.2395 17.6841 6.48688 17.6841 6.79225V8.45002H16.0262C15.721 8.45002 15.4736 8.69756 15.4736 9.00277C15.4736 9.30798 15.721 9.55536 16.0262 9.55536H17.6841V11.2133C17.6841 11.5185 17.9315 11.7659 18.2369 11.7659C18.5421 11.7659 18.7895 11.5185 18.7895 11.2133V9.55536H20.4474C20.7526 9.55536 21 9.30798 21 9.00277C21 8.69756 20.7526 8.45002 20.4474 8.45002Z" fill="#515151" />
                                    </svg>
                                    &ensp; Meeting Requests
                                </a>
                            </div>
                            @* <div class="menu-item">
                            <a class="menu-link py-2" href="#" ng-click="ConferenceTabClick()">
                            <span class="menu-title">Conferences</span>
                            </a>
                            </div> *@
                            <div class="menu-item">
                                <a class="menu-link" ng-click="Signout()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right svgMenulink" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                    </svg>
                                    &ensp; Log out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="docs-wrapper d-flex flex-column flex-row-fluid">
                <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
                    <!--begin::Page-->
                    <div class="app-page  flex-column flex-column-fluid " id="kt_app_page">
                        <div class="app-wrapper  flex-column flex-row-fluid " id="kt_app_wrapper">
                            <!--begin::Toolbar-->
                            <div id="kt_app_toolbar" class="app-toolbar  py-6 ">

                                <!--begin::Toolbar container-->
                                <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex align-items-start ">
                                    <!--begin::Toolbar container-->
                                    <div class="d-flex flex-column flex-row-fluid">
                                        <!--begin::Toolbar wrapper-->
                                        <div class="d-flex align-items-center pt-1">

                                            <!--begin::Breadcrumb-->
                                            <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
                                            </ul>
                                            <!--end::Breadcrumb-->

                                        </div>
                                        <!--end::Toolbar wrapper--->
                                        <!--begin::Toolbar wrapper--->
                                        <div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-4 gap-lg-10 pt-13 pb-6">

                                            <!--begin::Stats-->
                                            <div class="d-flex align-self-center flex-center flex-shrink-0">
                                            </div>
                                            <!--end::Stats-->
                                        </div>
                                        <!--end::Toolbar wrapper--->
                                    </div>
                                    <!--end::Toolbar container--->
                                </div>
                                <!--end::Toolbar container-->
                            </div>
                            <!--end::Toolbar-->
                            @RenderBody()
                            @RenderSection("Scripts", required: false)
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Page-->
                </div>
                <div class="py-4 d-flex flex-lg-column py-6">
                    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted fw-bold me-1">2022©</span>
                            <a class="text-gray-800 text-hover-primary">pearl school</a>
                        </div>
                        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1 align-items-center mb-3 mb-md-0">
                            <li class="menu-item">
                                <a class="menu-link px-3">
                                    @*<img class="h-20px">*@
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
