
@{
    Layout = "~/Views/Shared/_LayoutPayment.cshtml";
    ViewBag.Title = "Fail Payment";
}

<div class="d-flex flex-column align-items-center justify-content-center py-5 bg-light" style="flex:1;" ng-controller="PaymentGatewayStatusController" ng-init="Init('Fail')">
    <section class="home-section-wrap">
        <div class="container">
            <div class="row row-eq-height">
                <div class="p-md-sm-0  fontawesome-demo">
                    <div class="container-custom container-xxl d-flex flex-column-fluid  p-md-sm-0">
                        <div class="content d-flex flex-row flex-row-fluid">
                            <div class=" card-flush w-md-500px ">
                                <div class="card-body py-15 py-lg-20 d-flex flex-column align-items-center justify-content-center">
                                    <!--begin::Logo-->
                                    <div class="mb-7">
                                        <a class="">
                                            <img alt="Logo" src="~/img/PODARLOGO-01.png" class="h-40px">
                                        </a>
                                    </div>
                                    <!--end::Logo-->
                                    <!--begin::Title-->
                                    <h3 class="fw-bolder text-gray-900 mb-5"> Payment failed!</h3>
                                    <!--end::Title-->
                                    <!--begin::Illustration-->
                                    <div class="mb-0">
                                        <img src="~/Images/card-payment-failure.svg" class="mw-100 h-300px theme-light-show" alt="">
                                    </div>
                                    <!--end::Illustration-->
                                    <!--begin::Text-->
                                    <div class="fw-semibold fs-6 text-gray-700 mb-7 text-center">
                                        Sorry, we couldn't process your payment.
                                        <br>If money was debited from your account,<br />
                                        contact school finance and IT team for further updates.<br />
                                        Feel free to contact<br />
                                        <span style="color:#50cd89; font-weight: 600">accounts.office@pearlschool.org</span><br />
                                        <span style="color:#50cd89; font-weight: 600">itsupport@pearlschool.org</span>
                                    </div>
                                    <!--end::Text-->
                                    <!--begin::Link-->
                                    <div class="mb-0">
                                        <a href="~/Fee/Index" class="btn btn-sm btn-primary">Ok</a>
                                    </div>
                                    <!--end::Link-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>