<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="dbEduegateERPContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=eduegate;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbEduegateSchoolContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=eduegate;Persist Security Info=True;User ID=eduegateuser;Password=eduegate@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultLang" value="English" />
    <add key="SiteCookieKey" value="www.eduegate.com" />
    <add key="ContextKey" value="cce" />
    <add key="ImplementedCulture" value="en-US,ar" />
    <add key="PageSize" value="30" />
    <add key="RootUrl" value="http://localhost:8080/" />
    <add key="ImageHostUrl" value="http://localhost:8080/UploadImages/" />
    <add key="ImagesPhysicalPath" value="C:\Softop\Portal\UploadImages\" />
    <add key="DocumentsPhysicalPath" value="C:\Softop\Portal\Documents\" />
    <add key="DocumentsVirtualPath" value="Documents/" />
    <add key="DateFormat" value="dd/MM/yyyy" />
    <add key="DateTimeFormat" value="dd-MMM-yyyy hh:mm tt" />
    <add key="WebsiteUrl" value="http://www.eduegate.com/" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="RouteDebugger:Enabled" value="true" />
    <add key="Select2DataSize" value="10" />
    <add key="BoilerPlateTemplatePath" value="/CMS/Boilerplate/" />
    <!--New keys for order generation-->
    <add key="FromAddress" value="info@eduegate.com" />
    <add key="IsMultiCompany" value="false" />
    <add key="PortalTitle" value="Eduegate Suite" />
    <!--Tiers, Multi-->
    <add key="Tiers" value="Single" />
    <add key="MaxFetchCount" value="20" />
    <add key="IsSecured" value="true" />
    <add key="IsJustCMS" value="false" />
    <!--Immediate, Batch-->
    <add key="TransactionProcessing" value="Immediate" />
    <add key="LatestUpgradePhysicalPath" value="C:\BAAS\Portal\Upgrades\" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />   
  </system.web>
</configuration>
