@{
    ViewBag.Title = "Index";
}

@using Eduegate.Services.Contracts.Enums;
@model Eduegate.Framework.PageRendererEngine.ViewModels.BoilerPlateInfoViewModel
@{
    ViewData["Title"] = "Dashboard";
    var windowName = "summaryCard";
}

<!DOCTYPE html>
<html ng-app="Eduegate.Vendor.Portal">
<head>

    <script src="~/app/Services/app.js"></script>
    <script src="~/app/Controller/LayoutHeaderController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/VendorController.js"></script>
    <script src="~/app/Controller/DashboardController.js"></script>
    <script src="~/app/Controller/LoginController.js"></script>
    <script src="~/app/Controller/DataListController.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .chart-container {
            padding-top: 50px;
            width: 50%;
            height: 400px;
            float: left;
        }
    </style>

    <style>
        .styled-row {
            border: 2px solid #000;
            padding: 10px;
            background: #F3F9FF;
            border-radius: 10px;
            margin-bottom: 10px;
            align-items: center;
            /* display: flex; */
        }
    </style>
</head>
<body>
    @await Html.PartialAsync("~/Views/Shared/_GlobalInfoMessage.cshtml")
    <div id="Home">
        <div class="welcome-div">
            Welcome,<br>
            <h2>
                <span ng-if="HeaderInfoModel.Parent.GuardianFirstName">{{HeaderInfoModel.Parent.GuardianFirstName}}</span>
                <span ng-if="HeaderInfoModel.Parent.GuardianMiddleName">{{HeaderInfoModel.Parent.GuardianMiddleName}}</span>
                <span ng-if="HeaderInfoModel.Parent.GuardianLastName">{{HeaderInfoModel.Parent.GuardianLastName}}</span>
            </h2>
            <h4><span ng-if="HeaderInfoModel.LoginUserID">(<span ng-bind="HeaderInfoModel.LoginUserID"></span>)</span></h4>
        </div>

        @* Dashboard Banner *@
        <div class="bannersplit bannerSplitLeft">
            <img class="banner" src="~/Images/meeting-banner.png" />
            @* Dashboard Card *@
            <div class="banner">
                <div class="row mt-4 pt-2">
                    <div>
                        <span style="position: relative; width: 150px; height: 60px;">
                            <!-- Background SVG -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="251" height="121" viewBox="0 0 251 121" fill="none">
                                <path d="M0 21C0 9.40202 8.87183 0 19.8158 0H231.184C242.128 0 251 9.40202 251 21V100C251 111.598 242.128 121 231.184 121H19.8158C8.87183 121 0 111.598 0 100V21Z" fill="url(#paint0_linear_183_65)" />
                                <defs>
                                    <linearGradient id="paint0_linear_183_65" x1="269" y1="-6" x2="-35" y2="143" gradientUnits="userSpaceOnUse">
                                        <stop offset="0.290638" stop-color="#EEBD40" />
                                        <stop offset="1" stop-color="#BA8A0E" />
                                    </linearGradient>
                                </defs>
                            </svg>

                            <!-- Icon and Text Overlay -->
                            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-around; padding: 10px; color: white; font-family: Arial, sans-serif;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="37" viewBox="0 0 22 37" fill="none">
                                    <path d="M19.2596 12.5178C21.0011 10.8311 22 8.4824 22 6.07361V1.09846C22 0.491742 21.5083 0 20.9015 0H1.09846C0.491742 0 0 0.491742 0 1.09846V6.07361C0 8.58871 1.10615 10.952 3.03589 12.5607L9.47589 18.3159L3.03589 24.0711C1.10615 25.6799 0 28.0431 0 30.5582V35.5333C0 36.1401 0.491742 36.6318 1.09846 36.6318H20.9015C21.5083 36.6318 22 36.1401 22 35.5333V30.5582C22 28.1495 21.0011 25.8008 19.2596 24.114C19.2491 24.1038 19.2384 24.0938 19.2274 24.084L12.7728 18.3158L19.2274 12.5475C19.2382 12.538 19.2491 12.528 19.2596 12.5178ZM2.19691 2.19691H19.803V3.30379H2.20045C2.19923 3.30379 2.19813 3.30391 2.19691 3.30391V2.19691ZM19.8031 34.435H2.19691V33.2482C2.19813 33.2482 2.19923 33.2483 2.20045 33.2483H19.8031V34.435ZM2.35326 31.0515L11.1525 26.3981L19.6631 31.0515H2.35326ZM17.7463 25.707C18.5297 26.4705 19.1108 27.4116 19.4523 28.4323L11.6882 24.187C11.3645 24.0099 10.9737 24.0072 10.6477 24.1797L2.54976 28.4622C2.91664 27.4182 3.56205 26.489 4.45461 25.7485C4.46498 25.74 4.47511 25.7311 4.48512 25.7222L11.1242 19.7891L17.7463 25.707ZM11.1243 16.8429L7.58301 13.6781H14.6656L11.1243 16.8429ZM17.1182 11.4861C17.0853 11.4831 17.0521 11.4811 17.0184 11.4811H5.30408C5.24806 11.4811 5.1935 11.4866 5.1398 11.4947L4.485 10.9096C4.47499 10.9007 4.46474 10.8918 4.45448 10.8833C2.99866 9.67544 2.19679 7.96735 2.19679 6.07361V5.50046C2.19801 5.50046 2.19911 5.50058 2.20033 5.50058H19.803V6.07349C19.803 7.88374 19.0536 9.65067 17.7462 10.9248L17.1182 11.4861Z" fill="white" />
                                </svg>
                                <span class="widget-text">Scheduled <br />Meeting <strong>{{ScheduledMeetingCount}}</strong></span>
                            </div>
                        </span>

                        <span style="position: relative; width: 150px; height: 60px;" class="px-5">
                            <!-- Background SVG -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="251" height="121" viewBox="0 0 251 121" fill="none">
                                <path d="M0 21C0 9.40202 8.87183 0 19.8158 0H231.184C242.128 0 251 9.40202 251 21V100C251 111.598 242.128 121 231.184 121H19.8158C8.87183 121 0 111.598 0 100V21Z" fill="url(#paint0_linear_183_66)" />
                                <defs>
                                    <linearGradient id="paint0_linear_183_66" x1="13.052" y1="121" x2="289.798" y2="-0.812518" gradientUnits="userSpaceOnUse">
                                        <stop offset="0.290638" stop-color="#4BA62C" />
                                        <stop offset="1" stop-color="#9EF77E" />
                                    </linearGradient>
                                </defs>
                            </svg>

                            <!-- Icon and Text Overlay -->
                            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-around; padding: 10px; color: white; font-family: Arial, sans-serif;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="39" viewBox="0 0 40 39" fill="none">
                                    <path d="M28.3597 13.5395L16.9929 24.2841L11.4325 19.7612C10.9335 19.3546 10.2126 19.431 9.80598 19.9301C9.40697 20.4278 9.47584 21.15 9.97486 21.5566L16.3237 26.7177C16.5878 26.938 16.9286 27.0125 17.2472 26.958C17.4672 26.9204 17.6769 26.822 17.8445 26.6606L29.9435 15.2208C30.4073 14.7822 30.4308 14.052 29.9922 13.5882C29.5537 13.1244 28.8235 13.1009 28.3597 13.5395Z" fill="white" />
                                    <path d="M17.1475 3.5489C8.14959 5.08789 2.08686 13.6525 3.62585 22.6504C5.16484 31.6483 13.7294 37.711 22.7273 36.172C31.7253 34.6331 37.788 26.0685 36.249 17.0706C34.71 8.07264 26.1454 2.0099 17.1475 3.5489ZM22.338 33.896C14.5995 35.2196 7.22547 29.9996 5.90188 22.2611C4.5783 14.5226 9.79829 7.14852 17.5368 5.82493C25.2753 4.50135 32.6494 9.72134 33.973 17.4599C35.2966 25.1984 30.0766 32.5724 22.338 33.896Z" fill="white" />
                                </svg>
                                <span class="widget-text">Completed <br />Meeting <strong>{{CompletedMeetingCount}}</strong></span>
                            </div>
                        </span>

                        <span style="position: relative; width: 150px; height: 60px;" class="px-1">
                            <!-- Background SVG -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="251" height="121" viewBox="0 0 251 121" fill="none">
                                <path d="M0 21C0 9.40202 8.87183 0 19.8158 0H231.184C242.128 0 251 9.40202 251 21V100C251 111.598 242.128 121 231.184 121H19.8158C8.87183 121 0 111.598 0 100V21Z" fill="url(#paint0_linear_183_67)" />
                                <defs>
                                    <linearGradient id="paint0_linear_183_67" x1="251" y1="60.5" x2="0" y2="60.5" gradientUnits="userSpaceOnUse">
                                        <stop offset="0.290638" stop-color="#CD5C5C" />
                                        <stop offset="1" stop-color="#B82828" />
                                    </linearGradient>
                                </defs>
                            </svg>

                            <!-- Icon and Text Overlay -->
                            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-around; padding: 10px; color: white; font-family: Arial, sans-serif;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                                    <path d="M29.0202 4.9798C25.8077 1.76726 21.5434 0 17 0C12.4566 0 8.19234 1.76726 4.9798 4.9798C1.76726 8.19234 0 12.4566 0 17C0 21.5434 1.76726 25.8077 4.9798 29.0202C8.19234 32.2327 12.4566 34 17 34C21.5434 34 25.8077 32.2327 29.0202 29.0202C32.2327 25.8077 34 21.5434 34 17C34 12.4566 32.2327 8.19234 29.0202 4.9798ZM27.6536 27.6536C24.806 30.5013 21.021 32.0682 17 32.0682C12.979 32.0682 9.19402 30.5013 6.34638 27.6536C0.472222 21.7795 0.472222 12.2205 6.34638 6.34638C9.19402 3.49874 12.979 1.93182 17 1.93182C21.021 1.93182 24.806 3.49874 27.6536 6.34638C33.5278 12.2205 33.5278 21.7795 27.6536 27.6536Z" fill="white" />
                                    <path d="M24.4911 9.50883C24.1119 9.12962 23.5037 9.12962 23.1245 9.50883L16.9999 15.6334L10.8754 9.50883C10.4961 9.12962 9.88798 9.12962 9.50877 9.50883C9.12956 9.88804 9.12956 10.4962 9.50877 10.8754L15.6334 17L9.50877 23.1246C9.12956 23.5038 9.12956 24.1119 9.50877 24.4912C9.6948 24.6772 9.94522 24.7774 10.1885 24.7774C10.4318 24.7774 10.6822 24.6843 10.8682 24.4912L16.9928 18.3666L23.1174 24.4912C23.3034 24.6772 23.5538 24.7774 23.7971 24.7774C24.0475 24.7774 24.2908 24.6843 24.4768 24.4912C24.856 24.1119 24.856 23.5038 24.4768 23.1246L18.3665 17L24.4911 10.8754C24.8703 10.4962 24.8703 9.88804 24.4911 9.50883Z" fill="white" />
                                </svg>
                                <span class="widget-text">Cancelled <br /> Meeting <strong>{{CancelledMeetingCount}}</strong></span>
                            </div>
                        </span>

                        <span style="position: relative; width: 150px; height: 60px;" class="px-3">
                            <!-- Background SVG -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="250" height="121" viewBox="0 0 250 121" fill="none">
                                <path d="M0 21C0 9.40202 8.83648 0 19.7368 0H230.263C241.164 0 250 9.40202 250 21V100C250 111.598 241.164 121 230.263 121H19.7368C8.83648 121 0 111.598 0 100V21Z" fill="url(#paint0_linear_183_68)" />
                                <defs>
                                    <linearGradient id="paint0_linear_183_68" x1="250" y1="60.5" x2="0" y2="60.5" gradientUnits="userSpaceOnUse">
                                        <stop offset="0.290638" stop-color="#3BAAFA" />
                                        <stop offset="1" stop-color="#2777A4" />
                                    </linearGradient>
                                </defs>
                            </svg>

                            <!-- Icon and Text Overlay -->
                            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-around; padding: 10px; color: white; font-family: Arial, sans-serif;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
                                    <path d="M29.5456 24.5361C28.9743 24.1112 28.1668 24.2298 27.7419 24.801C27.5082 25.1151 27.2581 25.4232 26.9986 25.7168C26.5271 26.2502 26.5772 27.0649 27.1105 27.5364C27.3558 27.7532 27.6604 27.8597 27.9638 27.8597C28.3204 27.8597 28.6754 27.7126 28.9301 27.4244C29.2375 27.0767 29.5336 26.7118 29.8104 26.3397C30.2353 25.7686 30.1168 24.961 29.5456 24.5361Z" fill="white" />
                                    <path d="M31.7015 18.4907C31.0063 18.3393 30.3192 18.7805 30.1678 19.4761C30.0845 19.8587 29.9838 20.2421 29.8683 20.6157C29.6582 21.2959 30.0392 22.0176 30.7194 22.2278C30.8462 22.2669 30.9743 22.2856 31.1004 22.2856C31.6508 22.2856 32.1605 21.9302 32.3316 21.3766C32.4686 20.9333 32.5881 20.4784 32.6869 20.0244C32.8383 19.3288 32.3972 18.6422 31.7015 18.4907Z" fill="white" />
                                    <path d="M23.341 28.6645C22.9988 28.8555 22.6444 29.0341 22.2879 29.1951C21.639 29.4881 21.3506 30.2516 21.6436 30.9005C21.8589 31.3772 22.328 31.6593 22.8192 31.6593C22.9965 31.6593 23.1768 31.6225 23.349 31.5448C23.772 31.3537 24.1921 31.142 24.5979 30.9154C25.2195 30.5684 25.4421 29.7831 25.0949 29.1615C24.748 28.54 23.9627 28.3175 23.341 28.6645Z" fill="white" />
                                    <path d="M15.2109 6.1875V15.9661L10.484 20.6929C9.9806 21.1964 9.9806 22.0125 10.484 22.5159C10.7357 22.7677 11.0655 22.8935 11.3955 22.8935C11.7254 22.8935 12.0553 22.7676 12.3071 22.5159L17.4115 17.4115C17.6532 17.1698 17.789 16.8419 17.789 16.5V6.1875C17.789 5.47555 17.2119 4.89844 16.5 4.89844C15.788 4.89844 15.2109 5.47555 15.2109 6.1875Z" fill="white" />
                                    <path d="M31.7109 2.77148C30.999 2.77148 30.4219 3.3486 30.4219 4.06055V7.64002C27.4215 2.93442 22.1816 0 16.5 0C12.0927 0 7.9492 1.71632 4.8327 4.8327C1.71632 7.9492 0 12.0927 0 16.5C0 20.9073 1.71632 25.0508 4.8327 28.1673C7.9492 31.2837 12.0927 33 16.5 33C16.5109 33 16.5214 32.9986 16.5322 32.9984C16.5431 32.9986 16.5536 33 16.5645 33C17.029 33 17.4982 32.9804 17.959 32.9419C18.6685 32.8824 19.1954 32.2592 19.1361 31.5497C19.0766 30.8403 18.4542 30.3131 17.7439 30.3728C17.3543 30.4053 16.9576 30.4219 16.5645 30.4219C16.5536 30.4219 16.5431 30.4232 16.5322 30.4235C16.5214 30.4232 16.5109 30.4219 16.5 30.4219C8.82344 30.4219 2.57812 24.1766 2.57812 16.5C2.57812 8.82344 8.82344 2.57812 16.5 2.57812C21.4473 2.57812 25.9976 5.2151 28.4842 9.41016H24.9397C24.2277 9.41016 23.6506 9.98727 23.6506 10.6992C23.6506 11.4112 24.2277 11.9883 24.9397 11.9883H28.875C29.66 11.9883 30.3945 11.7677 31.0198 11.3855C31.06 11.3625 31.0987 11.3378 31.1356 11.3112C32.2574 10.5731 33 9.30362 33 7.86328V4.06055C33 3.3486 32.4229 2.77148 31.7109 2.77148Z" fill="white" />
                                </svg>
                                <span class="widget-text">Meeting <br /> History</span>
                            </div>
                        </span>

                    </div>
                </div>
            </div>
        </div>

        <div class="bannersplit bannerSplitRight">
            <div class="notificationCard p-5">
                <div><label class="activity-label">Activities</label></div>
                <div><label class="activity-sub-label">4 Slotes Booked</label></div>

                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <circle cx="4" cy="4" r="4" fill="#3F82C0"></circle>
                    </svg>
                    <label class="notitificationSubject px-2"></label>
                    <p class="px-5">

                    </p>
                </div>
            </div>
        </div>

        <div class="bannersplit bannerSplitUnder">
            <div class="meeting-group-card p-5">
                <label class="meeting-label">
                    Meetings
                </label><br />
                <div>
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <script>
                            $("#kt_datatable_complex_header").DataTable({
                                "columnDefs": [{
                                    "visible": false,
                                    "targets": -1
                                }]
                            });
                        </script>
                        <table id="datatable_complex_header" class="table table-row-bordered table-column-bordered table-row-gray-200 align-start gs-0 gy-4">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="fw-bold fs-6 text-gray-800 px-7" style="border-bottom: 1px solid #000; padding: 10px; text-align: left;">
                                    <th></th>
                                    <th class="meeting-table-head-label">SI No.</th>
                                    <th class="meeting-table-head-label">Signup Group Name</th>
                                    <th class="meeting-table-head-label">Start On</th>
                                    <th class="meeting-table-head-label">End On</th>
                                    <th class="meeting-table-head-label">Due On</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody ng-repeat="group in SignUpGroupDetails">
                                <tr class="styled-row">
                                    <td>
                                    </td>
                                    <td>
                                        <span ng-bind="$index+1"></span>
                                    </td>
                                    <td>
                                        <a href="#" class="text-dark fw-bold text-hover-primary mb-1 fs-6">
                                            <span ng-bind="group.GroupTitle"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <span ng-bind="group.FromDateString"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="group.ToDateString"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="group.DueDateString"></span>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" ng-click="GroupViewClick(group)">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>