@{
    ViewBag.Title = "User Profile";
}

<div ng-controller="UserProfileController" ng-init="Init()">

    <!--begin::Wrapper container-->
    <div class="app-container py-20">

        <!--begin::Main-->
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
            <!--begin::Content wrapper-->
            <div class="d-flex flex-column flex-column-fluid">


                <!--begin::Content-->
                <div id="kt_app_content" class="app-content flex-column-fluid ">

                    <!--begin::Row-->
                    <div class="row g-5 g-xl-8">
                        <!--begin::Col-->
                        <div class="col-xl-8 ps-xl-12">
                            <!--begin::Engage widget 1-->
                            <div class="card bgi-position-y-bottom bgi-position-x-end bgi-no-repeat bgi-size-cover min-h-250px bg-body mb-5 mb-xl-8" style="background-position: 100% 50px;background-size: 500px auto;background-image:url('/metronic8/demo34/assets/media/misc/city.png')" dir="ltr">
                                <!--begin::Body-->
                                <div class="card-body d-flex flex-column justify-content-center ps-lg-12">

                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-12 align-items-center">
                                                <img src="~/img/site-under-processing.svg" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Tables Widget 5-->

                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Content-->
            </div>
        </div>
        <!--end:::Main-->
    </div>
    <!--end::Wrapper container-->

</div>