.logo {
    background: url(../../eduegate/Images/logo/PODARLOGO-01.png) no-repeat center;
}
.columns:not(.leftcol) {
    background: url("../../eduegate/Images/login-bg-grey.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
