:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000000;
    --bs-white: #ffffff;
    --bs-gray: #7E8299;
    --bs-gray-dark: #3F4254;
    --bs-gray-100: #F9F9F9;
    --bs-gray-200: #F4F4F4;
    --bs-gray-300: #E1E3EA;
    --bs-gray-400: #B5B5C3;
    --bs-gray-500: #A1A5B7;
    --bs-gray-600: #7E8299;
    --bs-gray-700: #5E6278;
    --bs-gray-800: #3F4254;
    --bs-gray-900: #181C32;
    --bs-light: #F9F9F9;
    --bs-primary: #009ef7;
    --bs-secondary: #E1E3EA;
    --bs-success: #41A74B;
    --bs-info: #4949AC;
    --bs-warning: #ffc700;
    --bs-danger: #f1416c;
    --bs-dark: #181C32;
    --bs-light-rgb: 249, 249, 249;
    --bs-primary-rgb: 0, 158, 247;
    --bs-secondary-rgb: 225, 227, 234;
    --bs-success-rgb: 80, 205, 137;
    --bs-info-rgb: 114, 57, 234;
    --bs-warning-rgb: 255, 199, 0;
    --bs-danger-rgb: 241, 65, 108;
    --bs-dark-rgb: 24, 28, 50;
    --bs-primary-text: #0a58ca;
    --bs-secondary-text: #7E8299;
    --bs-success-text: #146c43;
    --bs-info-text: #087990;
    --bs-warning-text: #997404;
    --bs-danger-text: #b02a37;
    --bs-light-text: #7E8299;
    --bs-dark-text: #5E6278;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #F9F9F9;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfc;
    --bs-dark-bg-subtle: #B5B5C3;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #F4F4F4;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #F4F4F4;
    --bs-dark-border-subtle: #A1A5B7;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 24, 28, 50;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: Inter, Helvetica, "sans-serif";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #181C32;
    --bs-emphasis-color: #000000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(24, 28, 50, 0.75);
    --bs-secondary-color-rgb: 24, 28, 50;
    --bs-secondary-bg: #F4F4F4;
    --bs-secondary-bg-rgb: 244, 244, 244;
    --bs-tertiary-color: rgba(24, 28, 50, 0.5);
    --bs-tertiary-color-rgb: 24, 28, 50;
    --bs-tertiary-bg: #F9F9F9;
    --bs-tertiary-bg-rgb: 249, 249, 249;
    --bs-body-bg: #ffffff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-heading-color: #181C32;
    --bs-link-color: #009ef7;
    --bs-link-color-rgb: 0, 158, 247;
    --bs-link-decoration: none;
    --bs-link-hover-color: #0095e8;
    --bs-link-hover-color-rgb: 0, 149, 232;
    --bs-link-hover-decoration: none;
    --bs-code-color: #b93993;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #F4F4F4;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.475rem;
    --bs-border-radius-sm: 0.425rem;
    --bs-border-radius-lg: 0.625rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
    --bs-box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-emphasis-color: #000000;
    --bs-form-control-bg: var(--tw-light-active);
    --bs-form-control-disabled-bg: var(--bs-secondary-bg);
    --bs-highlight-bg: #fff3cd;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
    --bs-app-sidebar-base-bg-color: #3C649F;
    --bs-app-sidebar-base-border-color: #eee;
    --bs-table-bg: #f5f5f5;
    --bs-table-border-color: #e1e1e1;
    --bs-card-bg: rgba(0,0,0,0.01);
    --bs-card-border: rgba(0,0,0,0.10);
    --bs-tab-list-bg: #ffffff;
    --tw-light-active: #fcfcfc;
    --tw-light-active: #fcfcfc;
    --tw-gray-100: #f9f9f9;
    --tw-gray-200: #E1E3EA;
    --tw-gray-300: #7e7e7e;
    --tw-gray-400: #c4cada;
    --tw-gray-500: #99a1b7;
    --tw-gray-600: #78829d;
    --tw-gray-700: #4b5675;
    --tw-gray-800: #252f4a;
    --tw-gray-900: #071437;
    --bs-form-control-radius: .375rem;
    --bs-btn-control-radius: .375rem;
    --tw-btn-light-active: #7e7e7e;
    --tw-btn-button-orange-active: #366696;
    --bs-table-header-bg: #f5f5f5;
    --fc-border-color: #dbdfe9;
    --bs-chart-bg: #f4f4f6;
    --tw-badge-shadow: 0 1px 2px #848181;
    --tw-primary-light: #019fd8;
    --tw-primary-clarity: transparent;
    --tw-primary: #fff;
    --tw-info: #7239ea;
    --tw-info-light: #f8f5ff;
    --tw-info-clarity: rgba(114, 57, 234, .2);
}

[data-bs-theme=dark] {
    --bs-body-color: #FFFFFF;
    --bs-body-color-rgb: 255, 255, 255;
    --bs-body-bg: #111217;
    --bs-body-bg-rgb: 30, 30, 45;
    --bs-emphasis-color: #F9F9F9;
    --bs-emphasis-color-rgb: 249, 249, 249;
    --bs-secondary-color: rgba(255, 255, 255, 0.75);
    --bs-secondary-color-rgb: 255, 255, 255;
    --bs-secondary-bg: #3F4254;
    --bs-secondary-bg-rgb: 63, 66, 84;
    --bs-tertiary-color: rgba(255, 255, 255, 0.5);
    --bs-tertiary-color-rgb: 255, 255, 255;
    --bs-tertiary-bg: #2c2f43;
    --bs-tertiary-bg-rgb: 44, 47, 67;
    --bs-emphasis-color: #ffffff;
    --bs-primary-text: #6ea8fe;
    --bs-secondary-text: #E1E3EA;
    --bs-success-text: #75b798;
    --bs-info-text: #6edff6;
    --bs-warning-text: #ffda6a;
    --bs-danger-text: #ea868f;
    --bs-light-text: #F9F9F9;
    --bs-dark-text: #E1E3EA;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #181C32;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #3F4254;
    --bs-dark-bg-subtle: #20212a;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #5E6278;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #055160;
    --bs-warning-border-subtle: #664d03;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #5E6278;
    --bs-dark-border-subtle: #3F4254;
    --bs-heading-color: #FFFFFF;
    --bs-link-color: #009ef7;
    --bs-link-hover-color: #9ec5fe;
    --bs-link-color-rgb: 0, 158, 247;
    --bs-link-hover-color-rgb: 158, 197, 254;
    --bs-code-color: #b93993;
    --bs-border-color: #1b1c22;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-app-sidebar-base-bg-color: #15171C;
    --bs-app-sidebar-base-border-color: #26272f;
    --bs-table-bg: #13141a;
    --bs-table-border-color: #1b1c22;
    --bs-card-bg: rgba(255,255,255,0.04);
    --bs-card-border: rgba(255,255,255,0.12);
    --bs-tab-list-bg: var(--palette-black-alpha-6,rgba(0, 0, 0, .06));
    --tw-light-active: #1f212a;
    --tw-gray-100: #1b1c22;
    --tw-gray-200: #26272f;
    --tw-gray-300: #363843;
    --tw-gray-400: #464852;
    --tw-gray-500: #636674;
    --tw-gray-600: #808290;
    --tw-gray-700: #9a9cae;
    --tw-gray-800: #b5b7c8;
    --tw-gray-900: #f5f5f5;
    --bs-form-control-radius: .375rem;
    --bs-btn-control-radius: .375rem;
    --tw-btn-light-active: #1f212a;
    --tw-btn-button-orange-active: #366696;
    --bs-table-header-bg: #13141a;
    --fc-border-color: #363843;
    --bs-chart-bg: rgb(30 30 30);
    --tw-gray-900: #f5f5f5;
    --tw-brand: #d74e00;
    --tw-brand-active: #f35700;
    --tw-brand-light: #272320;
    --tw-brand-clarity: rgba(215,78,0,.2);
    --tw-brand-inverse: #fff;
    --tw-primary: #006ae6;
    --tw-primary-active: #107eff;
    --tw-primary-light: #172331;
    --tw-primary-clarity: rgba(0,106,230,.2);
    --tw-primary-inverse: #fff;
    --tw-success: #00a261;
    --tw-success-active: #01bf73;
    --tw-success-light: #1f2623;
    --tw-success-clarity: rgba(0,162,97,.2);
    --tw-badge-shadow: none;
    --tw-success-inverse: #fff;
    --tw-info: #883fff;
    --tw-info-active: #9e63ff;
    --tw-info-light: #272134;
    --tw-info-clarity: rgba(136,63,255,.2);
    --tw-info-inverse: #fff;
    --tw-danger: #e42855;
    --tw-danger-active: #ff3767;
    --tw-danger-light: #302024;
    --tw-danger-clarity: rgba(228,40,85,.2);
    --tw-danger-inverse: #fff;
    --tw-warning: #c59a00;
    --tw-warning-active: #d9aa00;
    --tw-warning-light: #242320;
    --tw-warning-clarity: rgba(197,154,0,.2);
    --tw-warning-inverse: #fff;
    --tw-dark: #272a34;
    --tw-dark-active: #2d2f39;
    --tw-dark-light: #1e2027;
    --tw-dark-clarity: rgba(39,42,52,.2);
    --tw-dark-inverse: #fff;
    --tw-light: #1f212a;
    --tw-light-active: #1f212a;
    --tw-light-light: #1f212a;
    --tw-light-clarity: rgba(31,33,42,.2);
    --tw-light-inverse: #9a9cae;
    --tw-secondary: #363843;
    --tw-secondary-active: #464852;
    --tw-secondary-light: #363843;
    --tw-secondary-clarity: rgba(54,56,67,.2);
    --tw-secondary-inverse: #9a9cae;
    --nav-tabs-bg: #272a34;
}


.logo {
    background: url(../../eduegate/Images/logo/PODARLOGO-01.png) no-repeat center;
}

.columns:not(.leftcol) {
    /*background: url("../../eduegate/Images/bg-web.jpg") lightgray 69.696px -65.486px / 131.746% 106.4% no-repeat;*/
    background-size: cover;
    background-position: center;
}

.eclipse-5 {
    position: absolute;
    left: 94vh;
    bottom: -15vh;
    width: 130vh;
    height: 128vh;
    border-radius: 50%;
    /*mix-blend-mode: multiply;*/
    /*opacity: 0.75;*/
    /*box-shadow: inset 24px 32px 184px 24px rgb(6 8 89 / 75%);*/
    /*transform: rotate(90deg);*/
    /*background: url("../../eduegate/Images/login-bg-grey.jpg") no-repeat;*/
    background-color: #FFB423;
}

.eclipse-4 {
    /*    position: absolute;
    left: -19vh;
    bottom: -1vh;
    width: 75vh;
    height: 75vh;
    border-radius: 50%;
    mix-blend-mode: multiply;*/
    position: absolute;
    left: 95vh;
    bottom: -14vh;
    width: 124vh;
    height: 126vh;
    border-radius: 0 50% 50% 0;
    /*mix-blend-mode: multiply;*/
    /*opacity: 0.75;*/
    box-shadow: inset 24px 32px 184px 24px rgb(6 8 89 / 75%);
    background: url("../../eduegate/Images/login-bg-grey.jpg") no-repeat;
    background-size: cover;
    /*transform: rotate(90deg);*/
}
.layout_ar .eclipse-4 {
    background: url("../../eduegate/Images/login-bg-grey-Ar.jpg") no-repeat;
}
.eclipse-3 {
    position: absolute;
    left: 78vh;
    bottom: 24vh;
    width: 49vh;
    height: 50vh;
    border-radius: 50%;
    /*mix-blend-mode: multiply;*/
    /* opacity: 0.75; */
    /*box-shadow: inset 24px 32px 184px 24px rgb(6 8 89);*/
    /*transform: rotate(90deg);*/
    box-shadow: 16px 22px 33px -7px rgba(0, 0, 0, 0.41);
    background-color: #ffffff;
    background-image: url("../../../Images/eduegate_logo.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.eclipse-2 {
    position: absolute;
    left: -43vh;
    bottom: -160vh;
    width: 350vh;
    height: 350vh;
    /*border-radius: 50%;*/
    mix-blend-mode: multiply;
    opacity: 0.05;
    /*box-shadow: inset 24px 32px 184px 24px rgb(6 8 89 / 75%);*/
    transform: rotate(-52deg);
    background-image: url("../../eduegate/Images/bg-web.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/*.eclipse-1 {
    position: absolute;
    left: -13vh;
    bottom: 16vh;
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    mix-blend-mode: multiply;
    opacity: 0.75;
    box-shadow: inset 24px 32px 184px 24px rgb(6 8 89 / 75%);
    transform: rotate(90deg);
}*/

.big-circles {
    position: absolute;
    width: 100vh;
    height: 100vh;
    left: 0;
    bottom: 0px;
    /*background: radial-gradient(50% 50% at 50% 50%, #7f4097 0%, #7f4097 100%);*/
    /*background: radial-gradient(50% 50% at 50% 50%, #7f4097 0%, #7f4097 100%);*/
}

.bgTopSection-new {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    height: 100%;
    overflow: hidden;
    top: 0px;
    /*background: radial-gradient(50% 50% at 50% 50%, #3B8AFF 0%, #0048B3 100%);*/
}

.hover-elevate-up:hover {
    transform: translateY(-2.5%);
    transition: transform 0.3s ease;
}

@media (min-width: 576px) {
    .eclipse-5 {
        left: 94vh;
    }

    .eclipse-4 {
        left: 95vh;
    }

    .eclipse-3 {
        left: 78vh;
    }

    .eclipse-2 {
        left: -43vh;
    }
}

@media (min-width: 768px) {
    .eclipse-5 {
        left: 94vh;
    }

    .eclipse-4 {
        left: 95vh;
    }

    .eclipse-3 {
        left: 78vh;
    }

    .eclipse-2 {
        left: -43vh;
    }
}

@media (min-width: 992px) {
    .eclipse-5 {
        left: -83vh;
    }

    .eclipse-4 {
        left: -78vh;
    }

    .eclipse-3 {
        left: 78vh;
    }

    .eclipse-2 {
        left: -185vh;
    }
}

@media (min-width: 1200px) {
    .eclipse-5 {
        left: -72vh;
    }

    .eclipse-4 {
        left: -67vh;
    }

    .eclipse-3 {
        left: 22vh;
    }

    .eclipse-2 {
        left: -164vh;
    }
}

@media (min-width: 1400px) {
    .eclipse-5 {
        left: -36vh;
    }

    .eclipse-4 {
        left: -31vh;
    }

    .eclipse-3 {
        left: 56vh;
    }

    .eclipse-2 {
        left: -148vh;
    }
}
