<!DOCTYPE html>
<html
  ng-app="EduegateApp"
  class="no-js swipeBody"
  lang=""
  ng-controller="LayoutController"
  ng-init="Init();"
  dir="{{$root.UserLanguage == 'ar' && $root.ShowSettingDialog == false ? 'rtl' : 'ltr'}}"
  ng-class="{'Layout_ar':$root.UserLanguage == 'ar' , 'Layout_en' : $root.UserLanguage == 'en'}"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <title></title>
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
    />
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; media-src *; img-src * filesystem: data:">

    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="android-favicon.png"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/jquery.maximage.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <!--<link rel="stylesheet" type="text/css" href="css/index.css">-->
    <link rel="stylesheet" href="css/font-awesome-animation.min.css" />
    <!-- <link rel="stylesheet" href="css/mdb.min.css"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/materialize.css" />
    <link rel="stylesheet" href="css/placeholder-loading.css">
    <link rel="stylesheet" href="css/c3.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/clientstyle/pearl/main.css" />
    <link rel="stylesheet" href="css/clientstyle/pearl/clientstyle.css" />
    <link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>
    <link rel="stylesheet" href="css/fancybox.css">

    <script type="text/javascript">
      var userip;
    </script>
    <script
      type="text/javascript"
      src="https://l2.io/ip.js?var=userip"
    ></script>
    <script src="scripts/jquery-3.2.1.min.js"></script>
    <script src="scripts/materialize.min.js"></script>
    <script src="scripts/swiper.jquery.min.js"></script>
    <script src="scripts/jquery-ui.js"></script>
    <script src="scripts/jgestures.min.js"></script>
    <script src="scripts/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="scripts/overhang.js"></script>
    <script src="scripts/fastclick.js"></script>
    <script src="scripts/d3.min.js"></script>
    <script src="scripts/c3.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-ui-router.js"></script>
    <script src="scripts/angular-sanitize.js"></script>
    <!--<script src="scripts/angular-touch.js"></script>-->
    <script src="scripts/angular-touch.min.js"></script>
    <!--<script src="scripts/angular-animate.js"></script>-->
    <script src="scripts/angular-animate.min.js"></script>
    <!--<script src="scripts/angular-ui/ui-bootstrap.js"></script>-->
    <script src="scripts/angular-ui/ui-bootstrap.min.js"></script>
    <!--<script src="scripts/angular-ui/ui-bootstrap-tpls.js"></script>-->
    <script src="scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/angular-filter.js"></script>
    <script src="scripts/angular-translate.min.js"></script>
    <script src="scripts/angular-translate-loader-static-files.min.js"></script>

    <script src="scripts/massautocomplete.js"></script>
    <script src="scripts/slick.js"></script>
    <script src="scripts/jslinq.min.js"></script>

    <script src="scripts/bootstrap-datepicker.min.js"></script>
    <script src="scripts/moment.min.js"></script>
    <script src="scripts/moment-with-locales.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
    <!-- <script src="scripts/platformOverrides.js"></script> -->
    <script src="scripts/jquery.waypoints.min.js"></script>
    <script src="scripts/owl-carousel/owl.carousel.js"></script>
    <script src="scripts/jquery.fancybox.js"></script>
    <script src="scripts/jquery-scrollto.js"></script>
    <script src="scripts/signature_pad.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <!-- <script src="scripts/mdb.min.js"></script> -->

    <script src="scripts/angular-indexed-db.min.js"></script>
    <script src="apps/clientsettings.js"></script>
    <script src="apps/app.js"></script>

    <script src="apps/Factories/GetContext.js"></script>
    <script src="apps/Factories/loggedIn.js"></script>

    <script src="apps/Modules/offlinedb.js"></script>
    <script src="apps/Services/offlineSync.js"></script>

    <script src="apps/Controllers/LayoutController.js"></script>
    <script src="apps/Controllers/HomeController.js"></script>
    <script src="apps/Controllers/UserSettingController.js"></script>
    <script src="apps/Controllers/LoginController.js"></script>
    <script src="apps/Controllers/SuperAdminDashboardController.js"></script>
    <script src="apps/Controllers/UserRegistrationController.js"></script>
    <script src="apps/Controllers/MyWardsController.js"></script>
    <script src="apps/Controllers/StudentProfileController.js"></script>
    <script src="apps/Controllers/AttendanceController.js"></script>
    <script src="apps/Controllers/StudentFeesController.js"></script>
    <script src="apps/Controllers/AssignmentController.js"></script>
    <script src="apps/Controllers/MarklistController.js"></script>
    <script src="apps/Controllers/StaffLeaveController.js"></script>
    <script src="apps/Controllers/ClassTeacherController.js"></script>
    <script src="apps/Controllers/TeacherClassController.js"></script>
    <script src="apps/Controllers/ProfileController.js"></script>
    <script src="apps/Controllers/EnrollController.js"></script>
    <script src="apps/Controllers/StudentAttendanceController.js"></script>
    <script src="apps/Controllers/MailBoxController.js"></script>
    <script src="apps/Controllers/LessonPlanController.js"></script>
    <script src="apps/Controllers/StaffTimeTableController.js"></script>
    <script src="apps/Controllers/EmployeeLeaveApplicationController.js"></script>
    <script src="apps/Controllers/DriverSchedulerController.js"></script>
    <script src="apps/Controllers/RouteDetailsController.js"></script>
    <script src="apps/Controllers/VehicleAttendantController.js"></script>
    <script src="apps/Controllers/OfflineController.js"></script>
    <script src="apps/Controllers/CircularController.js"></script>
    <script src="apps/Controllers/ClassStudentController.js"></script>
    <script src="apps/Controllers/IDCardController.js"></script>
    <script src="apps/Controllers/StudentPickerVerificationController.js"></script>
    <script src="scripts/fancybox.umd.js"></script>
    <script src="apps/Controllers/PickerVerificationHomeController.js"></script>
  </head>
  <body>
    <div class="loader-blk" ng-show="$root.ShowLoader == true">
      <div class="load-inner">
        <div class="main-loader">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <!--<br><span ng-bind="($root.LoadingMessage == null || $root.LoadingMessage == undefined || $root.LoadingMessage == '' ? 'Loading' : $root.LoadingMessage)"></span>-->
      </div>
    </div>
    <div class="toast align-items-center position-fixed m-1 rounded top-toast hide"role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
        <span>{{ToastMessage}}</span>
       </div>
      </div>
    </div>
    <div class="toast toast-success align-items-center position-fixed m-1 rounded top-toast hide bg-danger"role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
        <span>{{ToastMessage}}</span>
       </div>
      </div>
    </div>
    <div class="error-msg quickHide">
      <div class="error-msg-blk">
        <span ng-bind="$root.ErrorMessage"></span>
      </div>
    </div>
    <div class="success-msg quickHide">
      <div class="success-msg-blk">
        <span ng-bind="$root.SuccessMessage"></span>
      </div>
    </div>
    <div
      class="offline-tag position-fixed bottom-0 end-0 mb-3 mx-3"
      style="display: none; z-index: 1000"
    >
      <a class="badge badge-pill rounded-pill bg-danger" ng-if="claimSet.Value == 'Driver'">offline</a>
    </div>
    <div
      class="online-sync-tag position-fixed bottom-0 end-0 mb-3 mx-3 post"
      style="display: none; z-index: 1000"
    >
      <a class="badge badge-pill rounded-pill bg-success text-white" ng-if="claimSet.Value == 'Driver'"
        >Sync in<i class="fa fa-refresh fa-spin ms-2"></i
      ></a>
    </div>


  



    <div ui-view id="childViews" class="fullscreen justifyCenter"></div>

    <div id="slide-out" class="sidenav">
      <div class="user-view">
        <div class="background"><img src="./images/loginBg.png" /></div>
        <span class="white-text email">{{$root.UserName}}</span>
      </div>
      <ul>
        <li>
          <div>
            <img class="side-icon" src="./images/dashboard_icon.png" /><a
              class="sidenav-close"
              ui-sref="home"
              >Dashboard</a
            >
          </div>
        </li>
        <li ng-if="!Driver">
          <div>
            <img class="side-icon" src="./images/mywards.png" /><a
              class="sidenav-close"
              ui-sref="mywards"
              >Academics</a
            >
          </div>
        </li>
        <li>
          <div>
            <img class="side-icon" src="./images/profile.png" /><a
              class="sidenav-close"
              ui-sref="profile"
              >Profile</a
            >
          </div>
        </li>

        <li>
          <div>
            <img class="side-icon" src="./images/idcard.png" /><a
              class="sidenav-close"
              ui-sref="IDCard"
              >ID Card</a
            >
          </div>
        </li>

        <li>
          <div>
            <img class="side-icon" src="./images/enroll.png" /><a
              class="sidenav-close"
              ui-sref="enroll"
              >HR</a
            >
          </div>
        </li>
        <!-- <li><a class="subheader">Subheader</a></li> -->
        <!-- <li><a class="waves-effect" ng-click="$root.goBack()">Back</a></li> -->
        <li>
          <div>
            <img class="side-icon" src="./images/signout.png" /><a
              class="waves-effect"
              ng-click="$root.SignOut()"
              >Signout</a
            >
          </div>
        </li>
      </ul>
    </div>

    <script>
      $(document).ready(function () {
        $(".sidenav").sidenav();
      });
    </script>
  </body>
</html>
