<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<sectionGroup name="TrnsactionSetting">
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </sectionGroup>-->
  </configSections>
  
  <!--<log4net configSource="Web.log4net.config"/>-->
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="dbEduegateERPContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=eduegatedberpmain_mollymaid;Persist Security Info=True;User ID=eduegateuser;Password=eduegatedberp@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EduegatedERP_LoggerContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=eduegatedberp_logs;Persist Security Info=True;User ID=eduegateuser;Password=eduegatedberp;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ServiceHost" value="http://localhost/WB.Services/" />
    <add key="EmailFrom" value="customer.support@blink.com.kw" />
    <!--<add key="ServiceHost" value="http://localhost:8082/"/>-->
    <!--<add key="EnabledTransactions" value="BranchTransfer,PurchaseInvoice,PurchaseOrder,SalesOrder,SalesInvoice,SalesReturn,,SalesReturnRequest,PurchaseReturn,PurchaseReturnRequest"/>-->
    <add key="EnabledTransactions" value="AccountSalesInvoice,Journal,AccountPurchaseInvoice,Receipts,Payments,ReceiptVoucherRegularReceipt,PaymentVoucherRegularReceipt,PaymentVoucherInvoice,ReceiptVoucherInvoice" />
    <add key="EnableAccountProcessing" value="true" />
     <add key="TransactionProcessing" value="Immediate" />
    <add key="EnableAccountProcessing" value="true" />
    <add key="Tiers" value="Single" />
    <add key="MaxFetchCount" value="20" />
    <add key="IsSecured" value="true" />
    <add key="IsJustCMS" value="false" />
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ILoggingService" />
      </netNamedPipeBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITransactionEngineService" transactionFlow="true" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/LoggingService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ILoggingService" contract="LoggingService.ILoggingService" name="NetNamedPipeBinding_ILoggingService">
      </endpoint>
      <endpoint address="http://localhost/WB.Services/TransactionEngineService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITransactionEngineService" contract="TransactionClient.ITransactionEngineService" name="WSHttpBinding_ITransactionEngineService">
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
