
@{
    ViewBag.Title = "Index";
}

<div class="d-flex flex-column bg-light" style="flex:1;" ng-controller="FeePaymentHistoryController" ng-init="init()">

    <section class="home-section-wrap">
        <div class="container-xxl">
            <div class="row row-eq-height">
                <div class="d-flex flex-stack flex-wrap gap-2 mt-n1 mb-6" id="kt_toolbar">
                    <div class="page-title d-flex flex-column align-items-start me-3 py-2 py-lg-0 gap-2">
                        <h1 class="d-flex text-dark fw-bold m-0 fs-3">Payment History</h1>
                        <ul class="breadcrumb breadcrumb-dot fw-semibold text-gray-600 fs-7">
                            <li class="breadcrumb-item text-gray-600">
                                <a class="text-gray-600 text-hover-primary" ng-click="FeePaymentTabClick()">Fee</a>
                            </li>
                            <li class="breadcrumb-item text-gray-500">History</li>
                        </ul>
                    </div>
                </div>

                @await Html.PartialAsync("_FeePaymentHistory")

            </div>
        </div>
    </section>
</div>