
@{
    ViewData["Title"] = "Test";
}
<div class="content-part">
    <div class="card">
        <div class="card-body">
            <main class="col-md-12">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Pending Exams</h1>

                </div>
            </main>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>SL/NO</th>
                        <th>Exam Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int i = 1; i < 6; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>Exam 001 @i</td>
                                <td>21-09-2021</td>
                                <td>9.30 AM - 2.00 PM</td>
                                <td><a href="~/Exam/Questions" class="btn btn-primary">Start</a> </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>


</div>