<!DOCTYPE html>
<html lang="en" ng-app="Eduegate.OnlineExam.Portal">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eduegate.OnlineExam</title>
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css" />*@

    <script src="~/Scripts/jquery-3.4.1.js"asp-append-version="true" ></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"asp-append-version="true" ></script>
    <script src="~/Scripts/jquery.validate.js"asp-append-version="true" ></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"asp-append-version="true" ></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.custom.js"asp-append-version="true" ></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"asp-append-version="true" ></script>
    <script src="~/Scripts/bootstrap.js"asp-append-version="true" ></script>
    <script src="~/Scripts/bootstrap.min.js"asp-append-version="true" ></script>
    <script src="~/Scripts/respond.js"asp-append-version="true" ></script>
    <script src="~/Scripts/angular.js"asp-append-version="true" ></script>
    <script src="~/Scripts/angular-route.js"asp-append-version="true" ></script>
    <script src="~/Scripts/angular-animate.js"asp-append-version="true" ></script>
    <script src="~/Scripts/angular-sanitize.js"asp-append-version="true" ></script>
    <script src="~/Scripts/angular-filter.min.js"asp-append-version="true" ></script>

    <script src="~/app/app.js"asp-append-version="true" ></script>
    <script src="~/app/ReportController.js"asp-append-version="true" ></script>
    <script src="~/app/schedule.js"asp-append-version="true" ></script>
    <script src="~/app/util.js"asp-append-version="true" ></script>


    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link href="~/Content/dashboard/dashboard.css" rel="stylesheet" />
    <link href="~/Content/dashboard/docs.css" rel="stylesheet" />
    <link href="~/Content/dashboard/style.bundle.css" rel="stylesheet" />
    @* <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" /> *@

    <script src="~/app/Controller/ExamsListController.js"asp-append-version="true" ></script>
    <script src="~/app/Controller/ExamQuestionController.js"asp-append-version="true" ></script>
    <script src="~/app/Controller/ExamResultController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/LayoutController.js" asp-append-version="true"></script>


    <script src="~/Scripts/jquery.waypoints.min.js"asp-append-version="true" ></script>
    <script src="~/Scripts/moment.min.js"asp-append-version="true" ></script>
    <script src="~/Scripts/angular-moment.min.js"asp-append-version="true" ></script>
    <script src="~/Scripts/jquery-ui.js"asp-append-version="true" ></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"asp-append-version="true" ></script>
    <script src="~/Scripts/Custom.js"asp-append-version="true" ></script>
    <script src="~/Scripts/jquery.signature.js"asp-append-version="true" ></script>
    @* <script src="~/Scripts/interact.js"asp-append-version="true" ></script> *@

    <script src="~/app/utility.js"asp-append-version="true" ></script>
    <script src="~/app/chartbuilder.js"asp-append-version="true" ></script>
    <script src="~/app/BrowserNotifier.js"asp-append-version="true" ></script>

    <script src="~/Scripts/JSLINQ.js"asp-append-version="true" ></script>

    <script src="~/Scripts/ng-map.min.js" type="text/javascript"asp-append-version="true" ></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/plugins.bundle.css" rel="stylesheet" />

    @* <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"asp-append-version="true" ></script> *@
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />

</head>
<body>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    @RenderBody()
    
    @RenderSection("Scripts", required: false)


    <link rel="stylesheet" href="~/ToasterPlugin/simple-notify.min.css" />
    <script src="~/ToasterPlugin/simple-notify.min.js"asp-append-version="true" ></script>
    <script>
        @*utility.myHost = "@string.Format("{0}://{1}{2}/", Request.Url.Scheme, Request.Url.Authority, HttpRuntime.AppDomainAppVirtualPath)";*@

        function callToasterPlugin(status, title) {
            new Notify({
                status: status,
                title: title,
                effect: 'fade',
                speed: 300,
                customClass: null,
                customIcon: null,
                showIcon: true,
                showCloseButton: true,
                autoclose: true,
                autotimeout: 3000,
                gap: 20,
                distance: 20,
                type: 1,
                position: 'center'
            })
        }
    </script>

</body>
</html>
