@{
    ViewData["Title"] = "Vendor Contacts";
}
  

    <div id="VendorContact" class="formContainer" ng-controller="VendorController" ng-init="Init()">
    <h3 class="pb-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="25" viewBox="0 0 23 25" fill="none">
            <path d="M18.4812 7.23191C18.4812 11.2261 15.2434 14.4638 11.2498 14.4638C7.25583 14.4638 4.01807 11.2261 4.01807 7.23191C4.01807 3.23774 7.25583 0 11.2498 0C15.2434 0 18.4812 3.23774 18.4812 7.23191Z" fill="#515151" />
            <path d="M16.07 16.071H5.9288C2.65446 16.071 0 18.7254 0 22V22.0002V23.303C0 23.7467 0.359674 24.1067 0.803443 24.1067H21.6946C22.1384 24.1067 22.498 23.7467 22.498 23.303V22.4995C22.498 18.9491 19.6202 16.071 16.07 16.071Z" fill="#515151" />
        </svg>&ensp;
        Contact Person
    </h3>
    <div class="listPage p-8">
        <div class="d-flex justify-content-between">
        <h3>
            <a href="/home/DataListView?listName=VendorContacts" title="back to contact list">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="20" viewBox="0 0 26 20" fill="none">
                    <path d="M25 9.03287H2.96065L10.4803 1.54212C10.8335 1.18893 10.8335 0.617178 10.4803 0.264891C10.1271 -0.0882969 9.55537 -0.0882969 9.20308 0.264891L0.260836 9.20631C-0.0869455 9.55409 -0.0869455 10.1358 0.260836 10.4835L9.20316 19.4259C9.55634 19.779 10.1281 19.779 10.4804 19.4259C10.8336 19.0727 10.8336 18.5009 10.4804 18.1486L2.96065 10.8394H25C25.4986 10.8394 25.5 10.4985 25.5 10C25.5 9.50145 25.4985 9.03287 25 9.03287Z" fill="#515151" />
                </svg>
            </a> &ensp;
            Register Contact Person
        </h3>
        </div>
        <hr />
        <form>
            <div class="row ps-4">
                <div class="col-3 pe-8">
                    <div class="form-group row margin-top-20">
                        <label class="control-label col-md-12" for="FirstName">Name</label>
                        <input type="text" id="FirstName" ng-model="ContactPerson.FirstName" name="FirstName" oninput="this.value = this.value.toUpperCase()" required>
                    </div>
                </div>   
                
                <div class="col-3 pe-8">
                    <div class="form-group row margin-top-20">
                        <label class="control-label col-md-12" for="Title">Title</label>
                        <input type="text" id="Title" ng-model="ContactPerson.Title" name="Title" oninput="this.value = this.value.toUpperCase()">
                    </div>
                </div>
                
                <div class="col-3 pe-8">
                    <div class="form-group row margin-top-20">
                        <label class="control-label col-md-12" for="PhoneNo1">Phone Number</label>
                        <input type="tel" id="PhoneNo1" ng-model="ContactPerson.PhoneNo1" name="PhoneNo1" required>
                    </div>
                </div>
                
                <div class="col-3 pe-8">
                    <div class="form-group row margin-top-20">
                        <label class="control-label col-md-12" for="AlternateEmailID1">Email Address</label>
                        <input type="email" id="AlternateEmailID1" name="AlternateEmailID1" ng-model="ContactPerson.AlternateEmailID1" required>
                    </div>
                </div>
            </div>

            <input type="text" id="IsPrimaryContactPerson" name="IsPrimaryContactPerson" ng-model="ContactPerson.IsPrimaryContactPerson" ng-hide="true">
            <div class="form-check pt-5 px-13">
                    <input class="form-check-input" type="checkbox" value="" id="IsPrimaryContactPerson" ng-model="ContactPerson.IsPrimaryContactPerson" ng-true-value="'true'" ng-false-value="'false'" ng-change="updateData()">
                    <label class="form-check-label" for="flexCheckDefault">
                        Is Primary Contact Person
                    </label>
                </div>

            <hr />
            <div class="col-1" id="submitBtn">
            @* <button  id="submitButton" ng-click="submitContactForm()">Submit</button> *@
            <input type="submit" value="Submit" ng-click="SubmitContactPerson()">
        </div>
        </form>
    </div>
    </div>
