@model Eduegate.Web.Library.ViewModels.Common.CRUDMasterDetailViewModel
@using Eduegate.Framework.Extensions;

<div class="pageheadername stickdiv">
@*    <span>
        @if (Model.DisplayName.IsNotNullOrEmpty())
        {
            @Model.DisplayName;
        }
        else
        {
            @(Model.Name + " Maintenance");
        }
    </span>*@
    <div class="alignright menugroup">
        <div class="viewsummary active"></div>
        <div class="menu-wrap alignright">
            <div title="Comments" class="button-orange  alignleft popupbtn comments-btn" ng-show="@Model.IID" ng-click="Comments($event)">
                <a title="Comments"><i class="fa fa-comment"></i></a>
            </div>

            <div class="popup comments" data-popup-type="comments" style="display:none">
                <div class="popup-wrap" id="commentPanel">
                </div>
            </div>
        </div>        
    </div>
</div>