.logo {
    background: url(../../MES/Images/logo/PODARLOGO-01.png) no-repeat center;
}

.columns:not(.leftcol) {
    /*background: url("../../MES/Images/bg-web.jpg") lightgray 69.696px -65.486px / 131.746% 106.4% no-repeat;*/
    background-size: cover;
    background-position: center;
}

.eclipse-5 {
    position: absolute;
    left: 94vh;
    bottom: -15vh;
    width: 130vh;
    height: 128vh;
    border-radius: 50%;
    /*mix-blend-mode: multiply;*/
    /*opacity: 0.75;*/
    /*box-shadow: inset 24px 32px 184px 24px rgb(6 8 89 / 75%);*/
    /*transform: rotate(90deg);*/
    /*background: url("../../MES/Images/login-bg-grey.jpg") no-repeat;*/
    background-color: #FFB423;
}

.eclipse-4 {
    /*    position: absolute;
    left: -19vh;
    bottom: -1vh;
    width: 75vh;
    height: 75vh;
    border-radius: 50%;
    mix-blend-mode: multiply;*/
    position: absolute;
    left: 95vh;
    bottom: -14vh;
    width: 124vh;
    height: 126vh;
    border-radius: 0 50% 50% 0;
    /*mix-blend-mode: multiply;*/
    /*opacity: 0.75;*/
    box-shadow: inset 24px 32px 184px 24px rgb(6 8 89 / 75%);
    background: url("../../MES/Images/login-bg-grey.jpg") no-repeat;
    background-size: cover;
    /*transform: rotate(90deg);*/
}
.layout_ar .eclipse-4 {
    background: url("../../MES/Images/login-bg-grey-Ar.jpg") no-repeat;
}
.eclipse-3 {
    position: absolute;
    left: 78vh;
    bottom: 24vh;
    width: 49vh;
    height: 50vh;
    border-radius: 50%;
    /*mix-blend-mode: multiply;*/
    /* opacity: 0.75; */
    /*box-shadow: inset 24px 32px 184px 24px rgb(6 8 89);*/
    /*transform: rotate(90deg);*/
    box-shadow: 16px 22px 33px -7px rgba(0, 0, 0, 0.41);
    background-color: #ffffff;
    background-image: url("../../../Images/eduegate_logo.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.eclipse-2 {
    position: absolute;
    left: -43vh;
    bottom: -160vh;
    width: 350vh;
    height: 350vh;
    /*border-radius: 50%;*/
    mix-blend-mode: multiply;
    opacity: 0.05;
    /*box-shadow: inset 24px 32px 184px 24px rgb(6 8 89 / 75%);*/
    transform: rotate(-52deg);
    background-image: url("../../MES/Images/bg-web.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/*.eclipse-1 {
    position: absolute;
    left: -13vh;
    bottom: 16vh;
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    mix-blend-mode: multiply;
    opacity: 0.75;
    box-shadow: inset 24px 32px 184px 24px rgb(6 8 89 / 75%);
    transform: rotate(90deg);
}*/

.big-circles {
    position: absolute;
    width: 100vh;
    height: 100vh;
    left: 0;
    bottom: 0px;
    /*background: radial-gradient(50% 50% at 50% 50%, #7f4097 0%, #7f4097 100%);*/
    /*background: radial-gradient(50% 50% at 50% 50%, #7f4097 0%, #7f4097 100%);*/
}

.bgTopSection-new {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    height: 100%;
    overflow: hidden;
    top: 0px;
    /*background: radial-gradient(50% 50% at 50% 50%, #3B8AFF 0%, #0048B3 100%);*/
}

.hover-elevate-up:hover {
    transform: translateY(-2.5%);
    transition: transform 0.3s ease;
}

@media (min-width: 576px) {
    .eclipse-5 {
        left: 94vh;
    }

    .eclipse-4 {
        left: 95vh;
    }

    .eclipse-3 {
        left: 78vh;
    }

    .eclipse-2 {
        left: -43vh;
    }
}

@media (min-width: 768px) {
    .eclipse-5 {
        left: 94vh;
    }

    .eclipse-4 {
        left: 95vh;
    }

    .eclipse-3 {
        left: 78vh;
    }

    .eclipse-2 {
        left: -43vh;
    }
}

@media (min-width: 992px) {
    .eclipse-5 {
        left: -83vh;
    }

    .eclipse-4 {
        left: -78vh;
    }

    .eclipse-3 {
        left: 78vh;
    }

    .eclipse-2 {
        left: -185vh;
    }
}

@media (min-width: 1200px) {
    .eclipse-5 {
        left: -72vh;
    }

    .eclipse-4 {
        left: -67vh;
    }

    .eclipse-3 {
        left: 22vh;
    }

    .eclipse-2 {
        left: -164vh;
    }
}

@media (min-width: 1400px) {
    .eclipse-5 {
        left: -36vh;
    }

    .eclipse-4 {
        left: -31vh;
    }

    .eclipse-3 {
        left: 56vh;
    }

    .eclipse-2 {
        left: -148vh;
    }
}
