@model Eduegate.Web.Library.ViewModels.SearchListViewModel

<tr ng-controller="TableRowsController as ChildModel" class="subrow" style="display:none;" ng-init="ChildModel.ChildrenActivate('@Model.ParentViewName', '@Newtonsoft.Json.JsonConvert.SerializeObject(Model)')">
    <td colspan="%%COLSPAN%%">
        <div>
            <table class="listing ">
                @{
                    await Html.RenderPartialAsync("_TableHeader", Model);
                    await Html.RenderPartialAsync("_TableRows", Model);
                }
            </table>
        </div>
    </td>
</tr>