@using Eduegate.Services.Contracts.Enums;
@model Eduegate.Framework.PageRendererEngine.ViewModels.BoilerPlateInfoViewModel
@using Eduegate.Framework.Extensions;
@{
    Random rnd = new Random();
    var window = "_SK_Circular";
    var documentTypeID = Model.GetParameterValue<string>("DocumentTypeID");
    var title = Model.GetParameterValue<string>("Title");
    var viewID = Model.GetParameterValue<string>("ViewID");
    var cultureTitle = Model.GetParameterValue<string>("Title_" + System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName.ToLower());
    if (!string.IsNullOrEmpty(cultureTitle))
    {
        title = cultureTitle;
    }
    var viewName = (Eduegate.Services.Contracts.Enums.SearchView)int.Parse(viewID);
}


<div id="@window" template="_SK_Circular" class="card h-xl-100 rounded-2" ng-controller="ListRowExpandBoilerPlateController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model),'@window')">
    <script src="javascript/main.js"></script>

    <div id="Fee Summary">

        <div class="card-header border-0 pt-5 justify-content-start">

            <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bold text-dark">@title</span>
            </h3>

        </div>
        <div id="FeeListOverlay" class="preload-overlay center">
            <span id="FeeListOverlayButtonLoader" class="preloadImg">
                <img src="~/Images/preloader.GIF" alt="loader" />
            </span>
        </div>
        <div class="alert alert-info text-center" ng-if="!ShowPreLoader && (CircularList == null || CircularList.length == 0)">
            <b>There is no details found!</b>
        </div>
        <div class="card-body">

            <div class="fullcolumn-layout" ng-if="CircularList != null && CircularList.length > 0">
                <div class="flex-column-fluid mh-600px overflow-scroll">
                    <div class="row g-5 g-lg-8 mb-5 mb-xl-0">

                        <div class="text-left noPaddingLeft noPaddingRight col col-xl-12">
                            <div class="separator"></div>

                            <div class="accordion" id="accordionExample"
                                 ng-repeat="gridModel in CircularList  track by $index"
                                 ng-init="current = $parent.start; $parent.start=$parent.start+1;">
                                <div class="accordion-item border-0">
                                    <h2 class="accordion-header " id="heading{{current}}">
                                        <button class="accordion-button collapsed  fs-2 h-50px border-0 fw-bold " type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{current}}" aria-expanded="true" aria-controls="collapse{{current}}">
                                            <div class="border-0 border-gray-300 border-dashed min-w-125px py-3 me-7 d-none d-md-flex">
                                                @* <div class="fs-6 text-gray-800 fw-bold">Remark of &nbsp;</div> *@
                                                <div class="fs-6 text-gray-800 fw-bold" ng-bind="gridModel.CircularDate"></div>
                                            </div>
                                            <span ng-bind="gridModel.Title" class="fs-6"></span>

                                        </button>
                                    </h2>
                                    <div id="collapse{{current}}" class="accordion-collapse border-0 collapse" aria-labelledby="heading{{current}}" data-bs-parent="#accordionExample">
                                        <div class="accordion-body bg-light">
                                            <div class="mt-n1">

                                                <div class="m-0">
                                                    <div class="fw-semibold fs-7 text-gray-600 mb-1">Circular Date:</div>
                                                    <div class="fw-bold fs-3 text-gray-800 mb-8 bind" ng-bind="gridModel.CircularCode"></div>
                                                    <div class="row g-5 mb-3">
                                                        <div class="col-sm-6">
                                                            <div class="fw-semibold fs-7 text-gray-600 mb-1">Circular Date:</div>
                                                            <div class="fw-bold fs-6 text-gray-800" ng-bind="gridModel.CircularDate"></div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="fw-semibold fs-7 text-gray-600 mb-1">Expiry Date:</div>
                                                            <div class="fw-bold fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                                                <span class="pe-2" ng-bind="gridModel.ExpiryDate"></span>
                                                                <span class="fs-7 text-danger d-flex align-items-center">
                                                                    <span class="bullet bullet-dot bg-danger me-2"></span>Expires in &nbsp;
                                                                    <span ng-bind="GetExpiryDateDifference(gridModel)">
                                                                    </span>&nbsp;
                                                                    days
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row g-5 mb-4">
                                                        <div class="col-sm-6">
                                                            <div class="fw-semibold fs-7 text-gray-600 mb-1">Issue For:</div>
                                                            <div class="fw-bold fs-6 text-gray-800" ng-bind="gridModel.School"></div>
                                                            <div class="fw-semibold fs-7 text-gray-600" ng-bind="gridModel.Class">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="fw-semibold fs-7 text-gray-600 mb-1">Issued Sections:</div>
                                                            <div class="fw-bold fs-6 text-gray-800" ng-bind="gridModel.School"></div>
                                                            <div class="fw-semibold fs-7 text-gray-600" ng-bind="gridModel.Section">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="d-flex flex-wrap gap-2 justify-content-between mb-8">
                                                            <div class="d-flex align-items-center flex-wrap gap-2">
                                                                <h2 class="fw-semibold me-3 my-1" ng-bind="gridModel.Title"></h2>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="d-flex flex-wrap gap-2 flex-stack cursor-pointer">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="pe-5">
                                                                        <div class="d-flex align-items-center flex-wrap gap-1">
                                                                            <a class="fw-bold text-dark text-hover-primary" ng-bind="gridModel.ShortTitle"></a>

                                                                        </div>
                                                                        <span class="text-muted fw-semibold">secton :</span>
                                                                        <span class="text-muted fw-semibold" ng-bind="gridModel.Section"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="collapse fade show" data-kt-inbox-message="message">
                                                                <div class="py-5">
                                                                    <p class="font-semibold fs-6" ng-bind-html="v.Message"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="separator my-6"></div>
                                                    </div>
                                                    <div class="d-flex justify-content-end">
                                                        <div class="">
                                                            <div class="d-flex flex-stack mb-3" ng-repeat="gridModelAttach in gridModel.CircularAttachmentMaps track by $index">

                                                                <div class="fw-semibold pe-10 text-gray-600 fs-7">Attachment:</div>
                                                                <div class="text-end fw-bold fs-6 text-gray-800">
                                                                    <div ng-if="gridModelAttach.AttachmentReferenceID != null">
                                                                        <div class="btn btn-sm btn-primary" ng-click="DownloadURL('/Content/ReadContentsByID?contentID='+gridModelAttach.AttachmentReferenceID)">
                                                                            <i class="fa fa-2x fa-download" aria-hidden="true">
                                                                            </i>
                                                                            <span ng-bind="gridModelAttach.AttachmentDescription" class="ng-binding"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator"></div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>