@using Eduegate.Services.Contracts.Enums;
@model Eduegate.Framework.PageRendererEngine.ViewModels.BoilerPlateInfoViewModel
@{
    Random rnd = new Random();
    var windowName = "window_" + rnd.Next().ToString();
    var documentTypeID = Model.GetParameterValue<string>("DocumentTypeID");
}

<div id="@windowName" template="_Widgets" ng-controller="BoilerPlateController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model),'@windowName')">

    <!--<div class="card m-0 charts-grids widget draggable card-box bg-blue">
        <div class="page_subtitles">
            <div class="text-gray-500 flex-grow-1 me-4">{{Title}}</div>
            <div class="fw-bolder text-gray-700 text-xxl-end">QAR</div>
        </div>
        <div>
            <div class="d-flex flex-column content-justify-center flex-row-fluid">-->
    <!--begin::Label-->
    <!--<div class="d-flex fw-semibold align-items-center">-->
    <!--begin::Bullet-->
    <!--<div class="bullet w-8px h-3px rounded-2 bg-success me-3"></div>-->
    <!--end::Bullet-->
    <!--begin::Label-->
    <!--<div class="text-gray-500 flex-grow-1 me-4">Daily</div>-->
    <!--end::Label-->
    <!--begin::Stats-->
    <!--<div class="fw-bolder text-gray-700 text-xxl-end">{{DailyAmount}}</div>-->
    <!--end::Stats-->
    <!--</div>-->
    <!--end::Label-->
    <!--begin::Label-->
    <!--<div class="d-flex fw-semibold align-items-center my-3">-->
    <!--begin::Bullet-->
    <!--<div class="bullet w-8px h-3px rounded-2 bg-primary me-3"></div>-->
    <!--end::Bullet-->
    <!--begin::Label-->
    <!--<div class="text-gray-500 flex-grow-1 me-4">Monthly</div>-->
    <!--end::Label-->
    <!--begin::Stats-->
    <!--<div class="fw-bolder text-gray-700 text-xxl-end">{{MonthlyAmount}}</div>-->
    <!--end::Stats-->
    <!--</div>-->
    <!--end::Label-->
    <!--begin::Label-->
    <!--<div class="d-flex fw-semibold align-items-center">-->
    <!--begin::Bullet-->
    <!--<div class="bullet w-8px h-3px rounded-2 me-3" style="background-color: #E4E6EF"></div>-->
    <!--end::Bullet-->
    <!--begin::Label-->
    <!--<div class="text-gray-500 flex-grow-1 me-4">Yearly</div>-->
    <!--end::Label-->
    <!--begin::Stats-->
    <!--<div class=" fw-bolder text-gray-700 text-xxl-end">{{YearlyAmount}}</div>-->
    <!--end::Stats-->
    <!--</div>-->
    <!--end::Label-->
    <!--</div>
        </div>
    </div>-->

    <div class="col-span-12 sm:col-span-6 xxl:col-span-3">
        <div class="box overflow-hidden">
            <div class="box-body pb-0">
                <div class="flex px-4">
                    <div class="flex space-x-3 rtl:space-x-reverse">
                        <div class="avatar p-2 rounded-sm bg-primary/10 dark:primary/10">
                        </div> <h6 class="text-lg font-semibold text-gray-800 mb-2 dark:text-white my-auto">{{Title}}</h6>
                    </div>
                    @*<span class="badge bg-secondary/10 text-secondary py-1 ltr:ml-auto rtl:mr-auto !my-auto"><i class="ti ti-trending-up"></i> 1.8%</span>*@
                </div> <div class="Dataset px-4">
                    <h2 class="text-3xl font-bold text-gray-800 dark:text-white">{{DailyAmount}}</h2> <p class="text-xs text-gray-400 ">in daily</p>
                    <h2 class="text-3xl font-bold text-gray-800 dark:text-white">{{MonthlyAmount}}</h2> <p class="text-xs text-gray-400 ">in monthly</p>
                    <h2 class="text-3xl font-bold text-gray-800 dark:text-white">{{YearlyAmount}}</h2> <p class="text-xs text-gray-400 ">in yearly</p>
                </div>
            </div> <div id="sales-chart2" class="px-4" style="min-height: 165px;">
                <div id="apexchartsrteagb7hi" class="apexcharts-canvas apexchartsrteagb7hi apexcharts-theme-light" style="width: 500px; height: 150px;">
                    <svg id="SvgjsSvg2192" width="500" height="150" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable hovering-zoom" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
                        <g id="SvgjsG2194" class="apexcharts-inner apexcharts-graphical" transform="translate(12, 30)"><defs id="SvgjsDefs2193"><clipPath id="gridRectMaskrteagb7hi"><rect id="SvgjsRect2199" width="484" height="89" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskrteagb7hi"></clipPath><clipPath id="nonForecastMaskrteagb7hi"></clipPath><clipPath id="gridRectMarkerMaskrteagb7hi"><rect id="SvgjsRect2200" width="482" height="91" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><linearGradient id="SvgjsLinearGradient2205" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop2206" stop-opacity="0.5" stop-color="rgba(173,179,248,0.5)" offset="0"></stop><stop id="SvgjsStop2207" stop-opacity="0" stop-color="rgba(90,102,241,0)" offset="0.8"></stop><stop id="SvgjsStop2208" stop-opacity="0" stop-color="rgba(90,102,241,0)" offset="1"></stop></linearGradient></defs><line id="SvgjsLine2198" x1="86.4090909090909" y1="0" x2="86.4090909090909" y2="87" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="86.4090909090909" y="0" width="1" height="87" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG2216" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG2217" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g><line id="SvgjsLine2230" x1="0" y1="88" x2="478" y2="88" stroke="#e0e0e0" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line></g><g id="SvgjsG2232" class="apexcharts-grid"><g id="SvgjsG2233" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine2247" x1="0" y1="0" x2="478" y2="0" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2248" x1="0" y1="17.4" x2="478" y2="17.4" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2249" x1="0" y1="34.8" x2="478" y2="34.8" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2250" x1="0" y1="52.199999999999996" x2="478" y2="52.199999999999996" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2251" x1="0" y1="69.6" x2="478" y2="69.6" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2252" x1="0" y1="87" x2="478" y2="87" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG2234" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine2235" x1="0" y1="88" x2="0" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2236" x1="43.45454545454545" y1="88" x2="43.45454545454545" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2237" x1="86.9090909090909" y1="88" x2="86.9090909090909" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2238" x1="130.36363636363637" y1="88" x2="130.36363636363637" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2239" x1="173.8181818181818" y1="88" x2="173.8181818181818" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2240" x1="217.27272727272725" y1="88" x2="217.27272727272725" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2241" x1="260.7272727272727" y1="88" x2="260.7272727272727" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2242" x1="304.18181818181813" y1="88" x2="304.18181818181813" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2243" x1="347.63636363636357" y1="88" x2="347.63636363636357" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2244" x1="391.090909090909" y1="88" x2="391.090909090909" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2245" x1="434.54545454545445" y1="88" x2="434.54545454545445" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2246" x1="477.9999999999999" y1="88" x2="477.9999999999999" y2="94" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2254" x1="0" y1="87" x2="478" y2="87" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine2253" x1="0" y1="1" x2="0" y2="87" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG2201" class="apexcharts-area-  apexcharts-plot-series"><g id="SvgjsG2202" class="apexcharts-series" seriesName="series-1" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath2209" d="M 0 87L 0 69.6L 43.45454545454545 30.449999999999996L 86.9090909090909 53.94L 130.36363636363635 24.36L 173.8181818181818 39.15L 217.27272727272725 17.39999999999999L 260.7272727272727 30.449999999999996L 304.1818181818182 20.879999999999995L 347.6363636363636 39.15L 391.09090909090907 17.39999999999999L 434.5454545454545 52.199999999999996L 478 17.39999999999999L 478 87M 478 17.39999999999999z" fill="url(#SvgjsLinearGradient2205)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskrteagb7hi)" pathTo="M 0 87L 0 69.6L 43.45454545454545 30.449999999999996L 86.9090909090909 53.94L 130.36363636363635 24.36L 173.8181818181818 39.15L 217.27272727272725 17.39999999999999L 260.7272727272727 30.449999999999996L 304.1818181818182 20.879999999999995L 347.6363636363636 39.15L 391.09090909090907 17.39999999999999L 434.5454545454545 52.199999999999996L 478 17.39999999999999L 478 87M 478 17.39999999999999z" pathFrom="M 0 87L 0 69.6L 43.45454545454545 30.449999999999996L 86.9090909090909 53.94L 130.36363636363635 24.36L 173.8181818181818 39.15L 217.27272727272725 17.39999999999999L 260.7272727272727 30.449999999999996L 304.1818181818182 20.879999999999995L 347.6363636363636 39.15L 391.09090909090907 17.39999999999999L 434.5454545454545 52.199999999999996L 478 17.39999999999999L 478 87M 478 17.39999999999999z"></path><path id="SvgjsPath2210" d="M 0 69.6L 43.45454545454545 30.449999999999996L 86.9090909090909 53.94L 130.36363636363635 24.36L 173.8181818181818 39.15L 217.27272727272725 17.39999999999999L 260.7272727272727 30.449999999999996L 304.1818181818182 20.879999999999995L 347.6363636363636 39.15L 391.09090909090907 17.39999999999999L 434.5454545454545 52.199999999999996L 478 17.39999999999999" fill="none" fill-opacity="1" stroke="#5a66f1" stroke-opacity="1" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskrteagb7hi)" pathTo="M 0 69.6L 43.45454545454545 30.449999999999996L 86.9090909090909 53.94L 130.36363636363635 24.36L 173.8181818181818 39.15L 217.27272727272725 17.39999999999999L 260.7272727272727 30.449999999999996L 304.1818181818182 20.879999999999995L 347.6363636363636 39.15L 391.09090909090907 17.39999999999999L 434.5454545454545 52.199999999999996L 478 17.39999999999999" pathFrom="M 0 69.6L 43.45454545454545 30.449999999999996L 86.9090909090909 53.94L 130.36363636363635 24.36L 173.8181818181818 39.15L 217.27272727272725 17.39999999999999L 260.7272727272727 30.449999999999996L 304.1818181818182 20.879999999999995L 347.6363636363636 39.15L 391.09090909090907 17.39999999999999L 434.5454545454545 52.199999999999996L 478 17.39999999999999"></path><g id="SvgjsG2203" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle2260" r="0" cx="86.9090909090909" cy="53.94" class="apexcharts-marker w9tgkzm3z" stroke="#ffffff" fill="#5a66f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g></g><g id="SvgjsG2211" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG2212" class="apexcharts-series" seriesName="series-2" data:longestSeries="true" rel="1" data:realIndex="1"><path id="SvgjsPath2215" d="M 0 13.049999999999997L 43.45454545454545 47.849999999999994L 86.9090909090909 21.75L 130.36363636363635 43.5L 173.8181818181818 13.049999999999997L 217.27272727272725 49.589999999999996L 260.7272727272727 17.39999999999999L 304.1818181818182 52.199999999999996L 347.6363636363636 26.099999999999994L 391.09090909090907 31.319999999999993L 434.5454545454545 43.5L 478 9.569999999999993" fill="none" fill-opacity="1" stroke="#cbd5e1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="5" class="apexcharts-line" index="1" clip-path="url(#gridRectMaskrteagb7hi)" pathTo="M 0 13.049999999999997L 43.45454545454545 47.849999999999994L 86.9090909090909 21.75L 130.36363636363635 43.5L 173.8181818181818 13.049999999999997L 217.27272727272725 49.589999999999996L 260.7272727272727 17.39999999999999L 304.1818181818182 52.199999999999996L 347.6363636363636 26.099999999999994L 391.09090909090907 31.319999999999993L 434.5454545454545 43.5L 478 9.569999999999993" pathFrom="M 0 13.049999999999997L 43.45454545454545 47.849999999999994L 86.9090909090909 21.75L 130.36363636363635 43.5L 173.8181818181818 13.049999999999997L 217.27272727272725 49.589999999999996L 260.7272727272727 17.39999999999999L 304.1818181818182 52.199999999999996L 347.6363636363636 26.099999999999994L 391.09090909090907 31.319999999999993L 434.5454545454545 43.5L 478 9.569999999999993"></path><g id="SvgjsG2213" class="apexcharts-series-markers-wrap" data:realIndex="1"><g class="apexcharts-series-markers"><circle id="SvgjsCircle2261" r="0" cx="86.9090909090909" cy="21.75" class="apexcharts-marker wnjsos9uz" stroke="#ffffff" fill="#cbd5e1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG2204" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG2214" class="apexcharts-datalabels" data:realIndex="1"></g></g><line id="SvgjsLine2255" x1="0" y1="0" x2="478" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2256" x1="0" y1="0" x2="478" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG2257" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG2258" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG2259" class="apexcharts-point-annotations"></g><rect id="SvgjsRect2262" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect2263" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect></g>
                        <rect id="SvgjsRect2197" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect>
                        <g id="SvgjsG2231" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g>
                        <g id="SvgjsG2195" class="apexcharts-annotations"></g>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <style>
        .overflow-hidden {
            overflow: hidden;
        }

        .Dataset {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 0.25rem;
        }

        .box {
            position: relative;
            margin-bottom: 1.5rem;
            display: flex;
            flex-direction: column;
            border-radius: 0.125rem;
            border-width: 1px;
            border-color: rgb(226 232 240 / var(--tw-border-opacity));
            background-color: rgb(255 255 255 / var(--tw-bg-opacity));
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
    </style>
</div>
    