@using Eduegate.Services.Contracts.Enums;
@model Eduegate.Framework.PageRendererEngine.ViewModels.BoilerPlateInfoViewModel
@{
    Random rnd = new Random();
    var windowName = "window_" + rnd.Next().ToString();
}

<div id="@windowName" tempalte="_Notifications" ng-controller="BoilerPlateController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model),'@windowName')">
    <div class="widget charts-grids fullwidth alignleft" id="taskStatus">
        <div class="fullwidth alignleft">

            @*<div class="page_subtitles">Tasks Pending
                <a href="" class="pull-right">View all...</a>
            </div>*@

            <div class="card-block">

                <div class="msgList">

                    <div class="msgListItem notification" id="{{notification.FromLoginID}}"  ng-repeat="notification in NotificationList">
                        <span class="btn btn-sm btn-danger alignleft">{{notification.Message}}</span>
						@*<div class="innerNotify">
                            <span>{{notification.Message}}</span>
						
							
						</div>*@
                        @*<div class="tickBtn">
                            <button class="btn btn-success btn-round"><i class="fa fa-check"></i></button>
                            <button class="btn btn-danger btn-round "><i class="fa fa-close"></i></button>
                        </div>*@
                    </div>

                    @*<div class="msgListItem notification">
                        <span class="btn btn-sm btn-danger alignleft">Hold</span>    
						<div class="innerNotify">
							<span>SO#1234</span>
							<span>Created: System</span>
							<span class="text-white">12:00pm</span>
						</div>
						<div class="tickBtn">
							<button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
							<button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
						</div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
