@{
    var client = new Eduegate.Domain.FrameworkSettingBL(null).GetSettingValue<string>("CLIENTINSTANCE");
    var clientFullName = new Eduegate.Domain.FrameworkSettingBL(null).GetSettingValue<string>("CLIENT_FULL_NAME");
    var clientWebsite = new Eduegate.Domain.FrameworkSettingBL(null).GetSettingValue<string>("CLIENT_WEBSITE");
}

<!DOCTYPE html>
<html ng-app="Eduegate.Signup.Portal" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eduegate.Signup</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/styles-gray.css" asp-append-version="true" />

    <link href="~/Content/dashboard/dashboard.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Content/dashboard/docs.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/Style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/semantic.css" />
    <link rel="stylesheet" href="~/Content/fullcalendar.bundle.css" />
    <link href="~/Content/dashboard/style.bundle.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/dropzone.css" />




    <script src="~/Scripts/jquery-3.4.1.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js" asp-append-version="true"></script>
    <script src="~/Scripts/draggable/draggable.bundle.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.custom.js" asp-append-version="true"></script>
    <script src="~/app/CustomValidation.js" asp-append-version="true"></script>
    @* <script src="~/Scripts/bootstrap.js" asp-append-version="true"></script> *@
    <script src="~/Scripts/bootstrap.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Scripts/respond.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-route.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-animate.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-sanitize.js" asp-append-version="true"></script>
    <script src="~/Scripts/i18n/angular-locale_en.js" asp-append-version="true"></script>
    <script src="~/Scripts/tmhDynamicLocale.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-filter.min.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

    <script src="~/app/app.js" asp-append-version="true"></script>
    <script src="~/app/CustomValidation.js" asp-append-version="true"></script>
    <script src="~/app/print.min.js" asp-append-version="true"></script>
    <script src="~/app/ReportController.js" asp-append-version="true"></script>
    <script src="~/app/schedule.js" asp-append-version="true"></script>
    <script src="~/app/util.js" asp-append-version="true"></script>



    <script type="text/javascript" src="~/Scripts/Chart.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/Scripts/datatables.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/Scripts/fullcalendar.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/Scripts/semantic.js" asp-append-version="true"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" asp-append-version="true" />

    <script src="~/app/utility.js" asp-append-version="true"></script>

    <script src="~/Scripts/anime.min.js" asp-append-version="true"></script>

    <script src="~/Scripts/site.js" asp-append-version="true"></script>
    @*<script src="~/Content/dashboard/dashboard.js" asp-append-version="true"></script>*@
    <script src="~/Scripts/Custom.js"></script>

    <script src="~/app/Controller/LayoutController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/LayoutHeaderController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/login-controller.js" asp-append-version="true"></script>
    <script src="~/app/Controller/ResetController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/SignupController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/LessonplanListController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/MeetingRequestController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/UserProfileController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/MyLessonPlanController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/MeetingRemarksController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/MyAssignmentsController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/HomeController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/MyLessonPlanController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/AssignmentListController.js" asp-append-version="true"></script>
    <script src="~/app/Controller/EventController.js" asp-append-version="true"></script>
    

    <script src="~/Scripts/moment.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-moment.min.js" asp-append-version="true"></script>
    <script src="~/Content/scripts.bundle.js" asp-append-version="true"></script>


</head>
<body>
     

    <div ng-controller="LayoutController" ng-init="Init()">
        <div class="overlaydiv"></div>
        <div class="d-flex flex-column flex-root">
            <div class="docs-page d-flex flex-row flex-column-fluid">
                <div id="kt_docs_aside" class="docs-aside flex-wrap" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_docs_aside_toggle" style="">
                    <!--begin::Logo-->
                    <div class="docs-aside-logo flex-column-auto h-75px">
                        <a>
                            <img alt="Logo" src="~/Clients/@client/images/signup-logo.png" class="h-50px">
                        </a>
                    </div>
                    @*        <div id="Overlay" class="loaderoverlay">
                        <div class="d-flex justify-content-center align-items-center vh-100">
                            <div id="ButtonLoader" class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div> *@
                    @await Html.PartialAsync("~/Views/Shared/_GlobalInfoMessage.cshtml")
                    <div class="docs-aside-menu flex-column-fluid">
                        <div class="hover-scroll-overlay-y mt-5 mb-5 mt-lg-0 mb-lg-5 pe-lg-n2 me-lg-2 px-4" id="kt_docs_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-dependencies="#kt_docs_aside_logo" data-kt-scroll-wrappers="#kt_docs_aside_menu" data-kt-scroll-offset="10px">
                            <div class="menu menu-column menu-sub-indention menu-active-bg menu-pill menu-title-gray-800 menu-icon-gray-600 menu-state-primary menu-arrow-gray-700 fw-bold fs-5 my-5 mt-lg-2 mb-lg-0">
                                <div class="hover-scroll-y">

                                    <div class="menu-item">
                                        <div class="menu-content">
                                            <div class="separator mx-1 my-4"></div>
                                        </div>
                                    </div>
                                    <div class="menu-item mb-1">
                                        <a class="menu-link sidenav-close" ui-sref="home">
                                            <span class="menu-icon">
                                                <span class="svg-icon svg-icon-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-columns-gap" viewBox="0 0 16 16">
                                                        <path d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z" />
                                                    </svg>
                                                </span>
                                            </span>
                                            <span class="menu-title">Dashboard</span>
                                        </a>
                                    </div>
                                    <div class="menu-item mb-1" ng-click="HomeTabClick()">
                                        <a class="menu-link sidenav-close" >
                                            <span class="menu-icon">
                                                <span class="svg-icon svg-icon-2">
                                                    <img src="~/images/home.svg" />
                                                </span>
                                            </span>
                                            <span class="menu-title">Home</span>
                                        </a>
                                    </div>
                                    <div class="menu-item mb-1">
                                        <a class="menu-link sidenav-close" ng-click="LessonPlanTabClick()">
                                            <span class="menu-icon">
                                                <span class="svg-icon svg-icon-2">
                                                    <img src="~/images/class.svg" />
                                                </span>
                                            </span>
                                            <span class="menu-title">Class </span>
                                        </a>
                                    </div>
                                    <div class="menu-item mb-1">
                                        <a class="menu-link sidenav-close" ng-click="AssignmentTabClick()">
                                            <span class="menu-icon">
                                                <span class="svg-icon svg-icon-2">
                                                    <img src="~/images/assignment.svg" />
                                                </span>
                                            </span>
                                            <span class="menu-title">Assignment </span>
                                        </a>
                                    </div>
                                    <div class="menu-item mb-1">
                                        <a class="menu-link sidenav-close" ui-sref="profile">
                                            <span class="menu-icon">
                                                <span class="svg-icon svg-icon-2">
                                                    <img src="~/images/courses.svg" />
                                                </span>
                                            </span>
                                            <span class="menu-title">Course </span>
                                        </a>
                                    </div>
                                    <div class="menu-item mb-1">
                                        <a class="menu-link sidenav-close" ng-click="CalenderTabClick()">
                                            <span class="menu-icon">
                                                <span class="svg-icon svg-icon-2">
                                                    <img src="~/images/calander.svg" />
                                                </span>
                                            </span>
                                            <span class="menu-title">Calendar </span>
                                        </a>
                                    </div>
                                    <div class="menu-item mb-1">
                                        <a class="menu-link sidenav-close" ui-sref="profile">
                                            <span class="menu-icon">
                                                <span class="svg-icon svg-icon-2">
                                                    <img src="~/images/settings.svg" />
                                                </span>
                                            </span>
                                            <span class="menu-title">Settings </span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hover-scroll-overlay-y mt-5 mb-5 mt-lg-0 mb-lg-5 pe-lg-n2 me-lg-2 px-4">
                        <!--begin::Menu-->
                        <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_docs_aside_menu" data-kt-menu="true">
                            <div class="menu-item">
                                <div class="menu-item mb-1">
                                    <a class="menu-link" ng-click="Signout()">
                                        <span class="menu-icon">
                                            <span class="svg-icon svg-icon-2">
                                                <img src="~/images/logout.svg" />
                                            </span>
                                        </span>
                                        <span class="menu-title">Log out</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="docs-wrapper d-flex flex-column flex-row-fluid min-vh-100">
                    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
                        <!--begin::Page-->
                        <div class="app-page flex-column  " id="kt_app_page">
                            <div id="kt_header" class="header  align-items-stretch" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}" ng-controller="LayoutHeaderController">
                                <!--begin::Container-->
                                <div class=" container-fluid  d-flex align-items-center">
                                    <!--begin::Heaeder menu toggle-->
                                    <div class="d-flex topbar align-items-center d-lg-none ms-n2 me-3" title="Show aside menu">
                                        <div class="btn btn-icon btn-active-light-primary btn-custom w-30px h-30px w-md-40px h-md-40px" id="kt_header_menu_mobile_toggle">
                                            <div class="sidebar-menu-icon-wrap d-lg-none" id="kt_docs_aside_toggle">

                                                <div class="sidebar-menu-icon">

                                                    <span></span>

                                                    <span></span>

                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Heaeder menu toggle-->
                                    <!--begin::Header Logo-->
                                    <div class="header-logo me-5 me-md-10 flex-grow-1 flex-lg-grow-0">
                                        <a>
                                            @* <img alt="Logo" src="" class="logo-default h-25px"> *@
                                        </a>
                                    </div>
                                    <!--end::Header Logo-->
                                    <!--begin::Wrapper-->
                                    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                                        <!--begin::Navbar-->
                                        <div class="d-flex align-items-stretch" id="kt_header_nav">

                                            <!--begin::Menu wrapper-->
                                            <!--end::Menu wrapper-->
                                            <button type="button" class="theme-switch btn-reset" id="theme-toggle">
                                                <img class="theme-icon-light" src="~/images/theme-dark.svg" alt="Switch to the dark theme" title="Switch to dark mode">
                                                <img class="theme-icon-dark" src="~/images/theme-light.svg" alt="Switch to the light theme" title="Switch to light mode">
                                            </button>

                                        </div>
                                        <!--end::Navbar-->
                                        <!--begin::Toolbar wrapper-->
                                        <div class="topbar d-flex align-items-stretch flex-shrink-0">
                                            <!--begin::Search-->
                                            <div class="d-flex align-items-stretch ms-1 ms-lg-3">

                                                <form data-kt-search-element="form" class="d-none d-lg-block w-100 position-relative mb-5 mb-lg-0" autocomplete="off">
                                                    <!--begin::Hidden input(Added to disable form autocomplete)-->
                                                    <input type="hidden">
                                                    <!--end::Hidden input-->
                                                    <!--begin::Icon-->
                                                     <img class=" search-icon fs-2 text-gray-500 position-absolute top-50 translate-middle-y ms-5" src="~/images/searchnormal.svg" />
                                                    <!--begin::Input-->
                                                    <input type="text" class="search-input form-control form-control-solid rounded-4 shadow bg-body ps-13" name="search" value="" placeholder="Search..." data-kt-search-element="input">
                                                    <!--end::Input-->
                                                    <!--begin::Spinner-->
                                                    <span class="search-spinner  position-absolute top-50 end-0 translate-middle-y lh-0 d-none me-5" data-kt-search-element="spinner">
                                                        <span class="spinner-border h-15px w-15px align-middle text-gray-500"></span>
                                                    </span>
                                                    <!--end::Spinner-->
                                                    <!--begin::Reset-->
                                                    <span class="search-reset  btn btn-flush btn-active-color-primary position-absolute top-50 end-0 translate-middle-y lh-0 d-none me-4" data-kt-search-element="clear">
                                                        <i class="ki-duotone ki-cross fs-2 fs-lg-1 me-0"><span class="path1"></span><span class="path2"></span></i>
                                                    </span>
                                                    <!--end::Reset-->
                                                </form>
                                                <!--end::Search-->
                                            </div>
                                            <!--begin::Chat-->
                                            <div class="d-flex align-items-center ms-1 ms-lg-3">
                                                <!--begin::Menu wrapper-->
                                                <div class="position-relative btn btn-icon btn-active-light-primary btn-custom w-30px h-30px w-md-40px h-md-40px shadow rounded-circle" id="kt_drawer_chat_toggle">
                                                    <img src="~/images/notification-bell.svg" />
                                                    <span class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink">
                                                    </span>
                                                </div>
                                                <!--end::Menu wrapper-->
                                            </div>
                                            <!--end::Chat-->

                                            <div class="app-navbar-item ms-2 ms-lg-6" id="kt_header_user_menu_toggle">

                                                <!--begin::Menu wrapper-->
                                                <div class="cursor-pointer symbol symbol-circle symbol-30px symbol-lg-45px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">

                                                    <div class="cursor-pointer symbol symbol-circle symbol-45px symbol-lg-45px candidateProfile overlay overflow-hidden" id="{{allocstudent.StudentIID}}" ng-repeat="allocstudent in Students" ng-if="allocstudent.IsSelected">
                                                        <span class="d-flex w-25px h-25px fs-2 flex-center position-absolute overlay-wrapper z-index-0" style="  top: 50%;
                                  left: 50%;
                                  transform: translate(-50%, -50%);">
                                                            {{allocstudent.StudentInitials}}

                                                        </span>
                                                        <img alt="Logo" ng-src="/Content/ReadContentsByID?contentID={{allocstudent.StudentProfile}}" onerrorsrc=~/images/transparency-svg.svg"
                                                             title="{{allocstudent.FirstName}}&nbsp;{{allocstudent.MiddleName}}&nbsp;{{allocstudent.LastName}}"
                                                             class="object-fit-cover  position-relative border-active-primary btn-active-light-primary "
                                                             style="object-position:0 0; object-fit:cover;">
                                                        <div class="overlay-layer  bg-light-info" style="background-color:#944A9660 !important">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 16 16">
                                                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--begin::User account menu-->
                                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true" style="">
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-3">
                                                        <div class="menu-content d-flex align-items-center px-3 candidateProfile" id="{{allocstudent.StudentIID}}" ng-repeat="allocstudent in Students" ng-if="allocstudent.IsSelected">
                                                            <!--begin::Avatar-->
                                                            <div class="symbol symbol-50px me-5 overlay overflow-hidden">

                                                                <span class="d-flex  symbol symbol-circle symbol-30px symbol-lg-45px fs-2 flex-center position-absolute  overlay-wrapper z-index-0" style="  top: 50%;
                                  left: 50%;
                                  transform: translate(-50%, -50%);">
                                                                    {{allocstudent.StudentInitials}}

                                                                </span>
                                                                <img alt="Logo" ng-src="/Content/ReadContentsByID?contentID={{allocstudent.StudentProfile}}" onerrorsrc=~/images/transparency-svg.svg"
                                                                     title="{{allocstudent.FirstName}}&nbsp;{{allocstudent.MiddleName}}&nbsp;{{allocstudent.LastName}}"
                                                                     class="object-fit-cover  position-relative border-active-primary btn-active-light-primary "
                                                                     style="object-position:0 0; object-fit:cover;">
                                                                <div class="overlay-layer  bg-light-info" style="background-color:#944A9660 !important">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 16 16">
                                                                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                                                                    </svg>
                                                                </div>
                                                            </div>


                                                            <!--end::Avatar-->
                                                            <!--begin::Username-->
                                                            <div class="d-flex flex-column">
                                                                <div class="fw-bold d-flex align-items-center fs-5">
                                                                    {{allocstudent.StudentFullName}}                 
                                                                </div>

                                                           @*      <a href="#" class="fw-semibold text-muted text-hover-primary fs-7">
                                                                    max@kt.com
                                                                </a> *@
                                                            </div>
                                                            <!--end::Username-->
                                                        </div>
                                                    </div>
                                                    <!--end::Menu item-->
                                                    <!--begin::Menu separator-->
                                                    <div class="separator my-2"></div>
                                                    <!--end::Menu separator-->
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-5">
                                                        <a class="otherCandidates overlay overflow-hidden me-4" id="{{allocstudent.StudentIID}}" data-ng-repeat="allocstudent in Students"
                                                           ng-if="!allocstudent.IsSelected">
                                                            <div class="symbol symbol-745px overlay-wrapper badge-light-success rounded overflow-hidden ">
                                                                <span class="d-flex  symbol symbol-circle symbol-35px symbol-lg-45px fs-2 flex-center position-absolute z-index-0" style="  top: 50%;
                                  left: 50%;
                                  transform: translate(-50%, -50%);">
                                                                    {{allocstudent.StudentInitials}}

                                                                </span>
                                                                <img ng-src="/Content/ReadContentsByID?contentID={{allocstudent.StudentProfile}}" onerrorsrc=~/images/transparency-svg.svg"
                                                                     title="{{allocstudent.FirstName}}&nbsp;{{allocstudent.MiddleName}}&nbsp;{{allocstudent.LastName}}"
                                                                     class="object-fit-cover  position-relative border-active-primary btn-active-light-primary "
                                                                     style="object-position:0 0; object-fit:cover;">

                                                                <div class="overlay-layer  bg-light-info" style="background-color:#944A9660 !important">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 16 16">
                                                                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                                                                    </svg>
                                                                </div>
                                                            </div>

                                                        </a>
                                                    </div>
                                                  
                                                    <!--end::Menu item-->
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-5">
                                                        <a class="menu-link px-5" ng-click="Signout()">
                                                            Sign Out
                                                        </a>
                                                    </div>
                                                    <!--end::Menu item-->
                                                </div>
                                                <!--end::User account menu-->
                                                <!--end::Menu wrapper-->
                                            </div>



                                            <!--begin::Aside mobile toggle-->
                                            <!--end::Aside mobile toggle-->
                                        </div>
                                        <!--end::Toolbar wrapper-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Container-->
                            </div>

                        </div>

                        @RenderBody()

                        <!--Footer::Start-->
                        <div id="kt_app_footer" class="app-footer ">
                            <!--begin::Footer container-->
                            <div class="app-container  container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3 ">
                                <!--begin::Copyright-->
                                <div class="text-gray-900 order-2 order-md-1">
                                    <span class="text-muted fw-semibold me-1"><span ng-bind="CurrentYear"></span>©</span>
                                    <a href="@clientWebsite" target="_blank" class="text-gray-800 text-hover-primary">@clientFullName</a>
                                </div>
                                <!--end::Copyright-->
                                <!--begin::Menu-->
                                <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                                    @* <li class="menu-item"><a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a></li>

                                        <li class="menu-item"><a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a></li> *@
                                </ul>
                                <!--end::Menu-->
                            </div>
                            <!--end::Footer container-->
                        </div>
                        <!--Footer::End-->
                    </div>
                    <!--end::Page-->
                </div>
            </div>
            <!--end::Wrapper-->
        </div>
    </div>
</body>
</html>