@model Eduegate.Framework.PageRendererEngine.ViewModels.PageRedererViewModel
@{ if (Request.IsAjaxRequest()) { Layout = null; }

    Random rnd = new Random();
    var windowName = "window_" + rnd.Next().ToString();
}

<div id="DashbaordWindow" class="app-container  windowcontainer" style="display:block" ng-controller="PageController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model),'@windowName','DashbaordWindow');">
    @*<div class="jumbotron">
        <h2>&nbsp;&nbsp; Dashboard <i class="pageheader-setting fa fa-cog"></i></h2>
    </div>*@

    <div class="main-page row g-3 g-xl-5 mb-5 mb-xl-10"  id="sortable">
        @Html.Raw(Model.Content)
    </div>
</div>
