<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			*, *:before, *:after {   background: transparent !important;  color: #000 !important;  box-shadow: none !important;  text-shadow: none !important;  }
			* { box-sizing:border-box; }
			a, a:visited { text-decoration: underline; }
			a[href]:after { content: " (" attr(href) ")"; }
			abbr[title]:after {	content: " (" attr(title) ")";	}
			a[href^="#"]:after, a[href^="javascript:"]:after {	content: ""; }
			pre, blockquote {border: 1px solid #999;page-break-inside: avoid;}
			thead {	display: table-header-group;}
			tr,	img {page-break-inside: avoid; }
			img {max-width: 100% !important; }
			p, h2, h3 {	orphans: 3;	widows: 3; margin:0; padding:0;	}
			h2 { font-size: 16px;}
			h2,	h3 { page-break-after: avoid;}
			body { margin:0; padding:0; font-size:13px; font-family: Helvetica, Arial; width:100%; height:100%; color:#000000; text-align:center; line-height: 16px; }
			.noPaddingRight { padding-right:0 !important;}
			.fullWidth { float:left; width:100%;  }	
			.printWrapper { margin:0 auto; padding:0; width:95%; text-align:left; }
			.printHead { text-align:center; border-bottom: 1px dashed #000; line-height:20px; padding: 10px 0 5px; }
			.billingInfo table { width:100%; table-layout:fixed; border-collapse:collapse; }
			.billingInfo table tr th, .billingInfo table tr td { font-weight:normal; font-size:13px; padding:2px 10px; }
			.billingInfo table tr th { padding:5px 10px; border-bottom:1px solid #000; }
			.billingInfo table tr.vat td, .billingInfo table tr.cashAmnt td { padding:6px 10px; }
			.billingInfo table tr.vat td { border-top:1px solid #000; } 
			.billingInfo table tr.cashAmnt td  { border-top:1px dashed #000; } 
			.billingInfo table tr.cashAmnt td { border-bottom:1px solid #000; }
			.smallerColumn { width:40px; max-width:40px; min-width:40px; }
			.smallColumn { width:60px; max-width:60px; min-width:60px; }
			.minimumColumn { width:80px; max-width:80px; min-width:80px;}
			.mediumColumn { width:110px; max-width:110px; min-width:110px; }
			.leftAlign { float:left; }
			.rightAlign { float:right; }
			.otherInfo { padding:8px 10px; line-height:19px; }
			.billFooter { padding: 8px 0 5px; text-align: center;  border-top: 1px dashed #000000;  border-bottom: 1px dashed #000000; line-height: 18px; }
		</style>
    </head>
    <body>
        <div class="printWrapper">
            <div class="printHead fullWidth">
                <h2><strong>BAAS TEXTILES</strong></h2>
                <p>TAX INVOICE</p>
                <p>Mirbah, Fujairah</p>
                <p>TEL:09&nbsp;&nbsp;2372447 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 09&nbsp;&nbsp;2372448</p>
                <p>TRN: 100365650900003</p>
            </div>
            <div class="billingInfo fullWidth">
                <table width="100%">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th class="smallColumn" align="right">Qty</th>
                            <th class="mediumColumn" align="right">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MARMUM APPLE JUICE 200ML</td>
                            <td class="smallColumn" align="right">1</td>
                            <td class="mediumColumn" align="right">1.25</td>
                        </tr>
                        <tr>
                            <td>SULTANA</td>
                            <td class="smallColumn" align="right">1</td>
                            <td class="mediumColumn" align="right">1.50</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="vat">
                           @*//TODO:CHECK VAT CALCULATION *@
                           @*  <td colspan="2"><span class="leftAlign"><strong>VAT &nbsp;&nbsp; @5%</strong></span> <span class="rightAlign"><strong>0.14</strong></span></td>
                            <td></td> *@
                        </tr>
                        <tr class="totalAmnt">
                            <td colspan="2"><span class="leftAlign"><strong>TOTAL</strong></span> <span class="rightAlign"><strong>2.89</strong></span></td>
                            <td></td>
                        </tr>
                        <tr class="cashAmnt">
                            <td>Cash</td>
                            <td colspan="2" align="right">2.89</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="otherInfo fullWidth">
                <p>TOTAL NO. OF ITEMS SOLD:&nbsp;&nbsp; 2</p>
                <p><strong>#79516</strong>&nbsp;&nbsp;&nbsp;&nbsp;CASHIER-1</p>
                <p>21-Nov-18 &nbsp;&nbsp;&nbsp;&nbsp; 05:08 PM</p>
            </div>
            <div class="billFooter fullWidth">
                <p>KEEP RECEIPT FOR EXCHANGE</p>
                <p>THANK YOU & COME AGAIN</p>
            </div>
        </div>

    </body>
</html>
