<div class="popup configureShortkeys" data-popup-type="shorkeySettings">
    <p>Popup for Shortkey</p>
</div>

<div class="shortkeyPanel">
    <div class="shortkeyInner">
        <ul class="shortkeyColumns">
            <li ng-repeat="key in ShortCutKeys">{{ key.ShortCutKey}}</li>
        </ul>
        <div class="shortkeySettings popupbtn" data-popup-type="shorkeySettings" ng-click=""><i class="fa fa-cog"></i></div>
    </div>
</div>