<div>
    <div class="form-group" ng-repeat="property in ProductModel.QuickCreate.Properties">
        <label class="addprodleft control-label">{{property.PropertyType.PropertyTypeName}}</label>
        <div class="controls productname">
            <ui-select multiple style="width: 100%;" ng-model="property.SelectedProperties" theme="select2" class="pos-txt" ng-change="OnPropertyChange();">
                <ui-select-match placeholder="Select">{{$item.PropertyName}}</ui-select-match>
                <ui-select-choices repeat="propertyList in property.AvailableProperties|filter:$select.search">{{propertyList.PropertyName}}</ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>