<div class="main-page row g-0 g-xl-2 mb-5 mb-xl-10">
    <div class="scheduleWrapper innertab subject" id="FollowupDetail" style="display:block">
        <div class="window-tab preload-overlay" style="display:none;">
            <div class="preloader"><img src="/Images/preloader.GIF" width="32" height="32" alt="Loading" /></div>
        </div>
        <div class="col-md-12">
            <div class="app-content  flex-column-fluid p-0">
                <div class="row gy-0 g-xl-2">
                    <div class="col-lg-4">
                        <span class="form-group" ng-init="LoadMeetingEndCountdown()">
                            <span class="controls w-75">
                                <span class="menu-title"><strong>Meeting ends in :</strong></span>
                                <label class="fs-3" id="endTime" ng-bind="ExpiryTime" style="color:green" ng-if="!IsTimeExpiring"></label>
                                <label class="fs-3" id="endTime" ng-bind="ExpiryTime" style="color:red" ng-if="IsTimeExpiring"></label>
                            </span>
                        </span>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-lg-4">
                        <span class="form-group">
                            <span class="controls w-75">
                                <label>Student</label>
                                <br />
                                <span>
                                    <label ng-bind="SelectedSlotTimeDetail.Student"></label>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="col-lg-4">
                        <span class="form-group">
                            <span class="controls w-75">
                                <label>Class</label>
                                <br />
                                <span>
                                    <label ng-bind="SelectedSlotTimeDetail.SignupStudent.ClassName"></label>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="col-lg-4">
                        <span class="form-group">
                            <span class="controls w-75">
                                <label>Section</label>
                                <br />
                                <span>
                                    <label ng-bind="SelectedSlotTimeDetail.SignupStudent.SectionName"></label>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-lg-4">
                        <span class="form-group">
                            <span class="controls w-75">
                                <label>Parent Name</label>
                                <br />
                                <span>
                                    <label ng-bind="SelectedSlotTimeDetail.Parent"></label>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="col-lg-4">
                        <span class="form-group">
                            <span class="controls w-75">
                                <label>Date</label>
                                <br />
                                <span>
                                    <label ng-bind="SelectedSlotMapDetail.SlotDateString"></label>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="col-lg-4">
                        <span class="form-group">
                            <span class="controls w-75">
                                <label>Time</label>
                                <br />
                                <span>
                                    <label ng-bind="SelectedSlotTimeDetail.StartTimeString"></label> - <label ng-bind="SelectedSlotTimeDetail.EndTimeString"></label>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-lg-4">
                        <span class="form-group">
                            <span class="controls w-75">
                                <label>Parent Remarks</label>
                                <div class="controls">
                                    <div class="richtexteditor" data-popup-type="editor">
                                        <div>
                                            <div class="texteditwrapper" angularckeditor ng-model="SelectedSlotRemarkMapDetail.ParentRemarks"></div>
                                        </div>
                                        <input type="hidden" id="richtext" ng-model="ParentRemark" />
                                    </div>
                                </div>
                            </span>
                        </span>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-lg-4">
                        <span class="form-group">
                            <span class="controls w-75">
                                <label>Teacher Remarks</label>
                                <div class="controls">
                                    <div class="richtexteditor" data-popup-type="editor">
                                        <div>
                                            <div class="texteditwrapper" angularckeditor ng-model="SelectedSlotRemarkMapDetail.TeacherRemarks"></div>
                                        </div>
                                        <input type="hidden" id="richtext" ng-model="TeacherRemark" />
                                    </div>
                                </div>
                            </span>
                        </span>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-lg-4">

                        <div class="my-1 me-5">
                        </div>

                        <input type="button" value="Submit Entry" class="button-orange" ng-click="SaveMeetingSlotRemarks()" />

                    </div>
                </div>

            </div>
        </div>

        @*Popup for time alert start*@
        <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 111111">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header" style="text-align: center; align-items: center;">
                    <strong class="me-auto">Time Alert</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body" style="text-align: center; align-items: center;">
                    <b>Meeting ends in {{MeetingEndBalanceTime}}</b>
                </div>
            </div>
        </div>
        @*Popup for time alert end*@
    </div>

</div>