<div class="card-stacked" ng-if="ExamLists.length == 0">
    <div class="alert alert-info text-center">
        <b>No Active Exams detail Found.</b>
    </div>
</div>
<hr class="noMargin" ng-if="ExamLists.length == 0" />
<div class="card-action text-left noPaddingLeft noPaddingRight" ng-if="ExamLists.length != 0">

    <table border="1" style="width:100%" class="table table-striped table-bordered table-hover table-checkable order-column valign-middle">
        <thead>
            <tr>
                <th>Exam</th>
                <th>Description</th>
                <th>Subject</th>
                <th>Exam Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Minimum Mark</th>
                <th>Maximum Mark</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="examList in ExamLists" class="ng-scope">
                <td class="medium-col-width" rowspan="{{examList.ExamSubject.ExamSubjects}}">
                    <span ng-bind="examList.ExamDescription" class="ng-binding"></span>
                </td>
                <td class="medium-col-width" rowspan="{{examList.ExamSubject.ExamSubjects}}">
                    <span ng-bind="examList.ExamTypes" class="ng-binding"></span>
                </td>
                <td><div style="display:inline-block;width:100%;padding:.5rem 0rem;" ng-repeat="examSubject in examList.ExamSubject.ExamSubjects" ng-bind="examSubject.Subject.Value" class="ng-binding"></div></td>
                <td><div style="display:inline-block;width:100%;padding:.5rem 0rem;" ng-repeat="examSubject in examList.ExamSubject.ExamSubjects" ng-bind="examSubject.ExamDateString |date: 'dd-MM-yyyy'" class="ng-binding"></div></td>
                <td><div style="display:inline-block;width:100%;padding:.5rem 0rem;" ng-repeat="examSubject in examList.ExamSubject.ExamSubjects" ng-bind="examSubject.StartTimeString" class="ng-binding"></div></td>
                <td><div style="display:inline-block;width:100%;padding:.5rem 0rem;" ng-repeat="examSubject in examList.ExamSubject.ExamSubjects" ng-bind="examSubject.EndTimeString" class="ng-binding"></div></td>
                <td><div style="display:inline-block;width:100%;padding:.5rem 0rem;" ng-repeat="examSubject in examList.ExamSubject.ExamSubjects" ng-bind="examSubject.MinimumMarks" class="ng-binding"></div></td>
                <td><div style="display:inline-block;width:100%;padding:.5rem 0rem;" ng-repeat="examSubject in examList.ExamSubject.ExamSubjects" ng-bind="examSubject.MaximumMarks" class="ng-binding"></div></td>
                @*<td colspan="6" style="padding:0;">
            <table class="fullcolumn-layout grid">
                <tbody>
                    <tr ng-repeat-start="examSubject in examList.ExamSubject.ExamSubjects" class="ng-scope">
                        <td><span ng-bind="examSubject.Subject.Value" class="ng-binding"></span></td>
                        <td><span ng-bind="examSubject.ExamDateString" class="ng-binding"></span></td>
                        <td><span ng-bind="examSubject.StartTimeString" class="ng-binding"></span></td>
                        <td><span ng-bind="examSubject.EndTimeString" class="ng-binding"></span></td>
                        <td><span ng-bind="examSubject.MinimumMarks" class="ng-binding"></span></td>
                        <td><span ng-bind="examSubject.MaximumMarks" class="ng-binding"></span></td>
                    </tr>
                    <tr ng-repeat-end="" class="ng-scope"></tr>
                </tbody>
            </table>
        </td>*@
            </tr>
        </tbody>
    </table>
</div>
