@using Eduegate.Services.Contracts.Enums;
@model Eduegate.Framework.PageRendererEngine.ViewModels.BoilerPlateInfoViewModel
@{
    Random rnd = new Random();
    var windowName = "window_" + rnd.Next().ToString();
}

<div id="@windowName" tempalte="_BarChart" ng-controller="BoilerplateBarChartController" ng-init="childInit(@Newtonsoft.Json.JsonConvert.SerializeObject(Model),'@windowName')">

    <div id="barchart" class="col-md-4 charts-grids widget card">
        <div class="page_subtitles">@(Model.GetParameterValue<string>("Title"))</div>
        <canvas id="bar" height="300" width="400"> </canvas>
    </div>
    <script>
        
    </script>
</div>