@using Eduegate.Services.Contracts.Enums;
@model Eduegate.Framework.PageRendererEngine.ViewModels.BoilerPlateInfoViewModel
@{
    Random rnd = new Random();
    var windowName = "window_" + rnd.Next().ToString();
}

<div id="@windowName" tempalte="_EntitySummaryInfo" ng-controller="BoilerPlateController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model),'@windowName')">

    <div class="main-page" id="sortable">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body profile-information">
                    <div class="col-md-3">
                        <div class="entity-profile-pic text-center">
                            <i class="fa fa-user" style="font-size:200px;"></i>
                            @*<img src="images/lock_thumb.jpg" alt="">*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-desk">
                            <h1>{{DataSource.Customer.FirstName}}</h1>
                            <span class="text-muted">Customer</span>
                            <p>
                                Code : {{DataSource.Customer.CustomerCode}},
                                Email : {{DataSource.Customer.CustomerEmail}},
                                Telephone : {{DataSource.Customer.Telephone}}
                            </p>
                            <a href="#" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="profile-statistics">
                            <h1>0</h1>
                            <p>Current Month Sales</p>
                            <h1>0</h1>
                            <p>Current Month Purchases</p>
                            <h1>0</h1>
                            <p>Payment Due</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
