.profile-desc-item {
    width: 150px !important;
}
.table-checkable tr > td:first-child, .table-checkable tr > th:first-child {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.table-bordered > :not(caption) > * {
    border-width: 0 0 1px 0px;
}
.mdl-textfield__label {
    color: #3b3737 !important;
    font-size: 1.1rem !important;
}
.form-group.row.margin-top-20 {
    padding: 0rem 1rem !important;
}
.control-label {
    text-align: left !important;
    padding-left: 0rem !important;
}
.required {
    font-size: 1.3rem !important;
}
.navbar-custom{
    text-align:right !important;
}
.navbar-custom {
    background: #bd051c !important;
}
.mega-menu-dropdown i {
    margin-right: 5px;
}
.header-white .page-header.navbar .hor-menu .navbar-nav > li > a > i {
    color: #fff !important;
}
.header-white .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3, .header-white .page-header.navbar .hor-menu .navbar-nav > li > a {
    color: #fff !important;
    display: flex;
    align-items: center;
}
.header-white .page-header.navbar .hor-menu .navbar-nav>li.open>a, .header-white .page-header.navbar .hor-menu .navbar-nav>li:hover>a, .header-white .page-header.navbar .hor-menu .navbar-nav>li>a:hover {
    color: #c9c4c4 !important;
}
.header-white .page-header.navbar .hor-menu .navbar-nav>li.open>a>i, .header-white .page-header.navbar .hor-menu .navbar-nav>li:hover>a>i, .header-white .page-header.navbar .hor-menu .navbar-nav>li>a:hover>i {
    color: #c9c4c4 !important;
}
.logo-indigo .page-header.navbar .page-logo {
    background: #fff !important;
}
.header-white .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a:hover {
    color: #bd051c !important;
}
.page-header.navbar .top-menu {
    margin: 10px 0 10px 0px !important;
}
.card-topline-aqua {
    border-top: 3px solid #bd051c !important;
}
.page-full-width.page-header-fixed .page-container {
    margin-top: 131px ;
}
.page-container-bg-solid .page-title, .page-content-white .page-title {
    color: #bd051c !important;
}
#aboutme{
    display:none;
}
.profile-container {
    display:flex;
    align-items:center;
    justify-content:center;
}


.list-group-item {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
    .list-group-item:last-child {
        border-bottom: 0px solid rgba(0,0,0,.125);
    }

.profile-row {
    height: 250px;
}
.customtab.nav-tabs .nav-link.active, .customtab.nav-tabs .nav-link.active:focus {
    border-bottom: 0px solid #36c6d3;
    background-color: #bd051c !important;
    box-shadow: 0 5px 20px 0 #bd051c, 0 13px 24px -11px #bd051c;
    color: #fff;
    border-radius: 30px;
}
.profile-userpic img {
    border: 3px solid #bd051c !important;
}
.profile-userpicmain img {
    border-radius: 15px;
    border: 3px solid #006400 !important;
}
.form-horizontal .control-label {
    padding-left: 11px !important;
}
.otherCandidates{
    cursor:pointer;
}

#mailComposeContainer{
    display:none;
}
.common-heading-red {
    background-color: #bd051c;
    color:white;
}
#mailComposeContainer .tools a{
    color:white !important;
}
#newApplicationContainer {
    position: fixed;
    margin-bottom: auto;
    margin-right: auto;
    /*bottom: -15px;*/
    right: 0;
    z-index: 20000000;
    width: 650px;
    max-width: 100%;
    top: 60%;
    transform: translate(-50%, -50%);
}
#newApplicationContainer 
{
    display: none;
}
#newApplicationContainer .tools a 
{
    color: white !important;
}
.wizard > .steps > ul > li {
    width: 25% !important;
}
.error {
    color: #fe0303 !important;
}
.transport-route-mywards{
    text-align:center;
}
.transport-route-mywards .transport-route-mywards-place{
    font-weight:bold;
}
.PageLoaderBG_v02 {
    position: fixed;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 0.68);
    z-index: 200000000000;
    width: 100%;
    height: 100%;
   
}
.PageLoaderBG_v02 .PageLoaderInner_v02{
    position: fixed;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200000000001;
    width: 90px;
    height: 100px;
    text-align: center;
    background-image: url(../img/logo_loader.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.mdl-spinner--single-color .mdl-spinner__layer-1, .mdl-spinner--single-color .mdl-spinner__layer-2, .mdl-spinner--single-color .mdl-spinner__layer-3, .mdl-spinner--single-color .mdl-spinner__layer-4 {
    border-color: white !important;
}
.mdl-spinner{
    width:100px !important;
    height:100px !important;
}
.hours {
    BACKGROUND-COLOR: #d5cfcf !important;
}
.tr_2 {
    BACKGROUND-COLOR: #e5e5e5;
}

 #tomail:active, #tomail:focus {

    width: 100%;
}

@media only screen and (max-width: 35em) {
    /* Style adjustments for viewports that meet the condition */

    .page-full-width.page-header-fixed .page-container {
        margin-top: 0 !important;
    }
    .page-header-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content:space-between;
    }
    .page-header.navbar .page-logo {
        width: auto;
    }
    .page-header.navbar .top-menu {
        margin:0 !important;   
    }
    .page-logo img{
        height:40px !important;
    }

    element.style {
    }

    .profile-usertitle-job {
        margin-bottom: 10px;
    }
    .steps .disabled {
        display: none !important;
    }

    .wizard > .steps > ul > li {
        width: 100% !important;
    }
}
.loadingclass, .login-register-wrap .loaderoverlay {
    position: fixed;
}

.loadingclass {
    background: #f1416c;
    width: 100px;
    overflow: hidden;
    margin: -54px 0 0 -47px;
    text-align: center;
    position: fixed;
    z-index: 999999;
    box-shadow: 0 1px 6px #666;
    -webkit-box-shadow: 0 1px 6px #666;
    left: 50%;
    top: 50%;
}
.paymentLoader {
    width: 150%;
    height: 50%;
    position: absolute;
    z-index: -1;
    display: block;
    background: #009ef7;
    animation: spin 2s linear infinite;
    margin-top: 0;
    overflow: hidden;
    left: -25%;
    top: 25%;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
    .paymentLoader:after {
        content: "";
        width: 50%;
        top: 0;
        left: 0;
        height: 100%;
        background: #fff;
        position: absolute;
    }
.loaderimage {
    background-color: #fff;
    z-index: 100 !important;
    margin: 1px;
    width: 50px;
    height: 50px;
}